{
  "openapi": "3.0.3",
  "info": {
    "title": "Google Gemini Generate Content API",
    "version": "v1beta",
    "description": "Google Gemini API for content generation (text, image, audio) based on official documentation."
  },
  "servers": [
    {
      "url": "https://api.aisa.one/v1",
      "description": "Gemini API base URL"
    }
  ],
  "paths": {
    "/models/{model}:generateContent": {
      "post": {
        "summary": "生成内容 generateContent",
        "operationId": "generateContent",
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "本次调用使用的 Gemini 模型,在路径中以 `models/{model}` 形式给出。"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateContentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful content generation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateContentResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "调用指定 Gemini 模型,基于多轮对话生成内容。可通过工具、安全设置、系统指令与生成参数控制输出,并可选择复用此前缓存的上下文。"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key"
      }
    },
    "schemas": {
      "GenerateContentRequest": {
        "type": "object",
        "properties": {
          "contents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Content"
            },
            "description": "发送给模型的有序对话轮次,每一轮携带其内容片段以及产生它的角色。这是模型据以应答的主要输入。"
          },
          "tools": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tool"
            },
            "description": "允许模型在生成过程中调用的工具,用于开启函数调用等能力。"
          },
          "toolConfig": {
            "type": "object",
            "description": "约束模型如何选择并调用上述工具的配置。"
          },
          "safetySettings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SafetySetting"
            },
            "description": "本次请求的安全控制项,用于调整生成内容针对各类风险类别的过滤策略。"
          },
          "systemInstruction": {
            "$ref": "#/components/schemas/Content",
            "description": "顶层系统指令,用于设定模型的人设、规则或任务框架,对整段对话统一生效。"
          },
          "generationConfig": {
            "$ref": "#/components/schemas/GenerationConfig",
            "description": "塑造本次生成过程的参数,例如采样与输出长度等控制项。"
          },
          "cachedContent": {
            "type": "string",
            "description": "指向此前已缓存上下文的引用,可复用以避免每次调用都重传大体量的共享内容。\n[⚠️批注:源码未声明该缓存 ID 的获取接口与生效条件,待研发确认。]"
          }
        },
        "required": [
          "contents"
        ]
      },
      "Content": {
        "type": "object",
        "properties": {
          "parts": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "type": "object",
                  "properties": {
                    "text": {
                      "type": "string",
                      "description": "片段的文本内容,当该片段承载文字时使用。"
                    }
                  }
                },
                {
                  "type": "object",
                  "properties": {
                    "inline_data": {
                      "type": "object"
                    }
                  }
                }
              ]
            },
            "description": "构成一个对话轮次的若干片段。每个片段要么是一段文本,要么是内联的二进制数据(如图像),从而让单轮内容可以混合多种模态。"
          },
          "role": {
            "type": "string",
            "enum": [
              "system",
              "user",
              "assistant"
            ],
            "description": "该轮内容的作者身份,用于区分系统引导、终端用户输入与模型既往输出,使模型以正确的视角解读对话。"
          }
        }
      },
      "Tool": {
        "type": "object"
      },
      "SafetySetting": {
        "type": "object"
      },
      "GenerationConfig": {
        "type": "object"
      },
      "GenerateContentResponse": {
        "type": "object",
        "properties": {
          "candidates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Content"
            },
            "description": "模型生成的内容;每个候选是一份自包含的应答,由内容片段及其角色组成。"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "description": "标识失败类别的数字错误码。"
              },
              "message": {
                "type": "string",
                "description": "对出错原因的可读说明。"
              },
              "status": {
                "type": "string",
                "description": "错误的符号化状态字符串,便于程序按状态分支处理。"
              }
            },
            "description": "生成失败时返回的错误载荷,携带错误码、可读消息与符号化状态。"
          }
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ]
}
