{
  "openapi": "3.0.3",
  "info": {
    "title": "AIsa API proxy",
    "description": "APIs for prediction markets.",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/matching-markets/sports": {
      "get": {
        "summary": "查询体育赛事的等价市场 get_matching-markets-sports",
        "description": "为同一批体育赛事在 Polymarket、Kalshi 等平台间匹配等价的预测市场。用一个或多个 Polymarket market slug 或 Kalshi event ticker 作为查询种子 —— 两类种子互斥。典型场景为跨平台比价与套利发现。\n\n**错误码**\n\n| 状态码 | 说明 |\n| --- | --- |\n| `400` | 请求参数缺失或非法,例如未提供任何 `polymarket_market_slug` 或 `kalshi_event_ticker`。 |\n| `404` | 未匹配到任何等价市场。 |",
        "operationId": "get_matching-markets-sports",
        "parameters": [
          {
            "name": "polymarket_market_slug",
            "in": "query",
            "required": false,
            "description": "一个或多个用于查找跨平台等价市场的 Polymarket market slug。重复该查询参数即可一次传入多个。不能与 `kalshi_event_ticker` 同时使用 —— 每次请求只选一种种子。",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "nfl-ari-den-2025-08-16",
                "nfl-dal-phi-2025-09-04"
              ]
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "kalshi_event_ticker",
            "in": "query",
            "required": false,
            "description": "一个或多个用于查找跨平台等价市场的 Kalshi event ticker。重复该查询参数即可一次传入多个。不能与 `polymarket_market_slug` 同时使用 —— 每次请求只选一种种子。",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "KXNFLGAME-25AUG16ARIDEN",
                "KXNFLGAME-25SEP04DALPHI"
              ]
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Matching markets response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "markets": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "oneOf": [
                            {
                              "type": "object",
                              "description": "Kalshi market",
                              "properties": {
                                "platform": {
                                  "type": "string",
                                  "enum": [
                                    "KALSHI"
                                  ],
                                  "example": "KALSHI"
                                },
                                "event_ticker": {
                                  "type": "string",
                                  "example": "KXNFLGAME-25AUG16ARIDEN"
                                },
                                "market_tickers": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "example": [
                                    "KXNFLGAME-25AUG16ARIDEN-ARI",
                                    "KXNFLGAME-25AUG16ARIDEN-DEN"
                                  ]
                                }
                              },
                              "required": [
                                "platform",
                                "event_ticker",
                                "market_tickers"
                              ]
                            },
                            {
                              "type": "object",
                              "description": "Polymarket market",
                              "properties": {
                                "platform": {
                                  "type": "string",
                                  "enum": [
                                    "POLYMARKET"
                                  ],
                                  "example": "POLYMARKET"
                                },
                                "market_slug": {
                                  "type": "string",
                                  "example": "nfl-ari-den-2025-08-16"
                                },
                                "token_ids": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "example": [
                                    "34541522652444763571858406546623861155130750437169507355470933750634189084033",
                                    "104612081187206848956763018128517335758189185749897027211060738913329108425255"
                                  ]
                                }
                              },
                              "required": [
                                "platform",
                                "market_slug",
                                "token_ids"
                              ]
                            }
                          ]
                        }
                      },
                      "example": {
                        "nfl-ari-den-2025-08-16": [
                          {
                            "platform": "KALSHI",
                            "event_ticker": "KXNFLGAME-25AUG16ARIDEN",
                            "market_tickers": [
                              "KXNFLGAME-25AUG16ARIDEN-ARI",
                              "KXNFLGAME-25AUG16ARIDEN-DEN"
                            ]
                          },
                          {
                            "platform": "POLYMARKET",
                            "market_slug": "nfl-ari-den-2025-08-16",
                            "token_ids": [
                              "34541522652444763571858406546623861155130750437169507355470933750634189084033",
                              "104612081187206848956763018128517335758189185749897027211060738913329108425255"
                            ]
                          }
                        ],
                        "nfl-dal-phi-2025-09-04": [
                          {
                            "platform": "KALSHI",
                            "event_ticker": "KXNFLGAME-25SEP04DALPHI",
                            "market_tickers": [
                              "KXNFLGAME-25SEP04DALPHI-DAL",
                              "KXNFLGAME-25SEP04DALPHI-PHI"
                            ]
                          }
                        ]
                      },
                      "description": "按种子分组的匹配结果:每个键是你传入的 slug 或 ticker,其值是各平台上找到的等价市场列表。每条记录带有 `platform` 判别字段(`KALSHI` 或 `POLYMARKET`)及该平台的原生标识。"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Missing or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Missing required parameter",
                      "description": "请求无效时的简短机器可读错误标签,例如缺少必填参数。"
                    },
                    "message": {
                      "type": "string",
                      "example": "At least one polymarket_market_slug or kalshi_event_ticker is required",
                      "description": "对请求错误原因的可读详细说明。"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - No matching markets found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Not found",
                      "description": "表示未匹配到市场的简短机器可读错误标签。"
                    },
                    "message": {
                      "type": "string",
                      "example": "No matching markets found for the provided parameters",
                      "description": "对未匹配到等价市场的可读详细说明。"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/matching-markets/sports/{sport}": {
      "parameters": [
        {
          "name": "sport",
          "in": "path",
          "required": true,
          "description": "The sport to find matching markets for.\n\nSport abbreviations:\n- nfl = Football\n- mlb = Baseball\n- cfb = College Football\n- nba = Basketball\n- nhl = Hockey\n- cbb = College Basketball\n- pga = Golf\n- tennis = Tennis",
          "schema": {
            "type": "string",
            "enum": [
              "nfl",
              "mlb",
              "cfb",
              "nba",
              "nhl",
              "cbb",
              "pga",
              "tennis"
            ],
            "example": "nfl"
          }
        }
      ],
      "get": {
        "summary": "按运动与日期查询等价市场 get_matching-markets-sports-by-sport",
        "description": "针对某项运动在某一天的赛事,跨平台匹配等价的预测市场,而非以具体市场标识作为种子。运动取自路径,日期取自查询参数。典型场景为扫描某日全部赛程以寻找跨平台等价市场。\n\n**错误码**\n\n| 状态码 | 说明 |\n| --- | --- |\n| `400` | 请求参数缺失或非法,例如未提供必填的 `date`。 |",
        "operationId": "get_matching-markets-sports-by-sport",
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "要检索的日期,格式 `YYYY-MM-DD`。仅匹配当天进行的赛事。",
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "example": "2025-08-16"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matching markets response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "markets": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "oneOf": [
                            {
                              "type": "object",
                              "description": "Kalshi market",
                              "properties": {
                                "platform": {
                                  "type": "string",
                                  "enum": [
                                    "KALSHI"
                                  ],
                                  "example": "KALSHI"
                                },
                                "event_ticker": {
                                  "type": "string",
                                  "example": "KXNFLGAME-25AUG16ARIDEN"
                                },
                                "market_tickers": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "example": [
                                    "KXNFLGAME-25AUG16ARIDEN-ARI",
                                    "KXNFLGAME-25AUG16ARIDEN-DEN"
                                  ]
                                }
                              },
                              "required": [
                                "platform",
                                "event_ticker",
                                "market_tickers"
                              ]
                            },
                            {
                              "type": "object",
                              "description": "Polymarket market",
                              "properties": {
                                "platform": {
                                  "type": "string",
                                  "enum": [
                                    "POLYMARKET"
                                  ],
                                  "example": "POLYMARKET"
                                },
                                "market_slug": {
                                  "type": "string",
                                  "example": "nfl-ari-den-2025-08-16"
                                },
                                "token_ids": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "example": [
                                    "34541522652444763571858406546623861155130750437169507355470933750634189084033",
                                    "104612081187206848956763018128517335758189185749897027211060738913329108425255"
                                  ]
                                }
                              },
                              "required": [
                                "platform",
                                "market_slug",
                                "token_ids"
                              ]
                            }
                          ]
                        }
                      },
                      "example": {
                        "nfl-ari-den-2025-08-16": [
                          {
                            "platform": "KALSHI",
                            "event_ticker": "KXNFLGAME-25AUG16ARIDEN",
                            "market_tickers": [
                              "KXNFLGAME-25AUG16ARIDEN-ARI",
                              "KXNFLGAME-25AUG16ARIDEN-DEN"
                            ]
                          },
                          {
                            "platform": "POLYMARKET",
                            "market_slug": "nfl-ari-den-2025-08-16",
                            "token_ids": [
                              "34541522652444763571858406546623861155130750437169507355470933750634189084033",
                              "104612081187206848956763018128517335758189185749897027211060738913329108425255"
                            ]
                          }
                        ]
                      },
                      "description": "按赛事分组的匹配结果:每个键是一个赛事标识,其值是各平台上找到的等价市场列表。每条记录带有 `platform` 判别字段(`KALSHI` 或 `POLYMARKET`)及该平台的原生标识。"
                    },
                    "sport": {
                      "type": "string",
                      "example": "nfl",
                      "description": "回显本次检索的运动代码。"
                    },
                    "date": {
                      "type": "string",
                      "example": "2025-08-16",
                      "description": "回显本次检索的日期,格式 `YYYY-MM-DD`。"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Missing or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Missing required parameter",
                      "description": "请求无效时的简短机器可读错误标签,例如缺少必填参数。"
                    },
                    "message": {
                      "type": "string",
                      "example": "date parameter is required",
                      "description": "对请求错误原因的可读详细说明,例如缺少 `date`。"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "AISA API Key",
        "description": "Your AIsa API key as a Bearer token."
      }
    }
  }
}
