{
  "openapi": "3.0.0",
  "info": {
    "title": "Perplexity Sonar API",
    "version": "1.0.0",
    "description": "Perplexity Sonar API — LLM with built-in web search. Returns AI-generated answers with citations from web sources."
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "ChatCompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "选择处理本次请求的 Sonar 模型，在速度、深度与成本之间权衡；通常应与所调用端点路径对应的模型一致。",
            "enum": [
              "sonar",
              "sonar-pro",
              "sonar-reasoning-pro",
              "sonar-deep-research"
            ]
          },
          "messages": {
            "type": "array",
            "description": "发送给模型的有序对话历史：最后一条 user 消息是待回答的问题，靠前的消息提供上下文。",
            "items": {
              "type": "object",
              "required": [
                "role",
                "content"
              ],
              "properties": {
                "role": {
                  "type": "string",
                  "enum": [
                    "system",
                    "user",
                    "assistant"
                  ],
                  "description": "标识消息的发出方：`system` 设定行为，`user` 为提问者，`assistant` 为模型先前的回复。"
                },
                "content": {
                  "type": "string",
                  "description": "本条消息的文本内容。"
                }
              }
            }
          },
          "max_tokens": {
            "type": "integer",
            "description": "回答可生成的 token 数上限，达到上限即停止生成；不设置则使用模型默认值。"
          },
          "temperature": {
            "type": "number",
            "description": "采样随机度：值越低回答越聚焦、越确定，值越高则越发散多样。",
            "default": 0.2,
            "minimum": 0,
            "maximum": 2
          },
          "top_p": {
            "type": "number",
            "description": "核采样：模型仅从累积概率达到该阈值的最小 token 集合中采样。通常只调本参数或 temperature 之一，不同时调。",
            "default": 0.9,
            "minimum": 0,
            "maximum": 1
          },
          "top_k": {
            "type": "integer",
            "description": "将采样限制在每一步概率最高的 K 个 token 内；取 0 表示关闭该过滤。",
            "default": 0,
            "minimum": 0,
            "maximum": 2048
          },
          "stream": {
            "type": "boolean",
            "description": "开启后，回答以 server-sent events 增量推送，而非一次性整体返回。",
            "default": false
          },
          "search_context": {
            "type": "string",
            "description": "模型回答前引入的联网检索上下文量：上下文越多通常越全面，但单次请求成本也越高。",
            "enum": [
              "low",
              "medium",
              "high"
            ],
            "default": "low"
          },
          "frequency_penalty": {
            "type": "number",
            "description": "按 token 已出现的频率施加惩罚，抑制逐字重复。",
            "default": 1,
            "minimum": 0,
            "maximum": 2
          },
          "presence_penalty": {
            "type": "number",
            "description": "对已出现过的 token 施加惩罚，促使模型转向新的话题。",
            "default": 0,
            "minimum": -2,
            "maximum": 2
          },
          "return_citations": {
            "type": "boolean",
            "description": "响应是否包含支撑回答的来源引用与检索结果。",
            "default": true
          },
          "search_recency_filter": {
            "type": "string",
            "description": "将联网检索限制在指定的时间新鲜度窗口内（如近 1 小时 / 天 / 周 / 月），适合对时效性敏感的查询。",
            "enum": [
              "month",
              "week",
              "day",
              "hour"
            ]
          },
          "search_domain_filter": {
            "type": "array",
            "description": "联网检索的域名白名单：仅采纳来自这些域名的来源。",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "本次补全的唯一标识，便于日志记录与问题追踪。"
          },
          "model": {
            "type": "string",
            "description": "实际生成本次补全的 Sonar 模型。"
          },
          "object": {
            "type": "string",
            "example": "chat.completion",
            "description": "返回对象的类型标记，表明这是一条对话补全结果。"
          },
          "created": {
            "type": "integer",
            "description": "补全生成的时间，Unix 时间戳（秒）。"
          },
          "choices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "index": {
                  "type": "integer",
                  "description": "该候选项在 choices 列表中的序号。"
                },
                "message": {
                  "type": "object",
                  "properties": {
                    "role": {
                      "type": "string",
                      "description": "回复消息的发出方角色，即助手。"
                    },
                    "content": {
                      "type": "string",
                      "description": "AI 生成的回答正文，内含 [1][2] 等行内引用标记，与 citations 列表对应。"
                    }
                  },
                  "description": "该候选项中模型生成的回复消息。"
                },
                "finish_reason": {
                  "type": "string",
                  "enum": [
                    "stop",
                    "length"
                  ],
                  "description": "生成结束的原因：`stop` 表示自然结束，`length` 表示触及 token 上限。"
                }
              }
            },
            "description": "生成的回答候选项，通常仅含一条，承载模型的回复。"
          },
          "citations": {
            "type": "array",
            "description": "回答中引用的来源 URL，其下标与正文中的行内 [n] 标记对应。",
            "items": {
              "type": "string"
            }
          },
          "search_results": {
            "type": "array",
            "description": "回答所依据的联网检索结果，每条附带来源的元信息。",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "检索结果页面的标题。"
                },
                "url": {
                  "type": "string",
                  "description": "检索结果来源的链接。"
                },
                "snippet": {
                  "type": "string",
                  "description": "与查询相关的来源文本摘录。"
                },
                "date": {
                  "type": "string",
                  "description": "来源的发布日期。\n[⚠️批注:源码未声明日期格式，待研发确认。]"
                },
                "source": {
                  "type": "string",
                  "description": "结果所属的发布方或站点名称。"
                }
              }
            }
          },
          "usage": {
            "type": "object",
            "properties": {
              "prompt_tokens": {
                "type": "integer",
                "description": "输入消息所占的 token 数。"
              },
              "completion_tokens": {
                "type": "integer",
                "description": "生成回答所占的 token 数。"
              },
              "total_tokens": {
                "type": "integer",
                "description": "本次请求 prompt 与 completion token 之和。"
              },
              "search_context_size": {
                "type": "string",
                "description": "实际生效的检索上下文量，反映本次采用的 search_context 设置。"
              }
            },
            "description": "本次请求的 token 消耗与检索用量统计。"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/perplexity/sonar": {
      "post": {
        "tags": [
          "Perplexity Sonar"
        ],
        "operationId": "post_perplexity-sonar",
        "summary": "调用 Sonar 轻量搜索问答 post_perplexity-sonar",
        "description": "对轻量的 `sonar` 模型发起一次对话补全：模型实时联网检索后，返回带来源引用的 AI 回答。适合快速、低成本的事实型查询。",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              },
              "example": {
                "model": "sonar",
                "messages": [
                  {
                    "role": "user",
                    "content": "What are the latest developments in quantum computing?"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with AI answer and citations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/perplexity/sonar-pro": {
      "post": {
        "tags": [
          "Perplexity Sonar Pro"
        ],
        "operationId": "post_perplexity-sonar-pro",
        "summary": "调用 Sonar Pro 进阶搜索问答 post_perplexity-sonar-pro",
        "description": "对 `sonar-pro` 模型发起对话补全：在实时联网检索并附带引用的基础上，处理更复杂、需要多步推进与追问的查询。",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              },
              "example": {
                "model": "sonar-pro",
                "messages": [
                  {
                    "role": "user",
                    "content": "Compare the economic policies of the US and EU regarding AI regulation in 2025-2026"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with AI answer and citations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/perplexity/sonar-reasoning-pro": {
      "post": {
        "tags": [
          "Perplexity Sonar Reasoning"
        ],
        "operationId": "post_perplexity-sonar-reasoning-pro",
        "summary": "调用 Sonar Reasoning Pro 推理问答 post_perplexity-sonar-reasoning-pro",
        "description": "对 `sonar-reasoning-pro` 模型发起对话补全：在实时联网检索结果之上运用思维链推理，给出逐步推导的分析型回答。",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              },
              "example": {
                "model": "sonar-reasoning-pro",
                "messages": [
                  {
                    "role": "user",
                    "content": "Analyze whether Tesla stock is overvalued based on current P/E ratio compared to industry averages"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with AI answer and citations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/perplexity/sonar-deep-research": {
      "post": {
        "tags": [
          "Perplexity Deep Research"
        ],
        "operationId": "post_perplexity-sonar-deep-research",
        "summary": "调用 Sonar Deep Research 深度研究 post_perplexity-sonar-deep-research",
        "description": "对 `sonar-deep-research` 模型发起对话补全：执行穷尽式的多步联网研究并生成综合报告。相比其他 Sonar 模型，此类请求耗时明显更长。",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              },
              "example": {
                "model": "sonar-deep-research",
                "messages": [
                  {
                    "role": "user",
                    "content": "Write a comprehensive analysis of the global semiconductor supply chain risks in 2026"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with AI answer and citations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}
