{
  "openapi": "3.0.3",
  "info": {
    "title": "AIsa API proxy",
    "description": "APIs for prediction markets.",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/polymarket/markets": {
      "get": {
        "summary": "查询预测市场列表 get_polymarket-markets",
        "description": "查询预测市场列表，支持按 slug、condition ID、token ID、标签、状态、成交量、时间范围筛选及关键词搜索。施加筛选时按成交量排序，否则按开始时间排序，并以游标分页。",
        "operationId": "get_polymarket-markets",
        "parameters": [
          {
            "name": "market_slug",
            "in": "query",
            "required": false,
            "description": "按市场 slug（市场的 URL 标识）筛选，可重复传入多个值。",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "bitcoin-up-or-down-july-25-8pm-et"
              ]
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "event_slug",
            "in": "query",
            "required": false,
            "description": "按所属事件的 slug 筛选，可重复传入多个值。",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "presidential-election-winner-2028"
              ]
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "condition_id",
            "in": "query",
            "required": false,
            "description": "按市场链上 condition ID 筛选，可重复传入多个值。",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "0x4567b275e6b667a6217f5cb4f06a797d3a1eaf1d0281fb5bc8c75e2046ae7e57"
              ]
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "token_id",
            "in": "query",
            "required": false,
            "description": "按结果 token ID 筛选，命中市场的 primary 或 secondary token 即返回，可重复传入多个值。",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "pattern": "^[0-9]+$"
              },
              "maxItems": 100,
              "example": [
                "24891147099018724959141647991382271578149113344000019968758330059825991230807"
              ]
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "tags",
            "in": "query",
            "required": false,
            "description": "按市场所带的分类标签筛选，可重复传入多个值。",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "politics",
                "crypto"
              ]
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "对市场标题与描述做模糊关键词搜索，取值需 URL 编码；不可与其他筛选参数同时使用。",
            "schema": {
              "type": "string",
              "example": "bitcoin"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "按市场当前是开放还是已关闭筛选。",
            "schema": {
              "type": "string",
              "enum": [
                "open",
                "closed"
              ],
              "example": "open"
            }
          },
          {
            "name": "min_volume",
            "in": "query",
            "required": false,
            "description": "仅返回累计成交量（美元）不低于该值的市场。",
            "schema": {
              "type": "number",
              "example": 100000
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "本页最多返回的市场数量。",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10,
              "example": 20
            }
          },
          {
            "name": "pagination_key",
            "in": "query",
            "required": false,
            "description": "翻页游标，回传上一页响应 pagination 中的值；相比大偏移量更高效。",
            "schema": {
              "type": "string",
              "example": "eyJzdGFydF9kYXRlIjoiMjAyNi0wMS0xOVQxMjowMDowMC4wMDBaIiwiY29uZGl0aW9uX2lkIjoiMHgxMjM0In0="
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "description": "仅返回开始时间不早于此刻的市场，Unix 时间戳（秒）。",
            "schema": {
              "type": "integer",
              "example": 1640995200
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "description": "仅返回时间不晚于此刻的市场，Unix 时间戳（秒）。",
            "schema": {
              "type": "integer",
              "example": 1672531200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Markets response with pagination",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "markets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "market_slug": {
                            "type": "string",
                            "example": "btc-updown-15m-1762516800",
                            "description": "市场的 URL 标识。"
                          },
                          "event_slug": {
                            "type": "string",
                            "nullable": true,
                            "description": "该市场所属事件的 slug；不属于任何事件时为 null。",
                            "example": "presidential-election-winner-2028"
                          },
                          "condition_id": {
                            "type": "string",
                            "example": "0x6876ac2b6174778c973c118aac287c49057c4d5360f896729209fe985a2c07fb",
                            "description": "标识该市场的链上 condition ID。"
                          },
                          "title": {
                            "type": "string",
                            "example": "Bitcoin Up or Down - November 7, 7:00AM-7:15AM ET",
                            "description": "市场的可读问题或标题。"
                          },
                          "start_time": {
                            "type": "integer",
                            "description": "市场开盘时间，Unix 时间戳（秒）。",
                            "example": 1762506140
                          },
                          "end_time": {
                            "type": "integer",
                            "description": "市场结束时间，Unix 时间戳（秒）。",
                            "example": 1762517700
                          },
                          "completed_time": {
                            "type": "integer",
                            "nullable": true,
                            "description": "市场完成时间，Unix 时间戳（秒）；尚未完成时为 null。",
                            "example": null
                          },
                          "close_time": {
                            "type": "integer",
                            "nullable": true,
                            "description": "市场关闭时间，Unix 时间戳（秒）；仍开放时为 null。",
                            "example": null
                          },
                          "game_start_time": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true,
                            "description": "体育类市场中对应赛事的开始时间（UTC）；非体育市场为 null。",
                            "example": "2025-08-16 20:00:00.000"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "example": [
                              "Up or Down",
                              "Crypto Prices",
                              "Hide From New",
                              "Recurring",
                              "Crypto",
                              "Bitcoin",
                              "15M"
                            ],
                            "description": "市场所带的分类标签。"
                          },
                          "volume_1_week": {
                            "type": "number",
                            "description": "过去一周的成交量（美元）。",
                            "example": 0
                          },
                          "volume_1_month": {
                            "type": "number",
                            "description": "过去一个月的成交量（美元）。",
                            "example": 0
                          },
                          "volume_1_year": {
                            "type": "number",
                            "description": "过去一年的成交量（美元）。",
                            "example": 0
                          },
                          "volume_total": {
                            "type": "number",
                            "description": "自创建以来的累计成交量（美元）。",
                            "example": 93.148228
                          },
                          "resolution_source": {
                            "type": "string",
                            "description": "用于裁定市场结果的数据源 URL。",
                            "example": "https://data.chain.link/streams/btc-usd"
                          },
                          "image": {
                            "type": "string",
                            "description": "市场展示图片的 URL。",
                            "example": "https://polymarket-upload.s3.us-east-2.amazonaws.com/BTC+fullsize.png"
                          },
                          "description": {
                            "type": "string",
                            "nullable": true,
                            "description": "市场的详细描述（含裁定标准）；无内容时为 null。",
                            "example": "This market resolves to \"Yes\" if Bitcoin's price increases from the start to the end of the 15-minute window, and \"No\" otherwise."
                          },
                          "negative_risk_id": {
                            "type": "string",
                            "nullable": true,
                            "description": "将互斥相关市场归入 negative-risk 组的标识；不适用时为 null。",
                            "example": null
                          },
                          "side_a": {
                            "type": "object",
                            "description": "市场两个结果中的第一个。",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "side A 的结果 token ID。",
                                "example": "14557944883400223565643640243919774851380876937588843424705199812983475639104"
                              },
                              "label": {
                                "type": "string",
                                "description": "side A 结果的展示标签。",
                                "example": "Up"
                              }
                            }
                          },
                          "side_b": {
                            "type": "object",
                            "description": "市场两个结果中的第二个。",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "side B 的结果 token ID。",
                                "example": "57567439101367774829602299916701968079591032322820664013819223989961583069589"
                              },
                              "label": {
                                "type": "string",
                                "description": "side B 结果的展示标签。",
                                "example": "Down"
                              }
                            }
                          },
                          "winning_side": {
                            "type": "string",
                            "nullable": true,
                            "description": "裁定后的获胜结果；未裁定前为 null。",
                            "example": null
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "open",
                              "closed"
                            ],
                            "example": "open",
                            "description": "市场当前为开放还是已关闭。"
                          },
                          "extra_fields": {
                            "type": "object",
                            "description": "市场专有的附加字段映射；涨跌（up/down）类市场含 price_to_beat 与 final_price。无附加字段时为空对象。",
                            "additionalProperties": {
                              "nullable": true,
                              "anyOf": [
                                {
                                  "type": "number"
                                },
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "boolean"
                                }
                              ]
                            },
                            "example": {
                              "price_to_beat": 98765.43,
                              "final_price": 98801.21
                            }
                          }
                        }
                      },
                      "description": "匹配查询条件的市场列表。"
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "limit": {
                          "type": "integer",
                          "example": 20,
                          "description": "本次响应采用的页大小。"
                        },
                        "total": {
                          "type": "integer",
                          "description": "所有页中匹配筛选条件的市场总数。",
                          "example": 150
                        },
                        "has_more": {
                          "type": "boolean",
                          "description": "是否还有更多结果页可取。",
                          "example": true
                        },
                        "pagination_key": {
                          "type": "string",
                          "description": "请求下一页的游标；仅在游标分页且 has_more 为 true 时出现。",
                          "example": "eyJ2b2x1bWVfdG90YWwiOjEyMzQ1LjY3LCJjbG9zZV90aW1lIjpudWxsLCJjb25kaXRpb25faWQiOiIweDEyMzQifQ=="
                        }
                      },
                      "description": "结果集的分页元信息。"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid search parameter",
                      "description": "标识失败类别的简短错误码。"
                    },
                    "message": {
                      "type": "string",
                      "example": "search must be at least 2 characters long",
                      "description": "对错误原因的可读说明。"
                    }
                  }
                },
                "examples": {
                  "search_too_short": {
                    "summary": "Search query too short",
                    "value": {
                      "error": "Invalid search parameter",
                      "message": "search must be at least 2 characters long"
                    }
                  },
                  "search_with_other_params": {
                    "summary": "Search with other parameters",
                    "value": {
                      "error": "Invalid query parameters",
                      "message": "search parameter cannot be used with other filter parameters"
                    }
                  },
                  "invalid_limit": {
                    "summary": "Invalid limit",
                    "value": {
                      "error": "Invalid limit parameter",
                      "message": "limit must be a number between 1 and 100"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Internal Server Error",
                      "description": "标识失败类别的简短错误码。"
                    },
                    "message": {
                      "type": "string",
                      "example": "Failed to fetch markets data",
                      "description": "对错误原因的可读说明。"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/polymarket/events": {
      "get": {
        "summary": "查询事件列表 get_polymarket-events",
        "description": "查询事件列表。事件将相关市场聚合到同一主题下，支持按事件 slug、标签、状态、时间范围筛选；开启 include_markets 时内嵌各事件的市场。结果按总成交量排序并以游标分页。",
        "operationId": "get_polymarket-events",
        "parameters": [
          {
            "name": "event_slug",
            "in": "query",
            "required": false,
            "description": "返回与该 slug 匹配的单个事件；配合 include_markets=true 可一并内嵌其市场。",
            "schema": {
              "type": "string",
              "example": "presidential-election-winner-2024"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "required": false,
            "description": "按事件所带的分类标签筛选，可重复传入多个值。",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "sports",
                "football"
              ]
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "按事件状态筛选；只要有一个市场开放即视为 open，全部关闭则为 closed。",
            "schema": {
              "type": "string",
              "enum": [
                "open",
                "closed"
              ],
              "example": "open"
            }
          },
          {
            "name": "include_markets",
            "in": "query",
            "required": false,
            "description": "传 true 时在每个返回事件中内嵌其完整市场列表。",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "default": "false",
              "example": "true"
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "description": "仅返回开始时间不早于此刻的事件，Unix 时间戳（秒）。",
            "schema": {
              "type": "integer",
              "example": 1640995200
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "description": "仅返回开始时间不晚于此刻的事件，Unix 时间戳（秒）。",
            "schema": {
              "type": "integer",
              "example": 1672531200
            }
          },
          {
            "name": "game_start_time",
            "in": "query",
            "required": false,
            "description": "按对应赛事开始时间筛选体育类事件，Unix 时间戳（秒）。",
            "schema": {
              "type": "integer",
              "example": 1704067200
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "本页最多返回的事件数量。",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10,
              "example": 10
            }
          },
          {
            "name": "pagination_key",
            "in": "query",
            "required": false,
            "description": "翻页游标，回传上一页响应的 pagination.pagination_key；请勿使用已废弃的 offset 参数。",
            "schema": {
              "type": "string",
              "example": "eyJsYXN0Vm9sdW1lIjoxNzEyMTMyNjYzLjk2MTYwNjMsImxhc3RFdmVudFNsdWciOiJuYmEtY2hhbXBpb24tMjAyNC0yMDI1In0="
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Events response with pagination",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "events": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "event_slug": {
                            "type": "string",
                            "description": "唯一标识事件的 URL slug。",
                            "example": "presidential-election-winner-2024"
                          },
                          "title": {
                            "type": "string",
                            "description": "事件的可读标题。",
                            "example": "Presidential Election Winner 2024"
                          },
                          "subtitle": {
                            "type": "string",
                            "nullable": true,
                            "description": "事件的副标题或简短描述；无则为 null。",
                            "example": "Who will win the 2024 US Presidential Election?"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "open",
                              "closed"
                            ],
                            "description": "事件的聚合状态：有任一市场开放为 open，全部关闭为 closed。",
                            "example": "closed"
                          },
                          "start_time": {
                            "type": "integer",
                            "description": "事件开始时间，Unix 时间戳（秒）。",
                            "example": 1704067200
                          },
                          "end_time": {
                            "type": "integer",
                            "description": "事件结束时间，Unix 时间戳（秒）。",
                            "example": 1730851200
                          },
                          "volume_fiat_amount": {
                            "type": "number",
                            "description": "事件下所有市场的总成交量（美元）。",
                            "example": 3686335059.29
                          },
                          "settlement_sources": {
                            "type": "string",
                            "nullable": true,
                            "description": "用于结算/裁定事件的来源；未指定时为 null。",
                            "example": "Associated Press"
                          },
                          "rules_url": {
                            "type": "string",
                            "nullable": true,
                            "description": "事件规则的链接；无则为 null。",
                            "example": null
                          },
                          "image": {
                            "type": "string",
                            "nullable": true,
                            "description": "事件展示图片的 URL；无则为 null。",
                            "example": "https://polymarket.com/images/election-2024.png"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "事件所带的分类标签。",
                            "example": [
                              "politics",
                              "elections"
                            ]
                          },
                          "market_count": {
                            "type": "integer",
                            "description": "该事件下聚合的市场数量。",
                            "example": 17
                          },
                          "markets": {
                            "type": "array",
                            "description": "该事件下的市场；仅在 include_markets=true 时填充。",
                            "items": {
                              "type": "object",
                              "properties": {
                                "market_slug": {
                                  "type": "string",
                                  "example": "will-trump-win-2024",
                                  "description": "内嵌市场的 URL 标识。"
                                },
                                "title": {
                                  "type": "string",
                                  "example": "Will Trump win the 2024 election?",
                                  "description": "内嵌市场的标题。"
                                },
                                "condition_id": {
                                  "type": "string",
                                  "example": "0x1234...",
                                  "description": "内嵌市场的链上 condition ID。"
                                },
                                "status": {
                                  "type": "string",
                                  "enum": [
                                    "open",
                                    "closed"
                                  ],
                                  "example": "closed",
                                  "description": "内嵌市场为开放还是已关闭。"
                                },
                                "volume_total": {
                                  "type": "number",
                                  "example": 1500000000,
                                  "description": "内嵌市场的累计成交量（美元）。"
                                }
                              }
                            }
                          }
                        }
                      },
                      "description": "匹配查询条件的事件列表。"
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "limit": {
                          "type": "integer",
                          "description": "本次响应返回的事件数量。",
                          "example": 10
                        },
                        "has_more": {
                          "type": "boolean",
                          "description": "是否还有更多页；为 true 时用 pagination_key 继续翻页。",
                          "example": true
                        },
                        "pagination_key": {
                          "type": "string",
                          "nullable": true,
                          "description": "获取下一页的游标；has_more 为 false 时为 null。",
                          "example": "eyJsYXN0Vm9sdW1lIjoxNzEyMTMyNjYzLjk2MTYwNjMsImxhc3RFdmVudFNsdWciOiJuYmEtY2hhbXBpb24tMjAyNC0yMDI1In0="
                        }
                      },
                      "description": "结果集的分页元信息。"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid status parameter",
                      "description": "标识失败类别的简短错误码。"
                    },
                    "message": {
                      "type": "string",
                      "example": "status must be 'open' or 'closed'",
                      "description": "对错误原因的可读说明。"
                    }
                  }
                },
                "examples": {
                  "invalid_status": {
                    "summary": "Invalid status",
                    "value": {
                      "error": "Invalid status parameter",
                      "message": "status must be 'open' or 'closed'"
                    }
                  },
                  "invalid_limit": {
                    "summary": "Invalid limit",
                    "value": {
                      "error": "Invalid limit parameter",
                      "message": "limit must be a number between 1 and 100"
                    }
                  },
                  "invalid_offset": {
                    "summary": "Invalid offset",
                    "value": {
                      "error": "Invalid offset parameter",
                      "message": "offset must be a non-negative number"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Internal Server Error",
                      "description": "标识失败类别的简短错误码。"
                    },
                    "message": {
                      "type": "string",
                      "example": "Failed to fetch events data",
                      "description": "对错误原因的可读说明。"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/polymarket/orders": {
      "get": {
        "summary": "查询订单成交记录 get_polymarket-orders",
        "description": "查询链上订单/成交记录，可按市场、condition、token、用户钱包及时间范围筛选；不传筛选时返回最新的实时成交。market_slug、token_id、condition_id 三者只能择一传入。",
        "operationId": "get_polymarket-orders",
        "parameters": [
          {
            "name": "market_slug",
            "in": "query",
            "required": false,
            "description": "按市场 slug 限定订单，与 token_id、condition_id 互斥。",
            "schema": {
              "type": "string",
              "example": "bitcoin-up-or-down-july-25-8pm-et"
            }
          },
          {
            "name": "condition_id",
            "in": "query",
            "required": false,
            "description": "按链上 condition ID 限定订单，与 market_slug、token_id 互斥。",
            "schema": {
              "type": "string",
              "example": "0x4567b275e6b667a6217f5cb4f06a797d3a1eaf1d0281fb5bc8c75e2046ae7e57"
            }
          },
          {
            "name": "token_id",
            "in": "query",
            "required": false,
            "description": "按结果 token ID 限定订单，与 market_slug、condition_id 互斥。",
            "schema": {
              "type": "string",
              "example": "58519484510520807142687824915233722607092670035910114837910294451210534222702"
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "description": "仅返回下单时间不早于此刻的订单，Unix 时间戳（秒）。",
            "schema": {
              "type": "integer",
              "example": 1640995200
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "description": "仅返回下单时间不晚于此刻的订单，Unix 时间戳（秒）。",
            "schema": {
              "type": "integer",
              "example": 1672531200
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "本页最多返回的订单数量。",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 100,
              "example": 50
            }
          },
          {
            "name": "pagination_key",
            "in": "query",
            "required": false,
            "description": "翻页游标，回传上一页响应 pagination 中的值。",
            "schema": {
              "type": "string",
              "example": "eyJibG9ja190aW1lc3RhbXAiOiIyMDI1LTAxLTE5VDEyOjAwOjAwLjAwMFoiLCJ0eF9oYXNoIjoiMHgxMjM0NTY3ODkwYWJjZGVmIiwibG9nX2luZGV4IjoxMCwidG90YWwiOjUxMDk2MTl9"
            }
          },
          {
            "name": "user",
            "in": "query",
            "required": false,
            "description": "按用户钱包地址限定订单。",
            "schema": {
              "type": "string",
              "example": "0x7c3db723f1d4d8cb9c550095203b686cb11e5c6b"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Orders response with pagination",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "orders": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "token_id": {
                            "type": "string",
                            "example": "58519484510520807142687824915233722607092670035910114837910294451210534222702",
                            "description": "该订单交易的结果 token ID。"
                          },
                          "token_label": {
                            "type": "string",
                            "description": "所交易结果的可读标签（如 Yes/No）。",
                            "example": "Yes"
                          },
                          "side": {
                            "type": "string",
                            "enum": [
                              "BUY",
                              "SELL"
                            ],
                            "example": "BUY",
                            "description": "该订单是买入还是卖出结果 token。"
                          },
                          "market_slug": {
                            "type": "string",
                            "example": "bitcoin-up-or-down-july-25-8pm-et",
                            "description": "订单所属市场的 slug。"
                          },
                          "condition_id": {
                            "type": "string",
                            "example": "0x4567b275e6b667a6217f5cb4f06a797d3a1eaf1d0281fb5bc8c75e2046ae7e57",
                            "description": "订单所属市场的链上 condition ID。"
                          },
                          "shares": {
                            "type": "number",
                            "description": "链上记录的原始份额数量（未归一化）。",
                            "example": 4995000
                          },
                          "shares_normalized": {
                            "type": "number",
                            "description": "归一化后的份额数量（原始值除以 1,000,000）。",
                            "example": 4.995
                          },
                          "price": {
                            "type": "number",
                            "description": "每份额的成交价格。\n[⚠️批注:源码未声明价格单位与取值范围，待研发确认。]",
                            "example": 0.65
                          },
                          "block_number": {
                            "type": "integer",
                            "description": "订单上链所在的区块高度。",
                            "example": 123456789
                          },
                          "log_index": {
                            "type": "integer",
                            "description": "订单事件日志在区块内的索引。",
                            "example": 42
                          },
                          "tx_hash": {
                            "type": "string",
                            "description": "记录该订单的交易哈希。",
                            "example": "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef12"
                          },
                          "title": {
                            "type": "string",
                            "description": "订单所属市场的标题。",
                            "example": "Will Bitcoin be above $50,000 on July 25, 2025 at 8:00 PM ET?"
                          },
                          "timestamp": {
                            "type": "integer",
                            "description": "下单时间，Unix 时间戳（秒）。",
                            "example": 1757008834
                          },
                          "order_hash": {
                            "type": "string",
                            "description": "标识该订单的哈希。",
                            "example": "0xabcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890"
                          },
                          "user": {
                            "type": "string",
                            "description": "订单的 maker 钱包地址。",
                            "example": "0x7c3db723f1d4d8cb9c550095203b686cb11e5c6b"
                          },
                          "taker": {
                            "type": "string",
                            "description": "成交中的 taker 钱包地址；注意它常是 CTF 交易所而非真实对手方，使用时需谨慎。",
                            "example": "0x8d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c1d2e"
                          }
                        }
                      },
                      "description": "匹配的订单/成交记录列表。"
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "limit": {
                          "type": "integer",
                          "example": 50,
                          "description": "本次响应采用的页大小。"
                        },
                        "offset": {
                          "type": "integer",
                          "example": 0,
                          "description": "基于偏移分页时本次响应采用的偏移量。"
                        },
                        "total": {
                          "type": "integer",
                          "description": "匹配筛选条件的订单总数。",
                          "example": 1250
                        },
                        "has_more": {
                          "type": "boolean",
                          "description": "是否还有更多结果页。",
                          "example": true
                        },
                        "pagination_key": {
                          "type": "string",
                          "description": "下一页的游标；仅在还有更多结果时出现，优先于 offset 使用。",
                          "example": "eyJibG9ja190aW1lc3RhbXAiOiIyMDI1LTAxLTE5VDEyOjAwOjAwLjAwMFoiLCJ0eF9oYXNoIjoiMHgxMjM0NTY3ODkwYWJjZGVmIiwibG9nX2luZGV4IjoxMCwidG90YWwiOjUxMDk2MTl9"
                        }
                      },
                      "description": "结果集的分页元信息。"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid start_time parameter",
                      "description": "标识失败类别的简短错误码。"
                    },
                    "message": {
                      "type": "string",
                      "example": "start_time must be a valid Unix timestamp",
                      "description": "对错误原因的可读说明。"
                    }
                  }
                },
                "examples": {
                  "invalid_timestamp": {
                    "summary": "Invalid timestamp",
                    "value": {
                      "error": "Invalid start_time parameter",
                      "message": "start_time must be a valid Unix timestamp"
                    }
                  },
                  "invalid_time_range": {
                    "summary": "Invalid time range",
                    "value": {
                      "error": "Invalid time range",
                      "message": "start_time must be less than end_time"
                    }
                  },
                  "invalid_limit": {
                    "summary": "Invalid limit",
                    "value": {
                      "error": "Invalid limit parameter",
                      "message": "limit must be a number between 1 and 1000"
                    }
                  },
                  "missing_required_filter": {
                    "summary": "Missing required filter",
                    "value": {
                      "error": "Missing required filter parameter",
                      "message": "At least one of market_slug, condition_id, user, or token_id must be provided"
                    }
                  },
                  "invalid_filter_combination": {
                    "summary": "Invalid filter combination",
                    "value": {
                      "error": "Invalid filter combination",
                      "message": "Only one of market_slug, token_id, or condition_id can be provided"
                    }
                  },
                  "invalid_pagination_key": {
                    "summary": "Invalid pagination key",
                    "value": {
                      "error": "Invalid pagination key",
                      "message": "pagination_key is invalid or corrupted"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Offset deprecated for large values",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Offset deprecated",
                      "description": "标识失败类别的简短错误码。"
                    },
                    "message": {
                      "type": "string",
                      "example": "Offsets greater than 10,000 are no longer supported. Please use pagination_key for efficient pagination.",
                      "description": "对错误原因的可读说明。"
                    },
                    "docs": {
                      "type": "string",
                      "example": "https://aisa.one/docs/api-reference/prediction-market/get_polymarket-events",
                      "description": "指向相关文档的链接，说明该废弃项及推荐的分页方式。"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/polymarket/orderbooks": {
      "get": {
        "summary": "查询历史订单簿快照 get_polymarket-orderbooks",
        "description": "查询某结果 token 在指定时间范围内的历史订单簿快照；不传时间范围时仅返回最新一份快照。每份快照包含买单、卖单及市场元数据，所有时间戳均为毫秒。",
        "operationId": "get_polymarket-orderbooks",
        "parameters": [
          {
            "name": "token_id",
            "in": "query",
            "required": true,
            "description": "待查询订单簿快照的结果 token（资产）。",
            "schema": {
              "type": "string",
              "example": "56369772478534954338683665819559528414197495274302917800610633957542171787417"
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "description": "时间范围起点，Unix 时间戳（毫秒）；与 end_time 一并省略时仅取最新快照。",
            "schema": {
              "type": "integer",
              "example": 1760470000000
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "description": "时间范围终点，Unix 时间戳（毫秒）；与 start_time 一并省略时仅取最新快照。",
            "schema": {
              "type": "integer",
              "example": 1760480000000
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "最多返回的快照数量；仅取最新快照时忽略该参数。",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 200,
              "example": 100
            }
          },
          {
            "name": "pagination_key",
            "in": "query",
            "required": false,
            "description": "获取下一批快照的游标；仅取最新快照时忽略该参数。",
            "schema": {
              "type": "string",
              "example": "eyJhc3NldElkIjoiMTM1ODUxMjc2NDY0NTMxMDM0ODcyMjY1MTg3ODYyNjk5NjE0MDAyMjI5NzA0NzI3MzgxMTIwOTU1NDY0MDc5MTY4NDcxMTIyNzE2NjQiLCJ0aW1lc3RhbXAiOjE3NjExMDQwOTg5MTR9"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Orderbook history response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "snapshots": {
                      "type": "array",
                      "description": "按时间先后排列的订单簿快照。",
                      "items": {
                        "type": "object",
                        "properties": {
                          "asks": {
                            "type": "array",
                            "description": "卖方订单簿档位，按价格排序。",
                            "items": {
                              "type": "object",
                              "properties": {
                                "size": {
                                  "type": "string",
                                  "example": "5000013.15",
                                  "description": "该卖单档位可成交的数量。"
                                },
                                "price": {
                                  "type": "string",
                                  "example": "0.999",
                                  "description": "该卖单档位的价格。"
                                }
                              }
                            }
                          },
                          "bids": {
                            "type": "array",
                            "description": "买方订单簿档位，按价格排序。",
                            "items": {
                              "type": "object",
                              "properties": {
                                "size": {
                                  "type": "string",
                                  "example": "438389.53",
                                  "description": "该买单档位可成交的数量。"
                                },
                                "price": {
                                  "type": "string",
                                  "example": "0.001",
                                  "description": "该买单档位的价格。"
                                }
                              }
                            }
                          },
                          "hash": {
                            "type": "string",
                            "example": "85c493ebeea97e2f70c85a1469aede05f892408f",
                            "description": "标识该快照内容的哈希。"
                          },
                          "minOrderSize": {
                            "type": "string",
                            "example": "5",
                            "description": "该市场允许的最小下单数量。"
                          },
                          "negRisk": {
                            "type": "boolean",
                            "example": true,
                            "description": "该市场是否属于 negative-risk 组。"
                          },
                          "assetId": {
                            "type": "string",
                            "example": "56369772478534954338683665819559528414197495274302917800610633957542171787417",
                            "description": "该快照对应的结果 token（资产）。"
                          },
                          "timestamp": {
                            "type": "integer",
                            "description": "快照采集时间，Unix 时间戳（毫秒）。",
                            "example": 1760471849407
                          },
                          "tickSize": {
                            "type": "string",
                            "example": "0.001",
                            "description": "该市场的最小价格变动单位。"
                          },
                          "indexedAt": {
                            "type": "integer",
                            "description": "服务为该快照建立索引的时间，Unix 时间戳（毫秒）。",
                            "example": 1760471852863
                          },
                          "market": {
                            "type": "string",
                            "example": "0xd10bc768ede58b53ed400594240b0a0603134a32dab89ec823a18759cbc180ca",
                            "description": "该快照所属市场的链上 condition ID。"
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "limit": {
                          "type": "integer",
                          "example": 100,
                          "description": "本次响应采用的页大小。"
                        },
                        "count": {
                          "type": "integer",
                          "description": "本次响应返回的快照数量。",
                          "example": 4
                        },
                        "pagination_key": {
                          "type": "string",
                          "description": "获取下一批快照的游标。",
                          "example": "eyJhc3NldElkIjoiMTM1ODUxMjc2NDY0NTMxMDM0ODcyMjY1MTg3ODYyNjk5NjE0MDAyMjI5NzA0NzI3MzgxMTIwOTU1NDY0MDc5MTY4NDcxMTIyNzE2NjQiLCJ0aW1lc3RhbXAiOjE3NjExMDQwOTg5MTR9"
                        },
                        "has_more": {
                          "type": "boolean",
                          "description": "是否还有更多快照可取。",
                          "example": false
                        }
                      },
                      "description": "快照结果的分页元信息。"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid parameters",
                      "description": "标识失败类别的简短错误码。"
                    },
                    "message": {
                      "type": "string",
                      "example": "assetId, start_time, and end_time are required",
                      "description": "对错误原因的可读说明。"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/polymarket/activity": {
      "get": {
        "summary": "查询账户活动记录 get_polymarket-activity",
        "description": "查询链上账户活动（合并 MERGE、拆分 SPLIT、赎回 REDEEM），可按用户钱包、市场、condition 及时间范围筛选，并支持游标分页。",
        "operationId": "get_polymarket-activity",
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "required": false,
            "description": "待查询活动的钱包地址；省略则返回所有用户的活动。",
            "schema": {
              "type": "string",
              "pattern": "^0x[0-9a-fA-F]{40}$",
              "example": "0x7c3db723f1d4d8cb9c550095203b686cb11e5c6b"
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "description": "仅返回时间不早于此刻的活动，Unix 时间戳（秒）。",
            "schema": {
              "type": "integer",
              "example": 1640995200
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "description": "仅返回时间不晚于此刻的活动，Unix 时间戳（秒）。",
            "schema": {
              "type": "integer",
              "example": 1672531200
            }
          },
          {
            "name": "market_slug",
            "in": "query",
            "required": false,
            "description": "按市场 slug 限定活动，与 condition_id 互斥。",
            "schema": {
              "type": "string",
              "example": "bitcoin-up-or-down-july-25-8pm-et"
            }
          },
          {
            "name": "condition_id",
            "in": "query",
            "required": false,
            "description": "按 condition ID 限定活动，与 market_slug 互斥。",
            "schema": {
              "type": "string",
              "example": "0x4567b275e6b667a6217f5cb4f06a797d3a1eaf1d0281fb5bc8c75e2046ae7e57"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "本页最多返回的活动记录数量。",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 100,
              "example": 50
            }
          },
          {
            "name": "pagination_key",
            "in": "query",
            "required": false,
            "description": "翻页游标，回传上一页响应 pagination 中的值。",
            "schema": {
              "type": "string",
              "example": "eyJibG9ja190aW1lc3RhbXAiOiIyMDI1LTAxLTE5VDEyOjAwOjAwLjAwMFoiLCJzaWRlIjoiU1BMSVQiLCJ0eF9oYXNoIjoiMHgxMjM0NTY3ODkwYWJjZGVmIiwibG9nX2luZGV4IjoxMCwidG90YWwiOjE5ODkwMTc3Nn0="
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Activity response with pagination",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "activities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "token_id": {
                            "type": "string",
                            "example": "",
                            "description": "该活动涉及的结果 token ID。"
                          },
                          "side": {
                            "type": "string",
                            "enum": [
                              "MERGE",
                              "SPLIT",
                              "REDEEM"
                            ],
                            "example": "REDEEM",
                            "description": "活动类型：token 的合并、拆分或赎回。"
                          },
                          "market_slug": {
                            "type": "string",
                            "example": "will-the-doj-charge-boeing",
                            "description": "活动关联市场的 slug。"
                          },
                          "condition_id": {
                            "type": "string",
                            "example": "0x92e4b1b8e0621fab0537486e7d527322569d7a8fd394b3098ff4bb1d6e1c0bbd",
                            "description": "关联市场的链上 condition ID。"
                          },
                          "shares": {
                            "type": "number",
                            "example": 187722726,
                            "description": "链上记录的原始份额数量（未归一化）。"
                          },
                          "shares_normalized": {
                            "type": "number",
                            "example": 187.722726,
                            "description": "归一化后的份额数量（原始值除以 1,000,000）。"
                          },
                          "price": {
                            "type": "number",
                            "example": 1,
                            "description": "与该活动关联的价格。\n[⚠️批注:源码未声明价格单位与取值范围，待研发确认。]"
                          },
                          "block_number": {
                            "type": "integer",
                            "description": "活动上链所在的区块高度。",
                            "example": 123456789
                          },
                          "log_index": {
                            "type": "integer",
                            "description": "活动事件日志在区块内的索引。",
                            "example": 42
                          },
                          "tx_hash": {
                            "type": "string",
                            "example": "0x028baff23a90c10728606781d15077098ee93c991ea204aa52a0bd2869187574",
                            "description": "记录该活动的交易哈希。"
                          },
                          "title": {
                            "type": "string",
                            "example": "Will the DOJ charge Boeing?",
                            "description": "关联市场的标题。"
                          },
                          "timestamp": {
                            "type": "integer",
                            "description": "活动发生时间，Unix 时间戳（秒）。",
                            "example": 1721263049
                          },
                          "order_hash": {
                            "type": "string",
                            "example": "",
                            "description": "关联订单的哈希（若有）。"
                          },
                          "user": {
                            "type": "string",
                            "description": "执行该活动的钱包地址。",
                            "example": "0xfd9c3e7f8c56eb4186372f343c873cce154b3873"
                          }
                        }
                      },
                      "description": "匹配的活动记录列表。"
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "limit": {
                          "type": "integer",
                          "example": 50,
                          "description": "本次响应采用的页大小。"
                        },
                        "count": {
                          "type": "integer",
                          "description": "匹配筛选条件的活动记录总数。",
                          "example": 1250
                        },
                        "has_more": {
                          "type": "boolean",
                          "description": "是否还有更多结果页。",
                          "example": true
                        },
                        "pagination_key": {
                          "type": "string",
                          "description": "下一页的游标；仅在还有更多结果时出现。",
                          "example": "eyJibG9ja190aW1lc3RhbXAiOiIyMDI1LTAxLTE5VDEyOjAwOjAwLjAwMFoiLCJzaWRlIjoiU1BMSVQiLCJ0eF9oYXNoIjoiMHgxMjM0NTY3ODkwYWJjZGVmIiwibG9nX2luZGV4IjoxMCwidG90YWwiOjE5ODkwMTc3Nn0="
                        }
                      },
                      "description": "结果集的分页元信息。"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Missing required parameter",
                      "description": "标识失败类别的简短错误码。"
                    },
                    "message": {
                      "type": "string",
                      "example": "user parameter is required",
                      "description": "对错误原因的可读说明。"
                    }
                  }
                },
                "examples": {
                  "invalid_start_time": {
                    "summary": "Invalid start_time parameter",
                    "value": {
                      "error": "Invalid start_time parameter",
                      "message": "start_time must be a valid Unix timestamp"
                    }
                  },
                  "invalid_end_time": {
                    "summary": "Invalid end_time parameter",
                    "value": {
                      "error": "Invalid end_time parameter",
                      "message": "end_time must be a valid Unix timestamp"
                    }
                  },
                  "invalid_time_range": {
                    "summary": "Invalid time range",
                    "value": {
                      "error": "Invalid time range",
                      "message": "start_time must be less than end_time"
                    }
                  },
                  "invalid_limit": {
                    "summary": "Invalid limit",
                    "value": {
                      "error": "Invalid limit parameter",
                      "message": "limit must be a number between 1 and 1000"
                    }
                  },
                  "invalid_pagination_key": {
                    "summary": "Invalid pagination key",
                    "value": {
                      "error": "Invalid pagination key",
                      "message": "pagination_key is invalid or corrupted"
                    }
                  },
                  "invalid_filter_combination": {
                    "summary": "Invalid filter combination",
                    "value": {
                      "error": "Invalid filter combination",
                      "message": "Only one of market_slug or condition_id can be provided"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Internal Server Error",
                      "description": "标识失败类别的简短错误码。"
                    },
                    "message": {
                      "type": "string",
                      "example": "Failed to fetch activity data",
                      "description": "对错误原因的可读说明。"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/polymarket/market-price/{token_id}": {
      "parameters": [
        {
          "name": "token_id",
          "in": "path",
          "required": true,
          "description": "The token ID for the Polymarket market",
          "schema": {
            "type": "string",
            "example": "19701256321759583954581192053894521654935987478209343000964756587964612528044"
          }
        }
      ],
      "get": {
        "summary": "查询市场价格 get_polymarket-market-price",
        "description": "按 token_id 查询某结果 token 的当前价格；传入 at_time 时返回该时间点的历史价格，否则返回最新价格。",
        "operationId": "get_polymarket-market-price",
        "parameters": [
          {
            "name": "at_time",
            "in": "query",
            "required": false,
            "description": "读取历史价格的时间点，Unix 时间戳（秒）；省略则返回最实时的价格。",
            "schema": {
              "type": "integer",
              "example": 1762164600
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Market price response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "price": {
                      "type": "number",
                      "description": "该结果 token 的市场价格，以 0 到 1 之间的概率表示。",
                      "example": 0.999
                    },
                    "at_time": {
                      "type": "integer",
                      "description": "返回价格所对应的时间点，Unix 时间戳（秒）。",
                      "example": 1762164600
                    }
                  },
                  "required": [
                    "price",
                    "at_time"
                  ]
                },
                "examples": {
                  "with_at_time": {
                    "summary": "Historical price lookup",
                    "description": "Response when `at_time` parameter is provided",
                    "value": {
                      "price": 0.999,
                      "at_time": 1762164600
                    }
                  },
                  "real_time": {
                    "summary": "Real-time price lookup",
                    "description": "Response when `at_time` parameter is omitted (most recent price)",
                    "value": {
                      "price": 0.215,
                      "at_time": 1757008834
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid token_id",
                      "description": "标识失败类别的简短错误码。"
                    },
                    "message": {
                      "type": "string",
                      "example": "token_id must be a valid string",
                      "description": "对错误原因的可读说明。"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Market not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Not found",
                      "description": "标识失败类别的简短错误码。"
                    },
                    "message": {
                      "type": "string",
                      "example": "Market with the provided token_id not found",
                      "description": "对错误原因的可读说明。"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/polymarket/positions/wallet/{wallet_address}": {
      "parameters": [
        {
          "name": "wallet_address",
          "in": "path",
          "required": true,
          "description": "The Proxy wallet address to fetch positions for",
          "schema": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{40}$",
            "example": "0x1234567890abcdef1234567890abcdef12345678"
          }
        }
      ],
      "get": {
        "summary": "查询钱包持仓 get_polymarket-positions",
        "description": "查询某代理钱包持有的全部 Polymarket 持仓，含每个持仓的市场信息。仅返回余额不低于 10,000 原始份额（归一化 0.01）的持仓，并支持游标分页。",
        "operationId": "get_polymarket-positions",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "每页最多返回的持仓数量。",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 100,
              "example": 100
            }
          },
          {
            "name": "pagination_key",
            "in": "query",
            "required": false,
            "description": "上一次请求返回的游标，用于获取下一页。",
            "schema": {
              "type": "string",
              "example": "NjhlMGM4MDAtZDkwNi00YjMyLWEzOWMtYTRlMTk5MzRkNWVl"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Positions response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "wallet_address": {
                      "type": "string",
                      "description": "被查询的钱包地址，已归一化为小写。",
                      "example": "0x1234567890abcdef1234567890abcdef12345678"
                    },
                    "positions": {
                      "type": "array",
                      "description": "该钱包的持仓条目。",
                      "items": {
                        "type": "object",
                        "properties": {
                          "wallet": {
                            "type": "string",
                            "description": "持有该持仓的钱包地址。",
                            "example": "0x1234567890abcdef1234567890abcdef12345678"
                          },
                          "token_id": {
                            "type": "string",
                            "description": "该持仓持有的结果 token ID。",
                            "example": "19701256321759583954581192053894521654935987478209343000964756587964612528044"
                          },
                          "condition_id": {
                            "type": "string",
                            "description": "持仓所属市场的链上 condition ID。",
                            "example": "0x1234abcd..."
                          },
                          "title": {
                            "type": "string",
                            "description": "持仓所属市场的标题。",
                            "example": "Will Bitcoin reach $100k by end of 2025?"
                          },
                          "shares": {
                            "type": "integer",
                            "description": "持有的原始份额数量（未归一化）。",
                            "example": 50000000
                          },
                          "shares_normalized": {
                            "type": "number",
                            "description": "归一化后的份额数量（原始值除以 1,000,000）。",
                            "example": 50
                          },
                          "redeemable": {
                            "type": "boolean",
                            "description": "该持仓是否可赎回；需市场已完成并关闭。",
                            "example": false
                          },
                          "market_slug": {
                            "type": "string",
                            "description": "持仓所属市场的 slug。",
                            "example": "will-bitcoin-reach-100k-by-end-of-2025"
                          },
                          "event_slug": {
                            "type": "string",
                            "description": "持仓所属市场归属事件的 slug。",
                            "example": "bitcoin-price-predictions"
                          },
                          "image": {
                            "type": "string",
                            "description": "市场展示图片的 URL。",
                            "example": "https://polymarket.com/images/..."
                          },
                          "label": {
                            "type": "string",
                            "description": "所持 token 的结果标签（如 Yes/No）。",
                            "example": "Yes"
                          },
                          "winning_outcome": {
                            "type": "object",
                            "nullable": true,
                            "description": "市场关闭后获胜结果的详情；仍开放或未定时为 null。",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "获胜结果的 token ID。",
                                "example": "19701256321759583954581192053894521654935987478209343000964756587964612528044"
                              },
                              "label": {
                                "type": "string",
                                "description": "获胜结果的标签。",
                                "example": "Yes"
                              }
                            }
                          },
                          "start_time": {
                            "type": "integer",
                            "description": "市场开始时间，Unix 时间戳（秒）。",
                            "example": 1640995200
                          },
                          "end_time": {
                            "type": "integer",
                            "description": "市场结束时间，Unix 时间戳（秒）。",
                            "example": 1672531200
                          },
                          "completed_time": {
                            "type": "integer",
                            "nullable": true,
                            "description": "市场完成时间，Unix 时间戳（秒）；未完成时为 null。",
                            "example": null
                          },
                          "close_time": {
                            "type": "integer",
                            "nullable": true,
                            "description": "市场关闭时间，Unix 时间戳（秒）；仍开放时为 null。",
                            "example": 1672531200
                          },
                          "game_start_time": {
                            "type": "string",
                            "nullable": true,
                            "description": "体育类市场的赛事开始时间；非体育市场为 null。",
                            "example": "2025-01-15T19:00:00Z"
                          },
                          "market_status": {
                            "type": "string",
                            "enum": [
                              "open",
                              "closed"
                            ],
                            "description": "持仓所属市场为开放还是已关闭。",
                            "example": "open"
                          },
                          "negativeRisk": {
                            "type": "boolean",
                            "description": "持仓所属市场是否属于 negative-risk 组。",
                            "example": false
                          }
                        },
                        "required": [
                          "wallet",
                          "token_id",
                          "condition_id",
                          "title",
                          "shares",
                          "shares_normalized",
                          "redeemable",
                          "market_slug",
                          "event_slug",
                          "image",
                          "label",
                          "winning_outcome",
                          "start_time",
                          "end_time",
                          "completed_time",
                          "close_time",
                          "game_start_time",
                          "market_status",
                          "negativeRisk"
                        ]
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "description": "持仓结果的分页元信息。",
                      "properties": {
                        "has_more": {
                          "type": "boolean",
                          "description": "是否还有更多持仓可取。",
                          "example": false
                        },
                        "limit": {
                          "type": "integer",
                          "description": "本次请求采用的页大小。",
                          "example": 100
                        },
                        "pagination_key": {
                          "type": "string",
                          "nullable": true,
                          "description": "获取下一页的游标；无更多页时为 null。",
                          "example": null
                        }
                      },
                      "required": [
                        "has_more",
                        "limit",
                        "pagination_key"
                      ]
                    }
                  },
                  "required": [
                    "wallet_address",
                    "positions",
                    "pagination"
                  ]
                },
                "examples": {
                  "with_positions": {
                    "summary": "Wallet with positions",
                    "description": "Response when wallet has active positions",
                    "value": {
                      "wallet_address": "0x1234567890abcdef1234567890abcdef12345678",
                      "positions": [
                        {
                          "wallet": "0x1234567890abcdef1234567890abcdef12345678",
                          "token_id": "19701256321759583954581192053894521654935987478209343000964756587964612528044",
                          "condition_id": "0xabcd1234...",
                          "title": "Will Bitcoin reach $100k by end of 2025?",
                          "shares": 50000000,
                          "shares_normalized": 50,
                          "redeemable": false,
                          "market_slug": "will-bitcoin-reach-100k-by-end-of-2025",
                          "event_slug": "bitcoin-price-predictions",
                          "image": "https://polymarket.com/images/...",
                          "label": "Yes",
                          "winning_outcome": null,
                          "start_time": 1640995200,
                          "end_time": 1672531200,
                          "completed_time": null,
                          "close_time": null,
                          "game_start_time": null,
                          "market_status": "open",
                          "negativeRisk": false
                        }
                      ],
                      "pagination": {
                        "has_more": false,
                        "limit": 100,
                        "pagination_key": null
                      }
                    }
                  },
                  "empty_positions": {
                    "summary": "Wallet with no positions",
                    "description": "Response when wallet has no positions >= 10,000 shares",
                    "value": {
                      "wallet_address": "0x1234567890abcdef1234567890abcdef12345678",
                      "positions": [],
                      "pagination": {
                        "has_more": false,
                        "limit": 100,
                        "pagination_key": null
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid wallet address",
                      "description": "标识失败类别的简短错误码。"
                    },
                    "message": {
                      "type": "string",
                      "example": "wallet_address must be a valid Ethereum address (0x followed by 40 hex characters)",
                      "description": "对错误原因的可读说明。"
                    }
                  }
                },
                "examples": {
                  "missing_wallet": {
                    "summary": "Missing wallet address",
                    "value": {
                      "error": "Missing parameter",
                      "message": "wallet_address is required"
                    }
                  },
                  "invalid_wallet": {
                    "summary": "Invalid wallet address format",
                    "value": {
                      "error": "Invalid wallet address",
                      "message": "wallet_address must be a valid Ethereum address (0x followed by 40 hex characters)"
                    }
                  },
                  "invalid_limit": {
                    "summary": "Invalid limit parameter",
                    "value": {
                      "error": "Invalid limit parameter",
                      "message": "limit must be a number between 1 and 100"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/polymarket/wallet": {
      "get": {
        "summary": "查询钱包信息 get_polymarket-wallet",
        "description": "按 EOA 地址、代理地址或用户 handle 查询钱包信息，返回关联的 EOA、代理、钱包类型、handle、化名与头像。仅当 with_metrics=true 时附带交易指标。",
        "operationId": "get_polymarket-wallet",
        "parameters": [
          {
            "name": "eoa",
            "in": "query",
            "required": false,
            "description": "待查询的外部账户（EOA）地址。eoa、proxy、handle 三者须且仅须提供其一。",
            "schema": {
              "type": "string",
              "pattern": "^0x[0-9a-fA-F]{40}$",
              "example": "0xe9a69b28ffd86f6ea0c5d8171c95537479b84a29"
            }
          },
          {
            "name": "proxy",
            "in": "query",
            "required": false,
            "description": "待查询的代理钱包地址。eoa、proxy、handle 三者须且仅须提供其一。",
            "schema": {
              "type": "string",
              "pattern": "^0x[0-9a-fA-F]{40}$",
              "example": "0x60881d7dce725bfb0399ee0b11cc11f5782f257d"
            }
          },
          {
            "name": "handle",
            "in": "query",
            "required": false,
            "description": "待查询的用户 handle，开头的 @ 会被自动去除。eoa、proxy、handle 三者须且仅须提供其一。",
            "schema": {
              "type": "string",
              "example": "satoshi"
            }
          },
          {
            "name": "with_metrics",
            "in": "query",
            "required": false,
            "description": "传 true 时额外计算并返回交易指标；出于性能考虑仅按需计算。",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "example": "true"
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "description": "指标计算窗口的起点，Unix 时间戳（秒）；仅在 with_metrics=true 时生效。",
            "schema": {
              "type": "integer",
              "example": 1640995200
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "description": "指标计算窗口的终点，Unix 时间戳（秒）；仅在 with_metrics=true 时生效。",
            "schema": {
              "type": "integer",
              "example": 1672531200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet information response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "eoa": {
                      "type": "string",
                      "description": "解析得到的外部账户（EOA）地址。",
                      "example": "0xe9a69b28ffd86f6ea0c5d8171c95537479b84a29"
                    },
                    "proxy": {
                      "type": "string",
                      "description": "解析得到的代理钱包地址。",
                      "example": "0x60881d7dce725bfb0399ee0b11cc11f5782f257d"
                    },
                    "wallet_type": {
                      "type": "string",
                      "description": "钱包的实现类型。",
                      "example": "safe"
                    },
                    "handle": {
                      "type": "string",
                      "nullable": true,
                      "description": "用户 handle；未设置时为 null。",
                      "example": "satoshi"
                    },
                    "pseudonym": {
                      "type": "string",
                      "nullable": true,
                      "description": "用户的展示化名；未设置时为 null。",
                      "example": "Satoshi Nakamoto"
                    },
                    "image": {
                      "type": "string",
                      "nullable": true,
                      "description": "用户头像的 URL；未设置时为 null。",
                      "example": "https://example.com/avatar.png"
                    },
                    "wallet_metrics": {
                      "type": "object",
                      "description": "钱包的交易指标；仅在 with_metrics=true 时出现。",
                      "properties": {
                        "total_volume": {
                          "type": "number",
                          "description": "钱包的总交易额（美元）。",
                          "example": 150000.5
                        },
                        "total_trades": {
                          "type": "number",
                          "description": "该钱包作为 maker 的总成交笔数。",
                          "example": 450
                        },
                        "total_markets": {
                          "type": "number",
                          "description": "钱包参与交易的不同市场数量。",
                          "example": 25
                        },
                        "highest_volume_day": {
                          "type": "object",
                          "description": "成交份额最高的单日。",
                          "properties": {
                            "date": {
                              "type": "string",
                              "format": "date",
                              "description": "成交量最高那一天的日期。",
                              "example": "2025-10-12"
                            },
                            "volume": {
                              "type": "number",
                              "description": "当日成交份额，归一化值（原始值除以 1,000,000）。",
                              "example": 25000.75
                            },
                            "trades": {
                              "type": "number",
                              "description": "当日执行的成交笔数。",
                              "example": 145
                            }
                          },
                          "required": [
                            "date",
                            "volume",
                            "trades"
                          ]
                        },
                        "merges": {
                          "type": "number",
                          "description": "钱包执行的 token 合并总次数。",
                          "example": 262
                        },
                        "splits": {
                          "type": "number",
                          "description": "钱包执行的 token 拆分总次数。",
                          "example": 31
                        },
                        "conversions": {
                          "type": "number",
                          "description": "钱包执行的 token 转换总次数。",
                          "example": 4
                        },
                        "redemptions": {
                          "type": "number",
                          "description": "钱包执行的 token 赎回总次数。",
                          "example": 2338
                        }
                      }
                    }
                  },
                  "required": [
                    "eoa",
                    "proxy",
                    "wallet_type"
                  ]
                },
                "examples": {
                  "without_metrics": {
                    "summary": "Basic wallet information",
                    "description": "Response when with_metrics is not provided or false",
                    "value": {
                      "eoa": "0xe9a69b28ffd86f6ea0c5d8171c95537479b84a29",
                      "proxy": "0x60881d7dce725bfb0399ee0b11cc11f5782f257d",
                      "wallet_type": "safe",
                      "handle": "satoshi",
                      "pseudonym": "Satoshi Nakamoto",
                      "image": "https://example.com/avatar.png"
                    }
                  },
                  "with_metrics": {
                    "summary": "Wallet information with metrics",
                    "description": "Response when with_metrics=true",
                    "value": {
                      "eoa": "0xe9a69b28ffd86f6ea0c5d8171c95537479b84a29",
                      "proxy": "0x60881d7dce725bfb0399ee0b11cc11f5782f257d",
                      "wallet_type": "safe",
                      "handle": "satoshi",
                      "pseudonym": "Satoshi Nakamoto",
                      "image": "https://example.com/avatar.png",
                      "wallet_metrics": {
                        "total_volume": 150000.5,
                        "total_trades": 450,
                        "total_markets": 25,
                        "highest_volume_day": {
                          "date": "2025-10-12",
                          "volume": 25000.75,
                          "trades": 145
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid or missing parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "BAD_REQUEST",
                      "description": "标识失败类别的简短错误码。"
                    },
                    "message": {
                      "type": "string",
                      "example": "Either eoa or proxy parameter must be provided, but not both",
                      "description": "对错误原因的可读说明。"
                    }
                  }
                },
                "examples": {
                  "missing_parameter": {
                    "summary": "Missing required parameter",
                    "value": {
                      "error": "BAD_REQUEST",
                      "message": "Either eoa, proxy, or handle parameter must be provided"
                    }
                  },
                  "both_parameters": {
                    "summary": "Both parameters provided",
                    "value": {
                      "error": "BAD_REQUEST",
                      "message": "Only one of eoa, proxy, or handle can be provided"
                    }
                  },
                  "invalid_address": {
                    "summary": "Invalid wallet address format",
                    "value": {
                      "error": "BAD_REQUEST",
                      "message": "Invalid wallet address format"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Wallet not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "NOT_FOUND",
                      "description": "标识失败类别的简短错误码。"
                    },
                    "message": {
                      "type": "string",
                      "example": "Wallet not found",
                      "description": "对错误原因的可读说明。"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/polymarket/candlesticks": {
      "parameters": [
        {
          "name": "condition_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "查询 K 线数据 get_polymarket-candlesticks",
        "description": "按 condition_id 查询某市场在指定时间范围内的历史 K 线（OHLC）数据，可选 1 分钟、1 小时或 1 天的时间粒度。不同粒度有各自的最大回溯范围限制。",
        "operationId": "get_polymarket-candlesticks",
        "parameters": [
          {
            "name": "condition_id",
            "in": "query",
            "required": true,
            "description": "待查询 K 线的市场链上 condition ID。",
            "schema": {
              "type": "string"
            },
            "example": "0x1234abcd5678ef90"
          },
          {
            "name": "start_time",
            "in": "query",
            "required": true,
            "description": "时间范围起点，Unix 时间戳（秒）。",
            "schema": {
              "type": "integer",
              "example": 1640995200
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "required": true,
            "description": "时间范围终点，Unix 时间戳（秒）。",
            "schema": {
              "type": "integer",
              "example": 1672531200
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "description": "K 线粒度（按分钟：1 = 1 分钟，60 = 1 小时，1440 = 1 天）；各粒度有最大范围限制（1 分钟至多 1 周，1 小时至多 1 个月，1 天至多 1 年）。",
            "schema": {
              "type": "integer",
              "enum": [
                1,
                60,
                1440
              ],
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Candlestick response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "candlesticks": {
                      "type": "array",
                      "description": "按结果划分的 K 线序列；每个元素由一段 K 线数据数组与该 token 的元数据（token_id 与结果标签）配对组成。",
                      "items": {
                        "type": "array",
                        "description": "Tuple of [candlestick_data_array, token_metadata]",
                        "minItems": 2,
                        "maxItems": 2,
                        "items": {
                          "oneOf": [
                            {
                              "type": "array",
                              "description": "Candlestick data array",
                              "items": {
                                "type": "object"
                              }
                            },
                            {
                              "type": "object",
                              "description": "Token metadata",
                              "properties": {
                                "token_id": {
                                  "type": "string"
                                },
                                "side": {
                                  "type": "string",
                                  "description": "The outcome label for this token (e.g., 'Yes', 'No', 'Up', 'Down', 'Over', 'Under', or team names for sports markets)"
                                }
                              }
                            }
                          ]
                        },
                        "example": [
                          [
                            {
                              "end_period_ts": 1727827200,
                              "open_interest": 8456498,
                              "price": {
                                "open": 0,
                                "high": 0,
                                "low": 0,
                                "close": 0,
                                "open_dollars": "0.0049",
                                "high_dollars": "0.0049",
                                "low_dollars": "0.0048",
                                "close_dollars": "0.0048",
                                "mean": 0,
                                "mean_dollars": "0.0049",
                                "previous": 0,
                                "previous_dollars": "0.0049"
                              },
                              "volume": 8456498,
                              "yes_ask": {
                                "open": 0.00489,
                                "close": 0.0048200000000000005,
                                "high": 0.00491,
                                "low": 0.0048,
                                "open_dollars": "0.0049",
                                "close_dollars": "0.0048",
                                "high_dollars": "0.0049",
                                "low_dollars": "0.0048"
                              },
                              "yes_bid": {
                                "open": 0.00489,
                                "close": 0.004829999990880811,
                                "high": 0.004910000000138527,
                                "low": 0.0048,
                                "open_dollars": "0.0049",
                                "close_dollars": "0.0048",
                                "high_dollars": "0.0049",
                                "low_dollars": "0.0048"
                              }
                            }
                          ],
                          {
                            "token_id": "21742633143463906290569050155826241533067272736897614950488156847949938836455",
                            "side": "Yes"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Missing required query parameters",
                      "description": "标识失败类别的简短错误码。"
                    },
                    "required": {
                      "type": "string",
                      "example": "start_time, end_time",
[...]
