{
  "openapi": "3.0.3",
  "info": {
    "title": "AIsa API proxy",
    "description": "APIs for prediction markets.",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/polymarket/markets": {
      "get": {
        "summary": "Get Markets",
        "description": "Fetches market data with optional filtering and search functionality. Supports filtering by market slug, condition ID, token ID, or tags, as well as fuzzy search across market titles and descriptions. Returns markets ordered by volume (most popular first) when filters are applied, or by start_time (most recent first) when no filters are provided.",
        "operationId": "get_polymarket-markets",
        "parameters": [
          {
            "name": "market_slug",
            "in": "query",
            "required": false,
            "description": "Filter markets by market slug(s). Can provide multiple values.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "bitcoin-up-or-down-july-25-8pm-et"
              ]
            },
            "style": "form",
            "explode": true,
            "x-doc": {
              "desc_en": "Restrict results to markets with these slugs; a slug is the market's URL identifier. Repeat the parameter for multiple values.",
              "title_zh": "按市场 slug（市场的 URL 标识）筛选，可重复传入多个值。",
              "source": "ai",
              "src_hash": "sha256:34b1da647a65",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "event_slug",
            "in": "query",
            "required": false,
            "description": "Filter markets by event slug(s). Can provide multiple values.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "presidential-election-winner-2028"
              ]
            },
            "style": "form",
            "explode": true,
            "x-doc": {
              "desc_en": "Restrict results to markets belonging to events with these slugs. Repeat the parameter for multiple values.",
              "title_zh": "按所属事件的 slug 筛选，可重复传入多个值。",
              "source": "ai",
              "src_hash": "sha256:15305ccf7e01",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "condition_id",
            "in": "query",
            "required": false,
            "description": "Filter markets by condition ID(s). Can provide multiple values.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "0x4567b275e6b667a6217f5cb4f06a797d3a1eaf1d0281fb5bc8c75e2046ae7e57"
              ]
            },
            "style": "form",
            "explode": true,
            "x-doc": {
              "desc_en": "Restrict results to markets with these on-chain condition IDs. Repeat the parameter for multiple values.",
              "title_zh": "按市场链上 condition ID 筛选，可重复传入多个值。",
              "source": "ai",
              "src_hash": "sha256:2c7a631b7b2c",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "token_id",
            "in": "query",
            "required": false,
            "description": "Filter markets by token ID(s). Matches markets where the token_id is either the primary_token_id or secondary_token_id. Can provide multiple values (maximum 100). Each token_id must be a numeric string.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "pattern": "^[0-9]+$"
              },
              "maxItems": 100,
              "example": [
                "24891147099018724959141647991382271578149113344000019968758330059825991230807"
              ]
            },
            "style": "form",
            "explode": true,
            "x-doc": {
              "desc_en": "Restrict results to markets whose primary or secondary outcome token matches these token IDs. Repeat the parameter for multiple values.",
              "title_zh": "按结果 token ID 筛选，命中市场的 primary 或 secondary token 即返回，可重复传入多个值。",
              "source": "ai",
              "src_hash": "sha256:3710d6d25a34",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "required": false,
            "description": "Filter markets by tag(s). Can provide multiple values.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "politics",
                "crypto"
              ]
            },
            "style": "form",
            "explode": true,
            "x-doc": {
              "desc_en": "Restrict results to markets carrying these category tags. Repeat the parameter for multiple values.",
              "title_zh": "按市场所带的分类标签筛选，可重复传入多个值。",
              "source": "ai",
              "src_hash": "sha256:8c78d7103ef0",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Search markets by keywords in title and description. Must be URL encoded (e.g., 'bitcoin%20price' for 'bitcoin price').",
            "schema": {
              "type": "string",
              "example": "bitcoin"
            },
            "x-doc": {
              "desc_en": "Fuzzy keyword search across market titles and descriptions; the value must be URL-encoded. Cannot be combined with other filter parameters.",
              "title_zh": "对市场标题与描述做模糊关键词搜索，取值需 URL 编码；不可与其他筛选参数同时使用。",
              "source": "ai",
              "src_hash": "sha256:50cf5b27558f",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter markets by status (whether they're open or closed)",
            "schema": {
              "type": "string",
              "enum": [
                "open",
                "closed"
              ],
              "example": "open"
            },
            "x-doc": {
              "desc_en": "Restrict results to markets that are currently open or already closed.",
              "title_zh": "按市场当前是开放还是已关闭筛选。",
              "source": "ai",
              "src_hash": "sha256:5eb788a8db63",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "min_volume",
            "in": "query",
            "required": false,
            "description": "Filter markets with total trading volume greater than or equal to this amount (USD)",
            "schema": {
              "type": "number",
              "example": 100000
            },
            "x-doc": {
              "desc_en": "Only return markets whose total trading volume (in USD) is at least this amount.",
              "title_zh": "仅返回累计成交量（美元）不低于该值的市场。",
              "source": "ai",
              "src_hash": "sha256:d0a76ca98074",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of markets to return (1-100). Default: 10 for search, 10 for regular queries.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10,
              "example": 20
            },
            "x-doc": {
              "desc_en": "Maximum number of markets to return in this page.",
              "title_zh": "本页最多返回的市场数量。",
              "source": "ai",
              "src_hash": "sha256:e96ddeba7e0c",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "pagination_key",
            "in": "query",
            "required": false,
            "description": "Base64-encoded cursor for efficient pagination. Returned in the previous response's pagination object. Use this instead of large offsets for better performance.",
            "schema": {
              "type": "string",
              "example": "eyJzdGFydF9kYXRlIjoiMjAyNi0wMS0xOVQxMjowMDowMC4wMDBaIiwiY29uZGl0aW9uX2lkIjoiMHgxMjM0In0="
            },
            "x-doc": {
              "desc_en": "Cursor for the next page; pass back the value from the previous response's pagination object. Preferred over large offsets for performance.",
              "title_zh": "翻页游标，回传上一页响应 pagination 中的值；相比大偏移量更高效。",
              "source": "ai",
              "src_hash": "sha256:559e460aec1d",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "description": "Filter markets from this Unix timestamp in seconds (inclusive)",
            "schema": {
              "type": "integer",
              "example": 1640995200
            },
            "x-doc": {
              "desc_en": "Only return markets at or after this start time, given as a Unix timestamp in seconds.",
              "title_zh": "仅返回开始时间不早于此刻的市场，Unix 时间戳（秒）。",
              "source": "ai",
              "src_hash": "sha256:14aa8ed5f6a4",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "description": "Filter markets until this Unix timestamp in seconds (inclusive)",
            "schema": {
              "type": "integer",
              "example": 1672531200
            },
            "x-doc": {
              "desc_en": "Only return markets at or before this time, given as a Unix timestamp in seconds.",
              "title_zh": "仅返回时间不晚于此刻的市场，Unix 时间戳（秒）。",
              "source": "ai",
              "src_hash": "sha256:4edb297ede40",
              "doc_version": "2.0.0"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Markets response with pagination",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "markets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "market_slug": {
                            "type": "string",
                            "example": "btc-updown-15m-1762516800",
                            "x-doc": {
                              "desc_en": "URL identifier of the market.",
                              "title_zh": "市场的 URL 标识。",
                              "source": "ai",
                              "src_hash": "sha256:3d0e5a95368e",
                              "doc_version": "2.0.0"
                            }
                          },
                          "event_slug": {
                            "type": "string",
                            "nullable": true,
                            "description": "The event slug this market belongs to, or null if not associated with an event",
                            "example": "presidential-election-winner-2028",
                            "x-doc": {
                              "desc_en": "Slug of the event this market belongs to; null when the market is not part of an event.",
                              "title_zh": "该市场所属事件的 slug；不属于任何事件时为 null。",
                              "source": "ai",
                              "src_hash": "sha256:7c8e4a1f7075",
                              "doc_version": "2.0.0"
                            }
                          },
                          "condition_id": {
                            "type": "string",
                            "example": "0x6876ac2b6174778c973c118aac287c49057c4d5360f896729209fe985a2c07fb",
                            "x-doc": {
                              "desc_en": "On-chain condition ID identifying the market.",
                              "title_zh": "标识该市场的链上 condition ID。",
                              "source": "ai",
                              "src_hash": "sha256:553f2942a4d8",
                              "doc_version": "2.0.0"
                            }
                          },
                          "title": {
                            "type": "string",
                            "example": "Bitcoin Up or Down - November 7, 7:00AM-7:15AM ET",
                            "x-doc": {
                              "desc_en": "Human-readable market question or title.",
                              "title_zh": "市场的可读问题或标题。",
                              "source": "ai",
                              "src_hash": "sha256:58b85c8e3473",
                              "doc_version": "2.0.0"
                            }
                          },
                          "start_time": {
                            "type": "integer",
                            "description": "Unix timestamp in seconds when the market starts",
                            "example": 1762506140,
                            "x-doc": {
                              "desc_en": "When trading on the market opens, as a Unix timestamp in seconds.",
                              "title_zh": "市场开盘时间，Unix 时间戳（秒）。",
                              "source": "ai",
                              "src_hash": "sha256:8586847fa444",
                              "doc_version": "2.0.0"
                            }
                          },
                          "end_time": {
                            "type": "integer",
                            "description": "Unix timestamp in seconds when the market ends",
                            "example": 1762517700,
                            "x-doc": {
                              "desc_en": "When trading on the market ends, as a Unix timestamp in seconds.",
                              "title_zh": "市场结束时间，Unix 时间戳（秒）。",
                              "source": "ai",
                              "src_hash": "sha256:1ea49c98abcc",
                              "doc_version": "2.0.0"
                            }
                          },
                          "completed_time": {
                            "type": "integer",
                            "nullable": true,
                            "description": "Unix timestamp in seconds when the market was completed",
                            "example": null,
                            "x-doc": {
                              "desc_en": "When the market was completed, as a Unix timestamp in seconds; null if not yet completed.",
                              "title_zh": "市场完成时间，Unix 时间戳（秒）；尚未完成时为 null。",
                              "source": "ai",
                              "src_hash": "sha256:845f4453f14d",
                              "doc_version": "2.0.0"
                            }
                          },
                          "close_time": {
                            "type": "integer",
                            "nullable": true,
                            "description": "Unix timestamp in seconds when the market was closed",
                            "example": null,
                            "x-doc": {
                              "desc_en": "When the market was closed, as a Unix timestamp in seconds; null if still open.",
                              "title_zh": "市场关闭时间，Unix 时间戳（秒）；仍开放时为 null。",
                              "source": "ai",
                              "src_hash": "sha256:860258e4c1e7",
                              "doc_version": "2.0.0"
                            }
                          },
                          "game_start_time": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true,
                            "description": "Datetime string in UTC format (YYYY-MM-DD HH:MM:SS.000) for when the game/event starts. Only present for sports markets that have a game start time.",
                            "example": "2025-08-16 20:00:00.000",
                            "x-doc": {
                              "desc_en": "For sports markets, the UTC datetime when the underlying game starts; null otherwise.",
                              "title_zh": "体育类市场中对应赛事的开始时间（UTC）；非体育市场为 null。",
                              "source": "ai",
                              "src_hash": "sha256:cc2024e21ec0",
                              "doc_version": "2.0.0"
                            }
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "example": [
                              "Up or Down",
                              "Crypto Prices",
                              "Hide From New",
                              "Recurring",
                              "Crypto",
                              "Bitcoin",
                              "15M"
                            ],
                            "x-doc": {
                              "desc_en": "Category tags attached to the market.",
                              "title_zh": "市场所带的分类标签。",
                              "source": "ai",
                              "src_hash": "sha256:dd655c0cc43b",
                              "doc_version": "2.0.0"
                            }
                          },
                          "volume_1_week": {
                            "type": "number",
                            "description": "Trading volume in USD for the past week",
                            "example": 0,
                            "x-doc": {
                              "desc_en": "Trading volume over the past week, in USD.",
                              "title_zh": "过去一周的成交量（美元）。",
                              "source": "ai",
                              "src_hash": "sha256:90b3b7e6705c",
                              "doc_version": "2.0.0"
                            }
                          },
                          "volume_1_month": {
                            "type": "number",
                            "description": "Trading volume in USD for the past month",
                            "example": 0,
                            "x-doc": {
                              "desc_en": "Trading volume over the past month, in USD.",
                              "title_zh": "过去一个月的成交量（美元）。",
                              "source": "ai",
                              "src_hash": "sha256:f1600b3ec527",
                              "doc_version": "2.0.0"
                            }
                          },
                          "volume_1_year": {
                            "type": "number",
                            "description": "Trading volume in USD for the past year",
                            "example": 0,
                            "x-doc": {
                              "desc_en": "Trading volume over the past year, in USD.",
                              "title_zh": "过去一年的成交量（美元）。",
                              "source": "ai",
                              "src_hash": "sha256:698023619718",
                              "doc_version": "2.0.0"
                            }
                          },
                          "volume_total": {
                            "type": "number",
                            "description": "Total trading volume in USD",
                            "example": 93.148228,
                            "x-doc": {
                              "desc_en": "Cumulative trading volume since inception, in USD.",
                              "title_zh": "自创建以来的累计成交量（美元）。",
                              "source": "ai",
                              "src_hash": "sha256:727097d0b5e9",
                              "doc_version": "2.0.0"
                            }
                          },
                          "resolution_source": {
                            "type": "string",
                            "description": "URL to the data source used for market resolution",
                            "example": "https://data.chain.link/streams/btc-usd",
                            "x-doc": {
                              "desc_en": "URL of the data source used to resolve the market outcome.",
                              "title_zh": "用于裁定市场结果的数据源 URL。",
                              "source": "ai",
                              "src_hash": "sha256:643998353ed7",
                              "doc_version": "2.0.0"
                            }
                          },
                          "image": {
                            "type": "string",
                            "description": "URL to the market image",
                            "example": "https://polymarket-upload.s3.us-east-2.amazonaws.com/BTC+fullsize.png",
                            "x-doc": {
                              "desc_en": "URL of the market's display image.",
                              "title_zh": "市场展示图片的 URL。",
                              "source": "ai",
                              "src_hash": "sha256:3f5696806f74",
                              "doc_version": "2.0.0"
                            }
                          },
                          "description": {
                            "type": "string",
                            "nullable": true,
                            "description": "Detailed description of the market, or null if no description is available",
                            "example": "This market resolves to \"Yes\" if Bitcoin's price increases from the start to the end of the 15-minute window, and \"No\" otherwise.",
                            "x-doc": {
                              "desc_en": "Detailed market description including resolution criteria; null when unavailable.",
                              "title_zh": "市场的详细描述（含裁定标准）；无内容时为 null。",
                              "source": "ai",
                              "src_hash": "sha256:f7876cb3d679",
                              "doc_version": "2.0.0"
                            }
                          },
                          "negative_risk_id": {
                            "type": "string",
                            "nullable": true,
                            "description": "Negative risk identifier for the market, or null if not applicable",
                            "example": null,
                            "x-doc": {
                              "desc_en": "Identifier linking related mutually-exclusive markets under a negative-risk group; null when not applicable.",
                              "title_zh": "将互斥相关市场归入 negative-risk 组的标识；不适用时为 null。",
                              "source": "ai",
                              "src_hash": "sha256:faaa78acc774",
                              "doc_version": "2.0.0"
                            }
                          },
                          "side_a": {
                            "type": "object",
                            "description": "First side/outcome of the market",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Token ID for side A",
                                "example": "14557944883400223565643640243919774851380876937588843424705199812983475639104",
                                "x-doc": {
                                  "desc_en": "Outcome token ID for side A.",
                                  "title_zh": "side A 的结果 token ID。",
                                  "source": "ai",
                                  "src_hash": "sha256:8c0e8cbccb45",
                                  "doc_version": "2.0.0"
                                }
                              },
                              "label": {
                                "type": "string",
                                "description": "Label for side A",
                                "example": "Up",
                                "x-doc": {
                                  "desc_en": "Display label for side A's outcome.",
                                  "title_zh": "side A 结果的展示标签。",
                                  "source": "ai",
                                  "src_hash": "sha256:8726654e9133",
                                  "doc_version": "2.0.0"
                                }
                              }
                            },
                            "x-doc": {
                              "desc_en": "The first of the two market outcomes.",
                              "title_zh": "市场两个结果中的第一个。",
                              "source": "ai",
                              "src_hash": "sha256:328e84e9c16e",
                              "doc_version": "2.0.0"
                            }
                          },
                          "side_b": {
                            "type": "object",
                            "description": "Second side/outcome of the market",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Token ID for side B",
                                "example": "57567439101367774829602299916701968079591032322820664013819223989961583069589",
                                "x-doc": {
                                  "desc_en": "Outcome token ID for side B.",
                                  "title_zh": "side B 的结果 token ID。",
                                  "source": "ai",
                                  "src_hash": "sha256:6f814dc73439",
                                  "doc_version": "2.0.0"
                                }
                              },
                              "label": {
                                "type": "string",
                                "description": "Label for side B",
                                "example": "Down",
                                "x-doc": {
                                  "desc_en": "Display label for side B's outcome.",
                                  "title_zh": "side B 结果的展示标签。",
                                  "source": "ai",
                                  "src_hash": "sha256:eb5e92bc2a37",
                                  "doc_version": "2.0.0"
                                }
                              }
                            },
                            "x-doc": {
                              "desc_en": "The second of the two market outcomes.",
                              "title_zh": "市场两个结果中的第二个。",
                              "source": "ai",
                              "src_hash": "sha256:21ea8da329a4",
                              "doc_version": "2.0.0"
                            }
                          },
                          "winning_side": {
                            "type": "string",
                            "nullable": true,
                            "description": "The winning side of the market (null if not yet resolved)",
                            "example": null,
                            "x-doc": {
                              "desc_en": "The outcome that won once resolved; null until the market is resolved.",
                              "title_zh": "裁定后的获胜结果；未裁定前为 null。",
                              "source": "ai",
                              "src_hash": "sha256:aeae34e8490e",
                              "doc_version": "2.0.0"
                            }
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "open",
                              "closed"
                            ],
                            "example": "open",
                            "x-doc": {
                              "desc_en": "Whether the market is currently open or closed.",
                              "title_zh": "市场当前为开放还是已关闭。",
                              "source": "ai",
                              "src_hash": "sha256:7378fdeb3aaa",
                              "doc_version": "2.0.0"
                            }
                          },
                          "extra_fields": {
                            "type": "object",
                            "description": "Additional market-specific fields as a map of key-value pairs. For updown markets (markets with slugs containing '-updown-15m-', '-up-or-down-', or '-updown-4h-'), this object includes 'price_to_beat' and 'final_price' fields. Empty object if no extra fields are present.",
                            "additionalProperties": {
                              "nullable": true,
                              "anyOf": [
                                {
                                  "type": "number"
                                },
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "boolean"
                                }
                              ]
                            },
                            "example": {
                              "price_to_beat": 98765.43,
                              "final_price": 98801.21
                            },
                            "x-doc": {
                              "desc_en": "Map of market-specific extra fields; for up/down markets it includes price_to_beat and final_price. Empty when none apply.",
                              "title_zh": "市场专有的附加字段映射；涨跌（up/down）类市场含 price_to_beat 与 final_price。无附加字段时为空对象。",
                              "source": "ai",
                              "src_hash": "sha256:05db88795dc5",
                              "doc_version": "2.0.0"
                            }
                          }
                        }
                      },
                      "x-doc": {
                        "desc_en": "The list of markets matching the query.",
                        "title_zh": "匹配查询条件的市场列表。",
                        "source": "ai",
                        "src_hash": "sha256:68c302b604f1",
                        "doc_version": "2.0.0"
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "limit": {
                          "type": "integer",
                          "example": 20,
                          "x-doc": {
                            "desc_en": "The page size applied to this response.",
                            "title_zh": "本次响应采用的页大小。",
                            "source": "ai",
                            "src_hash": "sha256:48dfce64c40e",
                            "doc_version": "2.0.0"
                          }
                        },
                        "total": {
                          "type": "integer",
                          "description": "Total number of markets matching the filters",
                          "example": 150,
                          "x-doc": {
                            "desc_en": "Total number of markets matching the filters across all pages.",
                            "title_zh": "所有页中匹配筛选条件的市场总数。",
                            "source": "ai",
                            "src_hash": "sha256:e67eff2e992a",
                            "doc_version": "2.0.0"
                          }
                        },
                        "has_more": {
                          "type": "boolean",
                          "description": "Whether there are more markets available",
                          "example": true,
                          "x-doc": {
                            "desc_en": "Whether further pages of results are available.",
                            "title_zh": "是否还有更多结果页可取。",
                            "source": "ai",
                            "src_hash": "sha256:32791c86ed1c",
                            "doc_version": "2.0.0"
                          }
                        },
                        "pagination_key": {
                          "type": "string",
                          "description": "Cursor for next page. Only present when has_more is true and using cursor-based pagination.",
                          "example": "eyJ2b2x1bWVfdG90YWwiOjEyMzQ1LjY3LCJjbG9zZV90aW1lIjpudWxsLCJjb25kaXRpb25faWQiOiIweDEyMzQifQ==",
                          "x-doc": {
                            "desc_en": "Cursor to request the next page; present only when has_more is true under cursor pagination.",
                            "title_zh": "请求下一页的游标；仅在游标分页且 has_more 为 true 时出现。",
                            "source": "ai",
                            "src_hash": "sha256:2748ff8ae0e5",
                            "doc_version": "2.0.0"
                          }
                        }
                      },
                      "x-doc": {
                        "desc_en": "Pagination metadata for the result set.",
                        "title_zh": "结果集的分页元信息。",
                        "source": "ai",
                        "src_hash": "sha256:346f354356a8",
                        "doc_version": "2.0.0"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid search parameter",
                      "x-doc": {
                        "desc_en": "Short error code identifying the failure category.",
                        "title_zh": "标识失败类别的简短错误码。",
                        "source": "ai",
                        "src_hash": "sha256:8d33bc654876",
                        "doc_version": "2.0.0"
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "search must be at least 2 characters long",
                      "x-doc": {
                        "desc_en": "Human-readable explanation of what went wrong.",
                        "title_zh": "对错误原因的可读说明。",
                        "source": "ai",
                        "src_hash": "sha256:aaef77d82d0e",
                        "doc_version": "2.0.0"
                      }
                    }
                  }
                },
                "examples": {
                  "search_too_short": {
                    "summary": "Search query too short",
                    "value": {
                      "error": "Invalid search parameter",
                      "message": "search must be at least 2 characters long"
                    }
                  },
                  "search_with_other_params": {
                    "summary": "Search with other parameters",
                    "value": {
                      "error": "Invalid query parameters",
                      "message": "search parameter cannot be used with other filter parameters"
                    }
                  },
                  "invalid_limit": {
                    "summary": "Invalid limit",
                    "value": {
                      "error": "Invalid limit parameter",
                      "message": "limit must be a number between 1 and 100"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Internal Server Error",
                      "x-doc": {
                        "desc_en": "Short error code identifying the failure category.",
                        "title_zh": "标识失败类别的简短错误码。",
                        "source": "ai",
                        "src_hash": "sha256:bf6bbf158420",
                        "doc_version": "2.0.0"
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "Failed to fetch markets data",
                      "x-doc": {
                        "desc_en": "Human-readable explanation of what went wrong.",
                        "title_zh": "对错误原因的可读说明。",
                        "source": "ai",
                        "src_hash": "sha256:4070fbfc4065",
                        "doc_version": "2.0.0"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-doc": {
          "heading_zh": "查询预测市场列表 get_polymarket-markets",
          "desc_en": "List prediction markets with optional filtering (by slug, condition ID, token ID, tags, status, volume, time range) and keyword search. Results are ordered by volume when filters are applied, or by start time otherwise, and paginated via a cursor.",
          "description_zh": "查询预测市场列表，支持按 slug、condition ID、token ID、标签、状态、成交量、时间范围筛选及关键词搜索。施加筛选时按成交量排序，否则按开始时间排序，并以游标分页。",
          "source": "ai",
          "src_hash": "sha256:f5e64aa8f915",
          "doc_version": "2.0.0"
        }
      }
    },
    "/polymarket/events": {
      "get": {
        "summary": "Get Events",
        "description": "Fetches events (groups of related markets) with optional filtering by event_slug, tags/categories and status. Events aggregate multiple markets under a single topic (e.g., 'Presidential Election 2024' contains multiple candidate markets). Returns events ordered by total volume (most popular first).\n\n**Example Request (single event by slug):**\n```bash\ncurl 'https://api.aisa.one/apis/v1/polymarket/events?event_slug=presidential-election-winner-2024&include_markets=true'\n```\n\n**Example Request (filter by tags):**\n```bash\ncurl 'https://api.aisa.one/apis/v1/polymarket/events?tags=sports&status=open&limit=10'\n```\n\n**Example Request (with markets included):**\n```bash\ncurl 'https://api.aisa.one/apis/v1/polymarket/events?include_markets=true&limit=5'\n```",
        "operationId": "get_polymarket-events",
        "parameters": [
          {
            "name": "event_slug",
            "in": "query",
            "required": false,
            "description": "Filter by specific event slug. When provided, returns a single hydrated event matching that slug (e.g., 'presidential-election-winner-2024'). Use with include_markets=true to get the full event with all its markets.",
            "schema": {
              "type": "string",
              "example": "presidential-election-winner-2024"
            },
            "x-doc": {
              "desc_en": "Return the single event matching this slug; combine with include_markets=true to also embed its markets.",
              "title_zh": "返回与该 slug 匹配的单个事件；配合 include_markets=true 可一并内嵌其市场。",
              "source": "ai",
              "src_hash": "sha256:dc7595cb893d",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "required": false,
            "description": "Filter events by tag(s)/category. Can provide multiple values (e.g., sports, crypto, politics).",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "sports",
                "football"
              ]
            },
            "style": "form",
            "explode": true,
            "x-doc": {
              "desc_en": "Restrict results to events carrying these category tags. Repeat the parameter for multiple values.",
              "title_zh": "按事件所带的分类标签筛选，可重复传入多个值。",
              "source": "ai",
              "src_hash": "sha256:37e7eefdcacf",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter events by status. An event is 'open' if any of its markets are still open, 'closed' if all markets are closed.",
            "schema": {
              "type": "string",
              "enum": [
                "open",
                "closed"
              ],
              "example": "open"
            },
            "x-doc": {
              "desc_en": "Filter by event status; an event is open if any of its markets is open, otherwise closed.",
              "title_zh": "按事件状态筛选；只要有一个市场开放即视为 open，全部关闭则为 closed。",
              "source": "ai",
              "src_hash": "sha256:3a63e961131b",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "include_markets",
            "in": "query",
            "required": false,
            "description": "Set to 'true' to include the list of markets for each event in the response.",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "default": "false",
              "example": "true"
            },
            "x-doc": {
              "desc_en": "Pass true to embed the full list of markets within each returned event.",
              "title_zh": "传 true 时在每个返回事件中内嵌其完整市场列表。",
              "source": "ai",
              "src_hash": "sha256:77f4393f2959",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "description": "Filter events starting after this Unix timestamp (seconds)",
            "schema": {
              "type": "integer",
              "example": 1640995200
            },
            "x-doc": {
              "desc_en": "Only return events starting at or after this Unix timestamp in seconds.",
              "title_zh": "仅返回开始时间不早于此刻的事件，Unix 时间戳（秒）。",
              "source": "ai",
              "src_hash": "sha256:57bc3f8356d0",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "description": "Filter events starting before this Unix timestamp (seconds)",
            "schema": {
              "type": "integer",
              "example": 1672531200
            },
            "x-doc": {
              "desc_en": "Only return events starting at or before this Unix timestamp in seconds.",
              "title_zh": "仅返回开始时间不晚于此刻的事件，Unix 时间戳（秒）。",
              "source": "ai",
              "src_hash": "sha256:b439c3c8a1bd",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "game_start_time",
            "in": "query",
            "required": false,
            "description": "Filter events by game start time (Unix timestamp in seconds). Useful for filtering sports events by when the game starts.",
            "schema": {
              "type": "integer",
              "example": 1704067200
            },
            "x-doc": {
              "desc_en": "Filter sports events by when the underlying game starts, as a Unix timestamp in seconds.",
              "title_zh": "按对应赛事开始时间筛选体育类事件，Unix 时间戳（秒）。",
              "source": "ai",
              "src_hash": "sha256:d48ba866b0c5",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of events to return (1-100). Default: 10.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10,
              "example": 10
            },
            "x-doc": {
              "desc_en": "Maximum number of events to return in this page.",
              "title_zh": "本页最多返回的事件数量。",
              "source": "ai",
              "src_hash": "sha256:e2260b89535a",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "pagination_key",
            "in": "query",
            "required": false,
            "description": "Pagination key for cursor-based pagination. Use the value from the previous response's pagination.pagination_key field to get the next page of results. Do not use the deprecated 'offset' parameter.",
            "schema": {
              "type": "string",
              "example": "eyJsYXN0Vm9sdW1lIjoxNzEyMTMyNjYzLjk2MTYwNjMsImxhc3RFdmVudFNsdWciOiJuYmEtY2hhbXBpb24tMjAyNC0yMDI1In0="
            },
            "x-doc": {
              "desc_en": "Cursor for the next page; pass back pagination.pagination_key from the previous response. Do not use the deprecated offset parameter.",
              "title_zh": "翻页游标，回传上一页响应的 pagination.pagination_key；请勿使用已废弃的 offset 参数。",
              "source": "ai",
              "src_hash": "sha256:95fe1fdd222a",
              "doc_version": "2.0.0"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Events response with pagination",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "events": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "event_slug": {
                            "type": "string",
                            "description": "Unique identifier for the event",
                            "example": "presidential-election-winner-2024",
                            "x-doc": {
                              "desc_en": "URL identifier uniquely naming the event.",
                              "title_zh": "唯一标识事件的 URL slug。",
                              "source": "ai",
                              "src_hash": "sha256:e513dc3647e7",
                              "doc_version": "2.0.0"
                            }
                          },
                          "title": {
                            "type": "string",
                            "description": "Event title",
                            "example": "Presidential Election Winner 2024",
                            "x-doc": {
                              "desc_en": "Human-readable event title.",
                              "title_zh": "事件的可读标题。",
                              "source": "ai",
                              "src_hash": "sha256:4e78d7824bb9",
                              "doc_version": "2.0.0"
                            }
                          },
                          "subtitle": {
                            "type": "string",
                            "nullable": true,
                            "description": "Event subtitle or description",
                            "example": "Who will win the 2024 US Presidential Election?",
                            "x-doc": {
                              "desc_en": "Optional subtitle or short description of the event; null when absent.",
                              "title_zh": "事件的副标题或简短描述；无则为 null。",
                              "source": "ai",
                              "src_hash": "sha256:dcbdd25caf65",
                              "doc_version": "2.0.0"
                            }
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "open",
                              "closed"
                            ],
                            "description": "Event status - 'open' if any market is open, 'closed' if all markets are closed",
                            "example": "closed",
                            "x-doc": {
                              "desc_en": "Aggregate event status: open if any market is open, closed if all are closed.",
                              "title_zh": "事件的聚合状态：有任一市场开放为 open，全部关闭为 closed。",
                              "source": "ai",
                              "src_hash": "sha256:843fecfaeb4f",
                              "doc_version": "2.0.0"
                            }
                          },
                          "start_time": {
                            "type": "integer",
                            "description": "Unix timestamp (seconds) when the event started",
                            "example": 1704067200,
                            "x-doc": {
                              "desc_en": "When the event started, as a Unix timestamp in seconds.",
                              "title_zh": "事件开始时间，Unix 时间戳（秒）。",
                              "source": "ai",
                              "src_hash": "sha256:d415cd3c4916",
                              "doc_version": "2.0.0"
                            }
                          },
                          "end_time": {
                            "type": "integer",
                            "description": "Unix timestamp (seconds) when the event ends",
                            "example": 1730851200,
                            "x-doc": {
                              "desc_en": "When the event ends, as a Unix timestamp in seconds.",
                              "title_zh": "事件结束时间，Unix 时间戳（秒）。",
                              "source": "ai",
                              "src_hash": "sha256:97183b978f37",
                              "doc_version": "2.0.0"
                            }
                          },
                          "volume_fiat_amount": {
                            "type": "number",
                            "description": "Total trading volume across all markets in the event (USD)",
                            "example": 3686335059.29,
                            "x-doc": {
                              "desc_en": "Total trading volume across all markets in the event, in USD.",
                              "title_zh": "事件下所有市场的总成交量（美元）。",
                              "source": "ai",
                              "src_hash": "sha256:afd0ca6566d5",
                              "doc_version": "2.0.0"
                            }
                          },
                          "settlement_sources": {
                            "type": "string",
                            "nullable": true,
                            "description": "Resolution/settlement source for the event",
                            "example": "Associated Press",
                            "x-doc": {
                              "desc_en": "Source used to settle/resolve the event; null when unspecified.",
                              "title_zh": "用于结算/裁定事件的来源；未指定时为 null。",
                              "source": "ai",
                              "src_hash": "sha256:7c194c764b8c",
                              "doc_version": "2.0.0"
                            }
                          },
                          "rules_url": {
                            "type": "string",
                            "nullable": true,
                            "description": "URL to the event rules (if available)",
                            "example": null,
                            "x-doc": {
                              "desc_en": "Link to the event's rules; null when unavailable.",
                              "title_zh": "事件规则的链接；无则为 null。",
                              "source": "ai",
                              "src_hash": "sha256:6b94bfbe16b7",
                              "doc_version": "2.0.0"
                            }
                          },
                          "image": {
                            "type": "string",
                            "nullable": true,
                            "description": "Event image URL",
                            "example": "https://polymarket.com/images/election-2024.png",
                            "x-doc": {
                              "desc_en": "URL of the event's display image; null when none.",
                              "title_zh": "事件展示图片的 URL；无则为 null。",
                              "source": "ai",
                              "src_hash": "sha256:caf26516110e",
                              "doc_version": "2.0.0"
                            }
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Array of category tags for the event",
                            "example": [
                              "politics",
                              "elections"
                            ],
                            "x-doc": {
                              "desc_en": "Category tags attached to the event.",
                              "title_zh": "事件所带的分类标签。",
                              "source": "ai",
                              "src_hash": "sha256:1cef1d435290",
                              "doc_version": "2.0.0"
                            }
                          },
                          "market_count": {
                            "type": "integer",
                            "description": "Number of markets in this event",
                            "example": 17,
                            "x-doc": {
                              "desc_en": "Number of markets grouped under this event.",
                              "title_zh": "该事件下聚合的市场数量。",
                              "source": "ai",
                              "src_hash": "sha256:ccb38c9673cb",
                              "doc_version": "2.0.0"
                            }
                          },
                          "markets": {
                            "type": "array",
                            "description": "List of markets in this event (only included when include_markets=true)",
                            "items": {
                              "type": "object",
                              "properties": {
                                "market_slug": {
                                  "type": "string",
                                  "example": "will-trump-win-2024",
                                  "x-doc": {
                                    "desc_en": "URL identifier of the embedded market.",
                                    "title_zh": "内嵌市场的 URL 标识。",
                                    "source": "ai",
                                    "src_hash": "sha256:712e086b2803",
                                    "doc_version": "2.0.0"
                                  }
                                },
                                "title": {
                                  "type": "string",
                                  "example": "Will Trump win the 2024 election?",
                                  "x-doc": {
                                    "desc_en": "Title of the embedded market.",
                                    "title_zh": "内嵌市场的标题。",
                                    "source": "ai",
                                    "src_hash": "sha256:51c25f3f3f80",
                                    "doc_version": "2.0.0"
                                  }
                                },
                                "condition_id": {
                                  "type": "string",
                                  "example": "0x1234...",
                                  "x-doc": {
                                    "desc_en": "On-chain condition ID of the embedded market.",
                                    "title_zh": "内嵌市场的链上 condition ID。",
                                    "source": "ai",
                                    "src_hash": "sha256:3b80252a0f55",
                                    "doc_version": "2.0.0"
                                  }
                                },
                                "status": {
                                  "type": "string",
                                  "enum": [
                                    "open",
                                    "closed"
                                  ],
                                  "example": "closed",
                                  "x-doc": {
                                    "desc_en": "Whether the embedded market is open or closed.",
                                    "title_zh": "内嵌市场为开放还是已关闭。",
                                    "source": "ai",
                                    "src_hash": "sha256:3c2bfda9b127",
                                    "doc_version": "2.0.0"
                                  }
                                },
                                "volume_total": {
                                  "type": "number",
                                  "example": 1500000000,
                                  "x-doc": {
                                    "desc_en": "Cumulative trading volume of the embedded market, in USD.",
                                    "title_zh": "内嵌市场的累计成交量（美元）。",
                                    "source": "ai",
                                    "src_hash": "sha256:c116d672ab1d",
                                    "doc_version": "2.0.0"
                                  }
                                }
                              }
                            },
                            "x-doc": {
                              "desc_en": "Markets belonging to this event; populated only when include_markets=true.",
                              "title_zh": "该事件下的市场；仅在 include_markets=true 时填充。",
                              "source": "ai",
                              "src_hash": "sha256:7459bb005b84",
                              "doc_version": "2.0.0"
                            }
                          }
                        }
                      },
                      "x-doc": {
                        "desc_en": "The list of events matching the query.",
                        "title_zh": "匹配查询条件的事件列表。",
                        "source": "ai",
                        "src_hash": "sha256:a47f1e3f4639",
                        "doc_version": "2.0.0"
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "limit": {
                          "type": "integer",
                          "description": "Number of events returned in this response",
                          "example": 10,
                          "x-doc": {
                            "desc_en": "Number of events returned in this response.",
                            "title_zh": "本次响应返回的事件数量。",
                            "source": "ai",
                            "src_hash": "sha256:2879f150be3f",
                            "doc_version": "2.0.0"
                          }
                        },
                        "has_more": {
                          "type": "boolean",
                          "description": "Whether there are more events available. If true, use pagination_key to fetch the next page.",
                          "example": true,
                          "x-doc": {
                            "desc_en": "Whether further pages are available; if true, use pagination_key to continue.",
                            "title_zh": "是否还有更多页；为 true 时用 pagination_key 继续翻页。",
                            "source": "ai",
                            "src_hash": "sha256:74e5c0a54028",
                            "doc_version": "2.0.0"
                          }
                        },
                        "pagination_key": {
                          "type": "string",
                          "nullable": true,
                          "description": "Pagination key for fetching the next page. Pass this value as the pagination_key query parameter to get the next page of results. Will be null if has_more is false.",
                          "example": "eyJsYXN0Vm9sdW1lIjoxNzEyMTMyNjYzLjk2MTYwNjMsImxhc3RFdmVudFNsdWciOiJuYmEtY2hhbXBpb24tMjAyNC0yMDI1In0=",
                          "x-doc": {
                            "desc_en": "Cursor to fetch the next page; null when has_more is false.",
                            "title_zh": "获取下一页的游标；has_more 为 false 时为 null。",
                            "source": "ai",
                            "src_hash": "sha256:de4b666ce40c",
                            "doc_version": "2.0.0"
                          }
                        }
                      },
                      "x-doc": {
                        "desc_en": "Pagination metadata for the result set.",
                        "title_zh": "结果集的分页元信息。",
                        "source": "ai",
                        "src_hash": "sha256:a4d398a79c1f",
                        "doc_version": "2.0.0"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid status parameter",
                      "x-doc": {
                        "desc_en": "Short error code identifying the failure category.",
                        "title_zh": "标识失败类别的简短错误码。",
                        "source": "ai",
                        "src_hash": "sha256:c636d6ccb224",
                        "doc_version": "2.0.0"
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "status must be 'open' or 'closed'",
                      "x-doc": {
                        "desc_en": "Human-readable explanation of what went wrong.",
                        "title_zh": "对错误原因的可读说明。",
                        "source": "ai",
                        "src_hash": "sha256:4f7d13af95b9",
                        "doc_version": "2.0.0"
                      }
                    }
                  }
                },
                "examples": {
                  "invalid_status": {
                    "summary": "Invalid status",
                    "value": {
                      "error": "Invalid status parameter",
                      "message": "status must be 'open' or 'closed'"
                    }
                  },
                  "invalid_limit": {
                    "summary": "Invalid limit",
                    "value": {
                      "error": "Invalid limit parameter",
                      "message": "limit must be a number between 1 and 100"
                    }
                  },
                  "invalid_offset": {
                    "summary": "Invalid offset",
                    "value": {
                      "error": "Invalid offset parameter",
                      "message": "offset must be a non-negative number"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Internal Server Error",
                      "x-doc": {
                        "desc_en": "Short error code identifying the failure category.",
                        "title_zh": "标识失败类别的简短错误码。",
                        "source": "ai",
                        "src_hash": "sha256:bf6bbf158420",
                        "doc_version": "2.0.0"
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "Failed to fetch events data",
                      "x-doc": {
                        "desc_en": "Human-readable explanation of what went wrong.",
                        "title_zh": "对错误原因的可读说明。",
                        "source": "ai",
                        "src_hash": "sha256:1ba46c182a5c",
                        "doc_version": "2.0.0"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-doc": {
          "heading_zh": "查询事件列表 get_polymarket-events",
          "desc_en": "List events, which group related markets under a single topic, with optional filtering by event slug, tags, status, and time range. Optionally embeds each event's markets when include_markets is enabled. Results are ordered by total volume and paginated via a cursor.",
          "description_zh": "查询事件列表。事件将相关市场聚合到同一主题下，支持按事件 slug、标签、状态、时间范围筛选；开启 include_markets 时内嵌各事件的市场。结果按总成交量排序并以游标分页。",
          "source": "ai",
          "src_hash": "sha256:c0e1c8d6e82e",
          "doc_version": "2.0.0"
        }
      }
    },
    "/polymarket/orders": {
      "get": {
        "summary": "Get Orders",
        "description": "Fetches order data with optional filtering by market, condition, token, time range, and user. Returns orders that match either primary or secondary token IDs for markets. If no filters provided, fetches the latest trades happening in real-time. Only one of market_slug, token_id, or condition_id can be provided.",
        "operationId": "get_polymarket-orders",
        "parameters": [
          {
            "name": "market_slug",
            "in": "query",
            "required": false,
            "description": "Filter orders by market slug",
            "schema": {
              "type": "string",
              "example": "bitcoin-up-or-down-july-25-8pm-et"
            },
            "x-doc": {
              "desc_en": "Restrict orders to a single market identified by its slug. Mutually exclusive with token_id and condition_id.",
              "title_zh": "按市场 slug 限定订单，与 token_id、condition_id 互斥。",
              "source": "ai",
              "src_hash": "sha256:f418c6f9fc87",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "condition_id",
            "in": "query",
            "required": false,
            "description": "Filter orders by condition ID",
            "schema": {
              "type": "string",
              "example": "0x4567b275e6b667a6217f5cb4f06a797d3a1eaf1d0281fb5bc8c75e2046ae7e57"
            },
            "x-doc": {
              "desc_en": "Restrict orders to a single market identified by its on-chain condition ID. Mutually exclusive with market_slug and token_id.",
              "title_zh": "按链上 condition ID 限定订单，与 market_slug、token_id 互斥。",
              "source": "ai",
              "src_hash": "sha256:0a3259c9a7a9",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "token_id",
            "in": "query",
            "required": false,
            "description": "Filter orders by token ID",
            "schema": {
              "type": "string",
              "example": "58519484510520807142687824915233722607092670035910114837910294451210534222702"
            },
            "x-doc": {
              "desc_en": "Restrict orders to those touching this outcome token ID. Mutually exclusive with market_slug and condition_id.",
              "title_zh": "按结果 token ID 限定订单，与 market_slug、condition_id 互斥。",
              "source": "ai",
              "src_hash": "sha256:2fc19b522df6",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "description": "Filter orders from this Unix timestamp in seconds (inclusive)",
            "schema": {
              "type": "integer",
              "example": 1640995200
            },
            "x-doc": {
              "desc_en": "Only return orders placed at or after this Unix timestamp in seconds.",
              "title_zh": "仅返回下单时间不早于此刻的订单，Unix 时间戳（秒）。",
              "source": "ai",
              "src_hash": "sha256:08803a3cb99a",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "description": "Filter orders until this Unix timestamp in seconds (inclusive)",
            "schema": {
              "type": "integer",
              "example": 1672531200
            },
            "x-doc": {
              "desc_en": "Only return orders placed at or before this Unix timestamp in seconds.",
              "title_zh": "仅返回下单时间不晚于此刻的订单，Unix 时间戳（秒）。",
              "source": "ai",
              "src_hash": "sha256:6477ec1ba727",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of orders to return (1-1000)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 100,
              "example": 50
            },
            "x-doc": {
              "desc_en": "Maximum number of orders to return in this page.",
              "title_zh": "本页最多返回的订单数量。",
              "source": "ai",
              "src_hash": "sha256:6789f89f74dc",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "pagination_key",
            "in": "query",
            "required": false,
            "description": "Base64-encoded cursor for efficient pagination. Returned in the previous response's pagination object.",
            "schema": {
              "type": "string",
              "example": "eyJibG9ja190aW1lc3RhbXAiOiIyMDI1LTAxLTE5VDEyOjAwOjAwLjAwMFoiLCJ0eF9oYXNoIjoiMHgxMjM0NTY3ODkwYWJjZGVmIiwibG9nX2luZGV4IjoxMCwidG90YWwiOjUxMDk2MTl9"
            },
            "x-doc": {
              "desc_en": "Cursor for the next page; pass back the value from the previous response's pagination object.",
              "title_zh": "翻页游标，回传上一页响应 pagination 中的值。",
              "source": "ai",
              "src_hash": "sha256:6e3796722b36",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "user",
            "in": "query",
            "required": false,
            "description": "Filter orders by user (wallet address)",
            "schema": {
              "type": "string",
              "example": "0x7c3db723f1d4d8cb9c550095203b686cb11e5c6b"
            },
            "x-doc": {
              "desc_en": "Restrict orders to those made by this user wallet address.",
              "title_zh": "按用户钱包地址限定订单。",
              "source": "ai",
              "src_hash": "sha256:6eff46ea5233",
              "doc_version": "2.0.0"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Orders response with pagination",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "orders": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "token_id": {
                            "type": "string",
                            "example": "58519484510520807142687824915233722607092670035910114837910294451210534222702",
                            "x-doc": {
                              "desc_en": "Outcome token ID this order traded.",
                              "title_zh": "该订单交易的结果 token ID。",
                              "source": "ai",
                              "src_hash": "sha256:89edb3227e33",
                              "doc_version": "2.0.0"
                            }
                          },
                          "token_label": {
                            "type": "string",
                            "description": "Human readable label for this outcome (yes/no etc)",
                            "example": "Yes",
                            "x-doc": {
                              "desc_en": "Human-readable label of the traded outcome (e.g. Yes/No).",
                              "title_zh": "所交易结果的可读标签（如 Yes/No）。",
                              "source": "ai",
                              "src_hash": "sha256:98ee323b80e3",
                              "doc_version": "2.0.0"
                            }
                          },
                          "side": {
                            "type": "string",
                            "enum": [
                              "BUY",
                              "SELL"
                            ],
                            "example": "BUY",
                            "x-doc": {
                              "desc_en": "Whether the order bought or sold the outcome token.",
                              "title_zh": "该订单是买入还是卖出结果 token。",
                              "source": "ai",
                              "src_hash": "sha256:a4326a8d81df",
                              "doc_version": "2.0.0"
                            }
                          },
                          "market_slug": {
                            "type": "string",
                            "example": "bitcoin-up-or-down-july-25-8pm-et",
                            "x-doc": {
                              "desc_en": "Slug of the market the order belongs to.",
                              "title_zh": "订单所属市场的 slug。",
                              "source": "ai",
                              "src_hash": "sha256:fbe6d2bce068",
                              "doc_version": "2.0.0"
                            }
                          },
                          "condition_id": {
                            "type": "string",
                            "example": "0x4567b275e6b667a6217f5cb4f06a797d3a1eaf1d0281fb5bc8c75e2046ae7e57",
                            "x-doc": {
                              "desc_en": "On-chain condition ID of the order's market.",
                              "title_zh": "订单所属市场的链上 condition ID。",
                              "source": "ai",
                              "src_hash": "sha256:fd765bb82aba",
                              "doc_version": "2.0.0"
                            }
                          },
                          "shares": {
                            "type": "number",
                            "description": "Raw number of shares purchased (from the blockchain)",
                            "example": 4995000,
                            "x-doc": {
                              "desc_en": "Raw share quantity as recorded on-chain (before normalization).",
                              "title_zh": "链上记录的原始份额数量（未归一化）。",
                              "source": "ai",
                              "src_hash": "sha256:fe01a1c9fb8a",
                              "doc_version": "2.0.0"
                            }
                          },
                          "shares_normalized": {
                            "type": "number",
                            "description": "Number of shares purchased normalized (this is raw divided by 1000000)",
                            "example": 4.995,
                            "x-doc": {
                              "desc_en": "Share quantity normalized to whole-share units (raw value scaled down by 1,000,000).",
                              "title_zh": "归一化后的份额数量（原始值除以 1,000,000）。",
                              "source": "ai",
                              "src_hash": "sha256:e19e0123543f",
                              "doc_version": "2.0.0"
                            }
                          },
                          "price": {
                            "type": "number",
                            "description": "Price per share",
                            "example": 0.65,
                            "x-doc": {
                              "desc_en": "Execution price per share.\n[⚠️Note:源码未声明价格单位与取值范围，待研发确认。]",
                              "title_zh": "每份额的成交价格。\n[⚠️批注:源码未声明价格单位与取值范围，待研发确认。]",
                              "source": "ai",
                              "src_hash": "sha256:dc277f6531e0",
                              "doc_version": "2.0.0"
                            }
                          },
                          "block_number": {
                            "type": "integer",
                            "description": "Block number where the order was placed",
                            "example": 123456789,
                            "x-doc": {
                              "desc_en": "Block height at which the order was recorded on-chain.",
                              "title_zh": "订单上链所在的区块高度。",
                              "source": "ai",
                              "src_hash": "sha256:5d896e7a4524",
                              "doc_version": "2.0.0"
                            }
                          },
                          "log_index": {
                            "type": "integer",
                            "description": "Log index of the order event in the block",
                            "example": 42,
                            "x-doc": {
                              "desc_en": "Index of the order's event log within its block.",
                              "title_zh": "订单事件日志在区块内的索引。",
                              "source": "ai",
                              "src_hash": "sha256:5d430883ab58",
                              "doc_version": "2.0.0"
                            }
                          },
                          "tx_hash": {
                            "type": "string",
                            "description": "Transaction hash of the order",
                            "example": "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef12",
                            "x-doc": {
                              "desc_en": "Hash of the transaction that recorded the order.",
                              "title_zh": "记录该订单的交易哈希。",
                              "source": "ai",
                              "src_hash": "sha256:1efeb363abcf",
                              "doc_version": "2.0.0"
                            }
                          },
                          "title": {
                            "type": "string",
                            "description": "Market title",
                            "example": "Will Bitcoin be above $50,000 on July 25, 2025 at 8:00 PM ET?",
                            "x-doc": {
                              "desc_en": "Title of the order's market.",
                              "title_zh": "订单所属市场的标题。",
                              "source": "ai",
                              "src_hash": "sha256:e4692895832f",
                              "doc_version": "2.0.0"
                            }
                          },
                          "timestamp": {
                            "type": "integer",
                            "description": "Unix timestamp in seconds when the order was placed",
                            "example": 1757008834,
                            "x-doc": {
                              "desc_en": "When the order was placed, as a Unix timestamp in seconds.",
                              "title_zh": "下单时间，Unix 时间戳（秒）。",
                              "source": "ai",
                              "src_hash": "sha256:5aa247b239f2",
                              "doc_version": "2.0.0"
                            }
                          },
                          "order_hash": {
                            "type": "string",
                            "description": "Hash of the order",
                            "example": "0xabcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890",
                            "x-doc": {
                              "desc_en": "Hash identifying the order.",
                              "title_zh": "标识该订单的哈希。",
                              "source": "ai",
                              "src_hash": "sha256:91e5749b8018",
                              "doc_version": "2.0.0"
                            }
                          },
                          "user": {
                            "type": "string",
                            "description": "Maker address of the order",
                            "example": "0x7c3db723f1d4d8cb9c550095203b686cb11e5c6b",
                            "x-doc": {
                              "desc_en": "Maker wallet address of the order.",
                              "title_zh": "订单的 maker 钱包地址。",
                              "source": "ai",
                              "src_hash": "sha256:8c9dfea629fe",
                              "doc_version": "2.0.0"
                            }
                          },
                          "taker": {
                            "type": "string",
                            "description": "Taker address that was part of this trade. Note: This can often be the CTF exchange and is not always the true taker, proceed with caution using taker information",
                            "example": "0x8d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c1d2e",
                            "x-doc": {
                              "desc_en": "Taker wallet address in the trade; note it is often the CTF exchange rather than the true counterparty, so use with caution.",
                              "title_zh": "成交中的 taker 钱包地址；注意它常是 CTF 交易所而非真实对手方，使用时需谨慎。",
                              "source": "ai",
                              "src_hash": "sha256:c56a7ceb7daa",
                              "doc_version": "2.0.0"
                            }
                          }
                        }
                      },
                      "x-doc": {
                        "desc_en": "The list of matching order/trade records.",
                        "title_zh": "匹配的订单/成交记录列表。",
                        "source": "ai",
                        "src_hash": "sha256:6493962af676",
                        "doc_version": "2.0.0"
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "limit": {
                          "type": "integer",
                          "example": 50,
                          "x-doc": {
                            "desc_en": "The page size applied to this response.",
                            "title_zh": "本次响应采用的页大小。",
                            "source": "ai",
                            "src_hash": "sha256:edfbb3671d2a",
                            "doc_version": "2.0.0"
                          }
                        },
                        "offset": {
                          "type": "integer",
                          "example": 0,
                          "x-doc": {
                            "desc_en": "Offset applied to this response under offset-based paging.",
                            "title_zh": "基于偏移分页时本次响应采用的偏移量。",
                            "source": "ai",
                            "src_hash": "sha256:ae502954d2f3",
                            "doc_version": "2.0.0"
                          }
                        },
                        "total": {
                          "type": "integer",
                          "description": "Total number of orders matching the filters",
                          "example": 1250,
                          "x-doc": {
                            "desc_en": "Total number of orders matching the filters.",
                            "title_zh": "匹配筛选条件的订单总数。",
                            "source": "ai",
                            "src_hash": "sha256:53f5d305533d",
                            "doc_version": "2.0.0"
                          }
                        },
                        "has_more": {
                          "type": "boolean",
                          "description": "Whether there are more orders available",
                          "example": true,
                          "x-doc": {
                            "desc_en": "Whether further pages are available.",
                            "title_zh": "是否还有更多结果页。",
                            "source": "ai",
                            "src_hash": "sha256:effffd2ef353",
                            "doc_version": "2.0.0"
                          }
                        },
                        "pagination_key": {
                          "type": "string",
                          "description": "Base64-encoded cursor for the next page. Only present when there are more results. Use this in the next request instead of offset.",
                          "example": "eyJibG9ja190aW1lc3RhbXAiOiIyMDI1LTAxLTE5VDEyOjAwOjAwLjAwMFoiLCJ0eF9oYXNoIjoiMHgxMjM0NTY3ODkwYWJjZGVmIiwibG9nX2luZGV4IjoxMCwidG90YWwiOjUxMDk2MTl9",
                          "x-doc": {
                            "desc_en": "Cursor for the next page; present only when more results exist. Prefer it over offset.",
                            "title_zh": "下一页的游标；仅在还有更多结果时出现，优先于 offset 使用。",
                            "source": "ai",
                            "src_hash": "sha256:f0522a8ab78f",
                            "doc_version": "2.0.0"
                          }
                        }
                      },
                      "x-doc": {
                        "desc_en": "Pagination metadata for the result set.",
                        "title_zh": "结果集的分页元信息。",
                        "source": "ai",
                        "src_hash": "sha256:f20bdfce6f3c",
                        "doc_version": "2.0.0"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid start_time parameter",
                      "x-doc": {
                        "desc_en": "Short error code identifying the failure category.",
                        "title_zh": "标识失败类别的简短错误码。",
                        "source": "ai",
                        "src_hash": "sha256:9426c5347c4d",
                        "doc_version": "2.0.0"
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "start_time must be a valid Unix timestamp",
                      "x-doc": {
                        "desc_en": "Human-readable explanation of what went wrong.",
                        "title_zh": "对错误原因的可读说明。",
                        "source": "ai",
                        "src_hash": "sha256:fd80fa476779",
                        "doc_version": "2.0.0"
                      }
                    }
                  }
                },
                "examples": {
                  "invalid_timestamp": {
                    "summary": "Invalid timestamp",
                    "value": {
                      "error": "Invalid start_time parameter",
                      "message": "start_time must be a valid Unix timestamp"
                    }
                  },
                  "invalid_time_range": {
                    "summary": "Invalid time range",
                    "value": {
                      "error": "Invalid time range",
                      "message": "start_time must be less than end_time"
                    }
                  },
                  "invalid_limit": {
                    "summary": "Invalid limit",
                    "value": {
                      "error": "Invalid limit parameter",
                      "message": "limit must be a number between 1 and 1000"
                    }
                  },
                  "missing_required_filter": {
                    "summary": "Missing required filter",
                    "value": {
                      "error": "Missing required filter parameter",
                      "message": "At least one of market_slug, condition_id, user, or token_id must be provided"
                    }
                  },
                  "invalid_filter_combination": {
                    "summary": "Invalid filter combination",
                    "value": {
                      "error": "Invalid filter combination",
                      "message": "Only one of market_slug, token_id, or condition_id can be provided"
                    }
                  },
                  "invalid_pagination_key": {
                    "summary": "Invalid pagination key",
                    "value": {
                      "error": "Invalid pagination key",
                      "message": "pagination_key is invalid or corrupted"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Offset deprecated for large values",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Offset deprecated",
                      "x-doc": {
                        "desc_en": "Short error code identifying the failure category.",
                        "title_zh": "标识失败类别的简短错误码。",
                        "source": "ai",
                        "src_hash": "sha256:d7c612fa908f",
                        "doc_version": "2.0.0"
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "Offsets greater than 10,000 are no longer supported. Please use pagination_key for efficient pagination.",
                      "x-doc": {
                        "desc_en": "Human-readable explanation of what went wrong.",
                        "title_zh": "对错误原因的可读说明。",
                        "source": "ai",
                        "src_hash": "sha256:0e5527452ea6",
                        "doc_version": "2.0.0"
                      }
                    },
                    "docs": {
                      "type": "string",
                      "example": "https://aisa.one/docs/api-reference/prediction-market/get_polymarket-events",
                      "x-doc": {
                        "desc_en": "Link to documentation explaining the deprecation and the recommended pagination approach.",
                        "title_zh": "指向相关文档的链接，说明该废弃项及推荐的分页方式。",
                        "source": "ai",
                        "src_hash": "sha256:4577d7a15a69",
                        "doc_version": "2.0.0"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-doc": {
          "heading_zh": "查询订单成交记录 get_polymarket-orders",
          "desc_en": "List on-chain order/trade records, optionally filtered by market, condition, token, user wallet, and time range. With no filters it returns the latest real-time trades. Only one of market_slug, token_id, or condition_id may be supplied.",
          "description_zh": "查询链上订单/成交记录，可按市场、condition、token、用户钱包及时间范围筛选；不传筛选时返回最新的实时成交。market_slug、token_id、condition_id 三者只能择一传入。",
          "source": "ai",
          "src_hash": "sha256:034d9bd097de",
          "doc_version": "2.0.0"
        }
      }
    },
    "/polymarket/orderbooks": {
      "get": {
        "summary": "Get Orderbook History",
        "description": "Fetches historical orderbook snapshots for a specific asset (token ID) over a specified time range. If no start_time and end_time are provided, returns the latest orderbook snapshot for the market. Returns snapshots of the order book including bids, asks, and market metadata in order. All timestamps are in milliseconds. Orderbook data has history starting from October 14th, 2025. Note: When fetching the latest orderbook (without start/end times), the limit and pagination_key parameters are ignored.",
        "operationId": "get_polymarket-orderbooks",
        "parameters": [
          {
            "name": "token_id",
            "in": "query",
            "required": true,
            "description": "The token id (asset) for the Polymarket market",
            "schema": {
              "type": "string",
              "example": "56369772478534954338683665819559528414197495274302917800610633957542171787417"
            },
            "x-doc": {
              "desc_en": "The outcome token (asset) whose order book snapshots are requested.",
              "title_zh": "待查询订单簿快照的结果 token（资产）。",
              "source": "ai",
              "src_hash": "sha256:7566e67c16ba",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "description": "Start time in Unix timestamp (milliseconds). Optional - if not provided along with end_time, returns the latest orderbook snapshot.",
            "schema": {
              "type": "integer",
              "example": 1760470000000
            },
            "x-doc": {
              "desc_en": "Start of the time range, as a Unix timestamp in milliseconds; omit together with end_time to get the latest snapshot only.",
              "title_zh": "时间范围起点，Unix 时间戳（毫秒）；与 end_time 一并省略时仅取最新快照。",
              "source": "ai",
              "src_hash": "sha256:74be2cce5bc4",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "description": "End time in Unix timestamp (milliseconds). Optional - if not provided along with start_time, returns the latest orderbook snapshot.",
            "schema": {
              "type": "integer",
              "example": 1760480000000
            },
            "x-doc": {
              "desc_en": "End of the time range, as a Unix timestamp in milliseconds; omit together with start_time to get the latest snapshot only.",
              "title_zh": "时间范围终点，Unix 时间戳（毫秒）；与 start_time 一并省略时仅取最新快照。",
              "source": "ai",
              "src_hash": "sha256:ba4e4980629b",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of snapshots to return (default: 100, max: 200). Ignored when fetching the latest orderbook without start_time and end_time.",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 200,
              "example": 100
            },
            "x-doc": {
              "desc_en": "Maximum number of snapshots to return; ignored when fetching only the latest snapshot.",
              "title_zh": "最多返回的快照数量；仅取最新快照时忽略该参数。",
              "source": "ai",
              "src_hash": "sha256:60c5f3d09ca2",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "pagination_key",
            "in": "query",
            "required": false,
            "description": "Pagination key to get the next chunk of data. Ignored when fetching the latest orderbook without start_time and end_time.",
            "schema": {
              "type": "string",
              "example": "eyJhc3NldElkIjoiMTM1ODUxMjc2NDY0NTMxMDM0ODcyMjY1MTg3ODYyNjk5NjE0MDAyMjI5NzA0NzI3MzgxMTIwOTU1NDY0MDc5MTY4NDcxMTIyNzE2NjQiLCJ0aW1lc3RhbXAiOjE3NjExMDQwOTg5MTR9"
            },
            "x-doc": {
              "desc_en": "Cursor for the next chunk of snapshots; ignored when fetching only the latest snapshot.",
              "title_zh": "获取下一批快照的游标；仅取最新快照时忽略该参数。",
              "source": "ai",
              "src_hash": "sha256:7317ee0ba62c",
              "doc_version": "2.0.0"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Orderbook history response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "snapshots": {
                      "type": "array",
                      "description": "Array of orderbook snapshots at different points in time",
                      "items": {
                        "type": "object",
                        "properties": {
                          "asks": {
                            "type": "array",
                            "description": "Sell orders, ordered by price",
                            "items": {
                              "type": "object",
                              "properties": {
                                "size": {
                                  "type": "string",
                                  "example": "5000013.15",
                                  "x-doc": {
                                    "desc_en": "Quantity available at this ask level.",
                                    "title_zh": "该卖单档位可成交的数量。",
                                    "source": "ai",
                                    "src_hash": "sha256:8119df0d6ef1",
                                    "doc_version": "2.0.0"
                                  }
                                },
                                "price": {
                                  "type": "string",
[...]
