{
  "openapi": "3.0.0",
  "info": {
    "title": "TXYZ Platform API",
    "version": "1.0.0",
    "description": "API documentation for platform.txyz.ai services including academic search functionality",
    "contact": {
      "email": "support@txyz.ai"
    },
    "license": {
      "name": "Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "paths": {
    "/scholar/search/mixed": {
      "post": {
        "summary": "Smart search combining web and academic results",
        "description": "Perform intelligent search that combines web and academic results",
        "operationId": "searchSmart",
        "tags": [
          "Search",
          "Smart"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search query for scholarly materials",
            "schema": {
              "type": "string",
              "example": "machine learning"
            },
            "x-doc": {
              "desc_en": "The search terms to look up.",
              "title_zh": "要检索的查询词。",
              "source": "ai",
              "src_hash": "sha256:db1e3b03702b",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "max_num_results",
            "in": "query",
            "description": "Maximum number of search results to return, up to 100",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            },
            "x-doc": {
              "desc_en": "Caps how many results come back.",
              "title_zh": "限制返回结果的数量上限。",
              "source": "ai",
              "src_hash": "sha256:85de30d1bbef",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "as_ylo",
            "in": "query",
            "description": "Year of publication lower bound",
            "schema": {
              "type": "integer",
              "nullable": true,
              "minimum": 1900,
              "maximum": 2030
            },
            "x-doc": {
              "desc_en": "Earliest publication year to include; results published before it are excluded.",
              "title_zh": "纳入结果的最早出版年份，早于该年份的结果会被排除。",
              "source": "ai",
              "src_hash": "sha256:cd5a9e67343e",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "as_yhi",
            "in": "query",
            "description": "Year of publication upper bound",
            "schema": {
              "type": "integer",
              "nullable": true,
              "minimum": 1900,
              "maximum": 2030
            },
            "x-doc": {
              "desc_en": "Latest publication year to include; results published after it are excluded.",
              "title_zh": "纳入结果的最晚出版年份，晚于该年份的结果会被排除。",
              "source": "ai",
              "src_hash": "sha256:6533bb0e02b6",
              "doc_version": "2.0.0"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful search response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSearchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-doc": {
          "heading_zh": "智能混合搜索 searchSmart",
          "desc_en": "Run a single query that blends general web results with academic-paper results, returning a unified ranked list plus a `search_id` you can later pass to `explainSearch` for an AI explanation.",
          "description_zh": "用一次查询同时检索网页与学术论文，返回融合排序后的结果列表，并附带可交给 explainSearch 生成解读的检索标识。",
          "source": "ai",
          "src_hash": "sha256:934cbc7780bb",
          "doc_version": "2.0.0"
        }
      }
    },
    "/scholar/search/web": {
      "post": {
        "summary": "Search the web",
        "description": "Perform web search and return structured results",
        "operationId": "searchWeb",
        "tags": [
          "Search",
          "Web"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search query for scholarly materials",
            "schema": {
              "type": "string",
              "example": "machine learning"
            },
            "x-doc": {
              "desc_en": "The search terms to look up.",
              "title_zh": "要检索的查询词。",
              "source": "ai",
              "src_hash": "sha256:db1e3b03702b",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "max_num_results",
            "in": "query",
            "description": "Maximum number of search results to return, up to 100",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            },
            "x-doc": {
              "desc_en": "Caps how many results come back.",
              "title_zh": "限制返回结果的数量上限。",
              "source": "ai",
              "src_hash": "sha256:85de30d1bbef",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "as_ylo",
            "in": "query",
            "description": "Year of publication lower bound",
            "schema": {
              "type": "integer",
              "nullable": true,
              "minimum": 1900,
              "maximum": 2030
            },
            "x-doc": {
              "desc_en": "Earliest publication year to include; results published before it are excluded.",
              "title_zh": "纳入结果的最早出版年份，早于该年份的结果会被排除。",
              "source": "ai",
              "src_hash": "sha256:cd5a9e67343e",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "as_yhi",
            "in": "query",
            "description": "Year of publication upper bound",
            "schema": {
              "type": "integer",
              "nullable": true,
              "minimum": 1900,
              "maximum": 2030
            },
            "x-doc": {
              "desc_en": "Latest publication year to include; results published after it are excluded.",
              "title_zh": "纳入结果的最晚出版年份，晚于该年份的结果会被排除。",
              "source": "ai",
              "src_hash": "sha256:6533bb0e02b6",
              "doc_version": "2.0.0"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful search response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebSearchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-doc": {
          "heading_zh": "网页搜索 searchWeb",
          "desc_en": "Run a web search and return structured results (title, link, snippet). The response carries a `search_id` reusable with `explainSearch`.",
          "description_zh": "执行网页搜索并返回结构化结果（标题、链接、摘要），响应中的检索标识可复用于 explainSearch。",
          "source": "ai",
          "src_hash": "sha256:f54e1fa5fd22",
          "doc_version": "2.0.0"
        }
      }
    },
    "/scholar/search/scholar": {
      "post": {
        "summary": "Search academic papers",
        "description": "Perform academic paper search using Google Scholar or similar sources",
        "operationId": "searchScholar",
        "tags": [
          "Search",
          "Academic"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search query for scholarly materials",
            "schema": {
              "type": "string",
              "example": "machine learning"
            },
            "x-doc": {
              "desc_en": "The search terms to look up.",
              "title_zh": "要检索的查询词。",
              "source": "ai",
              "src_hash": "sha256:db1e3b03702b",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "max_num_results",
            "in": "query",
            "description": "Maximum number of search results to return, up to 100",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            },
            "x-doc": {
              "desc_en": "Caps how many results come back.",
              "title_zh": "限制返回结果的数量上限。",
              "source": "ai",
              "src_hash": "sha256:85de30d1bbef",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "as_ylo",
            "in": "query",
            "description": "Year of publication lower bound",
            "schema": {
              "type": "integer",
              "nullable": true,
              "minimum": 1900,
              "maximum": 2030
            },
            "x-doc": {
              "desc_en": "Earliest publication year to include; results published before it are excluded.",
              "title_zh": "纳入结果的最早出版年份，早于该年份的结果会被排除。",
              "source": "ai",
              "src_hash": "sha256:cd5a9e67343e",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "as_yhi",
            "in": "query",
            "description": "Year of publication upper bound",
            "schema": {
              "type": "integer",
              "nullable": true,
              "minimum": 1900,
              "maximum": 2030
            },
            "x-doc": {
              "desc_en": "Latest publication year to include; results published after it are excluded.",
              "title_zh": "纳入结果的最晚出版年份，晚于该年份的结果会被排除。",
              "source": "ai",
              "src_hash": "sha256:6533bb0e02b6",
              "doc_version": "2.0.0"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful search response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScholarSearchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-doc": {
          "heading_zh": "学术论文搜索 searchScholar",
          "desc_en": "Search academic papers (via Google Scholar or comparable sources) and return per-paper metadata such as authors, citation count, and journal. The response carries a `search_id` reusable with `explainSearch`.",
          "description_zh": "检索学术论文（通过 Google Scholar 等来源），返回作者、被引次数、期刊等论文元数据，响应中的检索标识可复用于 explainSearch。",
          "source": "ai",
          "src_hash": "sha256:d718ef2d77c2",
          "doc_version": "2.0.0"
        }
      }
    },
    "/scholar/search/explain": {
      "post": {
        "summary": "Explain search results",
        "description": "Generate explanations for search results in different languages and formats",
        "operationId": "explainSearch",
        "tags": [
          "Search",
          "Explanation"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExplainSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful explanation response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExplainSearchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-doc": {
          "heading_zh": "解读搜索结果 explainSearch",
          "desc_en": "Generate an AI explanation of a previous search's results, addressed by its `search_id`, with controllable output language, format, and depth.",
          "description_zh": "针对此前某次搜索（通过 search_id 指定）的结果生成 AI 解读，可控制输出语言、格式与详尽程度。",
          "source": "ai",
          "src_hash": "sha256:be7bc5348b6f",
          "doc_version": "2.0.0"
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request - invalid parameters",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - invalid or missing API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "Search ID not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Rate limit exceeded",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "InternalError": {
        "description": "Internal server error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "ScholarSearchResponse": {
        "type": "object",
        "required": [
          "id",
          "results"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the search request",
            "x-doc": {
              "desc_en": "Identifier of this search request; pass it to `explainSearch` to get an explanation of these results.",
              "title_zh": "本次搜索请求的标识，可传给 explainSearch 以解读这批结果。",
              "source": "ai",
              "src_hash": "sha256:bbee6f2a0201",
              "doc_version": "2.0.0"
            }
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ScholarResult"
            },
            "description": "List of academic paper results",
            "x-doc": {
              "desc_en": "The academic paper result list.",
              "title_zh": "学术论文结果列表。",
              "source": "ai",
              "src_hash": "sha256:d3198cbb9bad",
              "doc_version": "2.0.0"
            }
          }
        }
      },
      "ScholarResult": {
        "type": "object",
        "required": [
          "title",
          "link",
          "snippet",
          "authors",
          "number_of_citations"
        ],
        "properties": {
          "title": {
            "type": "string",
            "description": "Title of the academic paper",
            "x-doc": {
              "desc_en": "Title of the paper.",
              "title_zh": "论文标题。",
              "source": "ai",
              "src_hash": "sha256:1c39c391e87d",
              "doc_version": "2.0.0"
            }
          },
          "link": {
            "type": "string",
            "format": "uri",
            "description": "URL to access the full paper",
            "x-doc": {
              "desc_en": "URL to access the full paper.",
              "title_zh": "访问论文全文的链接。",
              "source": "ai",
              "src_hash": "sha256:4659994849dc",
              "doc_version": "2.0.0"
            }
          },
          "snippet": {
            "type": "string",
            "description": "Brief summary or abstract of the paper",
            "x-doc": {
              "desc_en": "Short summary or abstract of the paper.",
              "title_zh": "论文的摘要或简述。",
              "source": "ai",
              "src_hash": "sha256:3d5df1e5ba89",
              "doc_version": "2.0.0"
            }
          },
          "authors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of authors",
            "x-doc": {
              "desc_en": "Authors of the paper.",
              "title_zh": "论文作者。",
              "source": "ai",
              "src_hash": "sha256:e49cbc95ec42",
              "doc_version": "2.0.0"
            }
          },
          "number_of_citations": {
            "type": "integer",
            "minimum": 0,
            "description": "Number of citations the paper has received",
            "x-doc": {
              "desc_en": "How many times the paper has been cited.",
              "title_zh": "论文被引用的次数。",
              "source": "ai",
              "src_hash": "sha256:13b76786431f",
              "doc_version": "2.0.0"
            }
          },
          "year": {
            "type": "integer",
            "description": "Publication year",
            "minimum": 1900,
            "maximum": 2030,
            "x-doc": {
              "desc_en": "Year the paper was published.",
              "title_zh": "论文的出版年份。",
              "source": "ai",
              "src_hash": "sha256:bc7b81fc9b13",
              "doc_version": "2.0.0"
            }
          },
          "journal": {
            "type": "string",
            "description": "Journal or conference name",
            "x-doc": {
              "desc_en": "Journal or conference the paper appeared in.",
              "title_zh": "论文所在的期刊或会议。",
              "source": "ai",
              "src_hash": "sha256:ea6c871e8164",
              "doc_version": "2.0.0"
            }
          }
        }
      },
      "WebSearchResponse": {
        "type": "object",
        "required": [
          "id",
          "results"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the search request",
            "x-doc": {
              "desc_en": "Identifier of this search request; pass it to `explainSearch` to get an explanation of these results.",
              "title_zh": "本次搜索请求的标识，可传给 explainSearch 以解读这批结果。",
              "source": "ai",
              "src_hash": "sha256:bbee6f2a0201",
              "doc_version": "2.0.0"
            }
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebResult"
            },
            "description": "List of web search results",
            "x-doc": {
              "desc_en": "The web search result list.",
              "title_zh": "网页搜索结果列表。",
              "source": "ai",
              "src_hash": "sha256:66ad5858a728",
              "doc_version": "2.0.0"
            }
          }
        }
      },
      "WebResult": {
        "type": "object",
        "required": [
          "title",
          "link",
          "snippet"
        ],
        "properties": {
          "title": {
            "type": "string",
            "description": "Title of the web page",
            "x-doc": {
              "desc_en": "Title of the web page.",
              "title_zh": "网页标题。",
              "source": "ai",
              "src_hash": "sha256:8cd6afaa40cf",
              "doc_version": "2.0.0"
            }
          },
          "link": {
            "type": "string",
            "format": "uri",
            "description": "URL to access the web page",
            "x-doc": {
              "desc_en": "URL where the web page can be opened.",
              "title_zh": "可打开该网页的链接。",
              "source": "ai",
              "src_hash": "sha256:4567b6278d86",
              "doc_version": "2.0.0"
            }
          },
          "snippet": {
            "type": "string",
            "description": "Brief summary or preview of the web page content",
            "x-doc": {
              "desc_en": "Short preview of the web page content.",
              "title_zh": "网页内容的简要预览。",
              "source": "ai",
              "src_hash": "sha256:eadc372c6231",
              "doc_version": "2.0.0"
            }
          },
          "display_url": {
            "type": "string",
            "description": "Display-friendly URL",
            "x-doc": {
              "desc_en": "Human-readable form of the URL for display.",
              "title_zh": "便于展示的可读版链接。",
              "source": "ai",
              "src_hash": "sha256:6f888f7a3a4d",
              "doc_version": "2.0.0"
            }
          },
          "published_date": {
            "type": "string",
            "format": "date-time",
            "description": "Publication date of the web page",
            "x-doc": {
              "desc_en": "When the web page was published.",
              "title_zh": "网页的发布时间。",
              "source": "ai",
              "src_hash": "sha256:03e95ad4ecd4",
              "doc_version": "2.0.0"
            }
          }
        }
      },
      "SmartSearchResponse": {
        "type": "object",
        "required": [
          "id",
          "results"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the search request",
            "x-doc": {
              "desc_en": "Identifier of this search request; pass it to `explainSearch` to get an explanation of these results.",
              "title_zh": "本次搜索请求的标识，可传给 explainSearch 以解读这批结果。",
              "source": "ai",
              "src_hash": "sha256:bbee6f2a0201",
              "doc_version": "2.0.0"
            }
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SmartResult"
            },
            "description": "List of smart search results combining web and academic content",
            "x-doc": {
              "desc_en": "The blended web-and-academic result list.",
              "title_zh": "融合网页与学术内容的结果列表。",
              "source": "ai",
              "src_hash": "sha256:eb71de918cd1",
              "doc_version": "2.0.0"
            }
          },
          "search_type": {
            "type": "string",
            "enum": [
              "web",
              "academic",
              "hybrid"
            ],
            "description": "Type of search results included",
            "x-doc": {
              "desc_en": "Which mix of sources the returned results actually drew from.",
              "title_zh": "返回结果实际取自的来源组合。",
              "source": "ai",
              "src_hash": "sha256:bda6cf78d19c",
              "doc_version": "2.0.0"
            }
          }
        }
      },
      "SmartResult": {
        "type": "object",
        "required": [
          "title",
          "link",
          "snippet"
        ],
        "properties": {
          "title": {
            "type": "string",
            "description": "Title of the result",
            "x-doc": {
              "desc_en": "Title of the result.",
              "title_zh": "结果标题。",
              "source": "ai",
              "src_hash": "sha256:f817e8a4c7e9",
              "doc_version": "2.0.0"
            }
          },
          "link": {
            "type": "string",
            "format": "uri",
            "description": "URL to access the content",
            "x-doc": {
              "desc_en": "URL where the result content can be opened.",
              "title_zh": "可打开该结果内容的链接。",
              "source": "ai",
              "src_hash": "sha256:17e5e12bfbe5",
              "doc_version": "2.0.0"
            }
          },
          "snippet": {
            "type": "string",
            "description": "Brief summary or abstract",
            "x-doc": {
              "desc_en": "Short summary or abstract of the result.",
              "title_zh": "结果的简要摘要或概述。",
              "source": "ai",
              "src_hash": "sha256:59efb52b807d",
              "doc_version": "2.0.0"
            }
          },
          "authors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of authors (for academic content)",
            "x-doc": {
              "desc_en": "Authors of the item, populated for academic results.",
              "title_zh": "条目作者，学术类结果才会有值。",
              "source": "ai",
              "src_hash": "sha256:db1fb7917859",
              "doc_version": "2.0.0"
            }
          },
          "number_of_citations": {
            "type": "integer",
            "minimum": 0,
            "description": "Number of citations (for academic content)",
            "x-doc": {
              "desc_en": "How many times the item has been cited, populated for academic results.",
              "title_zh": "条目被引用的次数，学术类结果才会有值。",
              "source": "ai",
              "src_hash": "sha256:b22cf2e514ff",
              "doc_version": "2.0.0"
            }
          },
          "type": {
            "type": "string",
            "enum": [
              "web",
              "academic"
            ],
            "description": "Type of the result",
            "x-doc": {
              "desc_en": "Whether this entry originates from the web or from academic sources.",
              "title_zh": "该条目来自网页还是学术来源。",
              "source": "ai",
              "src_hash": "sha256:05df16affbbb",
              "doc_version": "2.0.0"
            }
          },
          "relevance_score": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Relevance score of the result",
            "x-doc": {
              "desc_en": "How relevant the result is to the query, on a 0-to-1 scale where higher is more relevant.",
              "title_zh": "结果与查询的相关程度，取值 0 到 1，越高越相关。",
              "source": "ai",
              "src_hash": "sha256:e719cc4cc29d",
              "doc_version": "2.0.0"
            }
          }
        }
      },
      "ExplainSearchRequest": {
        "type": "object",
        "required": [
          "search_id"
        ],
        "properties": {
          "search_id": {
            "type": "string",
            "description": "ID of the search to explain",
            "x-doc": {
              "desc_en": "Identifier of the earlier search whose results you want explained; obtained from the `id` field of a search response.",
              "title_zh": "要解读的此前那次搜索的标识，取自某次搜索响应的 id 字段。",
              "source": "ai",
              "src_hash": "sha256:c7da901e9d7a",
              "doc_version": "2.0.0"
            }
          },
          "response_mode": {
            "type": "string",
            "enum": [
              "COMPLETE",
              "SUMMARY",
              "BULLET_POINTS"
            ],
            "default": "COMPLETE",
            "description": "Format of the explanation response",
            "x-doc": {
              "desc_en": "Output format of the explanation: a full write-up, a condensed summary, or bullet points.",
              "title_zh": "解读的输出格式：完整长文、精简摘要或要点列表。",
              "source": "ai",
              "src_hash": "sha256:3cba2a3b3cdd",
              "doc_version": "2.0.0"
            }
          },
          "language": {
            "type": "string",
            "default": "en",
            "description": "Language code for the explanation (e.g., en, zh, ar)",
            "example": "ar",
            "x-doc": {
              "desc_en": "Language the explanation should be written in, given as a language code (e.g. `en`, `zh`, `ar`).",
              "title_zh": "解读所用的语言，以语言代码给出（如 `en`、`zh`、`ar`）。",
              "source": "ai",
              "src_hash": "sha256:b940522eb2dc",
              "doc_version": "2.0.0"
            }
          },
          "detail_level": {
            "type": "string",
            "enum": [
              "BRIEF",
              "MODERATE",
              "DETAILED"
            ],
            "default": "MODERATE",
            "description": "Level of detail in the explanation",
            "x-doc": {
              "desc_en": "How much depth the explanation should go into.",
              "title_zh": "解读展开的详尽程度。",
              "source": "ai",
              "src_hash": "sha256:c328a79fc7c2",
              "doc_version": "2.0.0"
            }
          }
        }
      },
      "ExplainSearchResponse": {
        "type": "object",
        "required": [
          "search_id",
          "explanation"
        ],
        "properties": {
          "search_id": {
            "type": "string",
            "description": "ID of the search being explained",
            "x-doc": {
              "desc_en": "Identifier of the search this explanation refers to.",
              "title_zh": "本次解读所针对的搜索标识。",
              "source": "ai",
              "src_hash": "sha256:bfc056208022",
              "doc_version": "2.0.0"
            }
          },
          "explanation": {
            "type": "string",
            "description": "Detailed explanation of the search results",
            "x-doc": {
              "desc_en": "The generated explanation of the search results.",
              "title_zh": "针对搜索结果生成的解读正文。",
              "source": "ai",
              "src_hash": "sha256:64448e44c739",
              "doc_version": "2.0.0"
            }
          },
          "language": {
            "type": "string",
            "description": "Language of the explanation",
            "x-doc": {
              "desc_en": "Language the explanation was written in.",
              "title_zh": "解读实际使用的语言。",
              "source": "ai",
              "src_hash": "sha256:ac72f6779e6e",
              "doc_version": "2.0.0"
            }
          },
          "response_mode": {
            "type": "string",
            "description": "Format of the response",
            "x-doc": {
              "desc_en": "Output format the explanation was rendered in.",
              "title_zh": "解读实际采用的输出格式。",
              "source": "ai",
              "src_hash": "sha256:c4d4d647e1b5",
              "doc_version": "2.0.0"
            }
          },
          "summary": {
            "type": "string",
            "description": "Brief summary of the explanation",
            "x-doc": {
              "desc_en": "A brief summary of the explanation.",
              "title_zh": "解读的简要摘要。",
              "source": "ai",
              "src_hash": "sha256:caaf875fe1b7",
              "doc_version": "2.0.0"
            }
          },
          "key_insights": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of key insights from the search results",
            "x-doc": {
              "desc_en": "Key takeaways distilled from the search results.",
              "title_zh": "从搜索结果中提炼出的关键要点。",
              "source": "ai",
              "src_hash": "sha256:d6c068621002",
              "doc_version": "2.0.0"
            }
          },
          "confidence_score": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Confidence score for the explanation",
            "x-doc": {
              "desc_en": "How confident the model is in the explanation, on a 0-to-1 scale where higher is more confident.",
              "title_zh": "模型对该解读的置信度，取值 0 到 1，越高越自信。",
              "source": "ai",
              "src_hash": "sha256:21709337b558",
              "doc_version": "2.0.0"
            }
          },
          "generated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the explanation was generated",
            "x-doc": {
              "desc_en": "When the explanation was generated.",
              "title_zh": "解读的生成时间。",
              "source": "ai",
              "src_hash": "sha256:e67ec8e8a049",
              "doc_version": "2.0.0"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message describing what went wrong"
          },
          "code": {
            "type": "integer",
            "description": "HTTP status code"
          },
          "details": {
            "type": "string",
            "description": "Additional error details"
          }
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ]
}
