{
  "openapi": "3.0.1",
  "info": {
    "title": "Financial Datasets API",
    "description": "Stock market API with real-time and historical financial data for 30,000+ tickers over 30+ years. Financial statements, equity prices, insider trades, SEC filings, and more.",
    "version": "1.0.0",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "contact": {
      "name": "API Support",
      "url": "https://financialdatasets.ai/support",
      "email": "support@financialdatasets.ai"
    },
    "termsOfService": "https://financialdatasets.ai/terms"
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1/financial",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "Financial Statements",
      "description": "Access to income statements, balance sheets, and cash flow statements"
    },
    {
      "name": "Market Data",
      "description": "Real-time and historical price data"
    },
    {
      "name": "Company Information",
      "description": "Company facts like ticker, name, and description"
    },
    {
      "name": "Earnings",
      "description": "Earnings press releases and related data"
    },
    {
      "name": "Crypto",
      "description": "Cryptocurrency price data and market information"
    },
    {
      "name": "News",
      "description": "Real-time and historical news articles"
    },
    {
      "name": "SEC Filings",
      "description": "SEC filings and regulatory documents"
    },
    {
      "name": "Insider Trades",
      "description": "Insider trading activity and transactions"
    },
    {
      "name": "Institutional Ownership",
      "description": "Equity holdings of investment managers"
    },
    {
      "name": "Financial Metrics",
      "description": "Financial ratios, metrics, and key performance indicators"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/financials/search/line-items": {
      "post": {
        "tags": [
          "Financial Statements"
        ],
        "operationId": "searchLineItems",
        "summary": "Search specific financial metrics",
        "description": "Search for specific financial metrics across income statements, balance sheets, and cash flow statements for a list of tickers.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchLineItemsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful search response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinancialsSearchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "x-doc": {
          "heading_zh": "搜索指定财务指标 (Search Line Items)",
          "desc_en": "Search for specific financial line items across income statements, balance sheets, and cash flow statements for one or more tickers.",
          "description_zh": "在一个或多个股票代码的利润表、资产负债表与现金流量表中检索指定的财务行项目。",
          "source": "ai",
          "src_hash": "sha256:29c65d9a6589",
          "doc_version": "2.0.0"
        }
      }
    },
    "/insider-trades": {
      "get": {
        "tags": [
          "Insider Trades"
        ],
        "operationId": "getInsiderTrades",
        "summary": "Get insider trades",
        "description": "Get insider trades like buys and sells for a ticker by a company insider.",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "description": "The ticker symbol of the company.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-doc": {
              "desc_en": "Stock ticker symbol identifying the company to query.",
              "title_zh": "标识目标公司的股票代码。",
              "source": "ai",
              "src_hash": "sha256:5abe5b15f6ea",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of transactions to return (default: 10).",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            },
            "x-doc": {
              "desc_en": "Upper bound on the number of records returned in one response.",
              "title_zh": "单次响应返回记录数的上限。",
              "source": "ai",
              "src_hash": "sha256:b662fdbb1b98",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter by insider name (e.g., 'Jen Hsun Huang'). Use the /insider-trades/names endpoint to get available names for a ticker.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-doc": {
              "desc_en": "Filter results to a specific insider by name; obtain valid names from the insider-trades names endpoint.",
              "title_zh": "按内部人姓名筛选结果；有效姓名可从内部人姓名查询接口获取。",
              "source": "ai",
              "src_hash": "sha256:4497af0957a5",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "transaction_type",
            "in": "query",
            "description": "Filter by transaction type (e.g., 'Open market sale', 'Gift'). Use the /insider-trades/transaction-types endpoint to get available types.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-doc": {
              "desc_en": "Filter results to a specific transaction type; obtain valid types from the insider-trades transaction-types endpoint.",
              "title_zh": "按交易类型筛选结果；有效类型可从内部人交易类型查询接口获取。",
              "source": "ai",
              "src_hash": "sha256:c2f34e0b8500",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "filing_date",
            "in": "query",
            "description": "Filter by exact filing date in YYYY-MM-DD format.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "x-doc": {
              "desc_en": "Return only trades filed on this exact date.",
              "title_zh": "仅返回在该确切日期申报的交易。",
              "source": "ai",
              "src_hash": "sha256:d5f94b1e2c02",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "filing_date_gte",
            "in": "query",
            "description": "Filter by filing date greater than or equal to this date (YYYY-MM-DD).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "x-doc": {
              "desc_en": "Return only trades filed on or after this date.",
              "title_zh": "仅返回在该日期当天或之后申报的交易。",
              "source": "ai",
              "src_hash": "sha256:c2e0efc1b99b",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "filing_date_lte",
            "in": "query",
            "description": "Filter by filing date less than or equal to this date (YYYY-MM-DD).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "x-doc": {
              "desc_en": "Return only trades filed on or before this date.",
              "title_zh": "仅返回在该日期当天或之前申报的交易。",
              "source": "ai",
              "src_hash": "sha256:d2a5ef5eb509",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "filing_date_gt",
            "in": "query",
            "description": "Filter by filing date greater than this date (YYYY-MM-DD).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "x-doc": {
              "desc_en": "Return only trades filed strictly after this date.",
              "title_zh": "仅返回在该日期之后申报的交易。",
              "source": "ai",
              "src_hash": "sha256:d8ea12c5a5a4",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "filing_date_lt",
            "in": "query",
            "description": "Filter by filing date less than this date (YYYY-MM-DD).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "x-doc": {
              "desc_en": "Return only trades filed strictly before this date.",
              "title_zh": "仅返回在该日期之前申报的交易。",
              "source": "ai",
              "src_hash": "sha256:f3faf4417cc6",
              "doc_version": "2.0.0"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Insider trades response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderTradesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "x-doc": {
          "heading_zh": "获取内部人交易 (Get Insider Trades)",
          "desc_en": "Retrieve insider buy and sell transactions reported by a company's insiders for the given ticker.",
          "description_zh": "获取指定股票代码下公司内部人申报的买入与卖出交易记录。",
          "source": "ai",
          "src_hash": "sha256:2533357700c4",
          "doc_version": "2.0.0"
        }
      }
    },
    "/institutional-ownership": {
      "get": {
        "tags": [
          "Institutional Ownership"
        ],
        "operationId": "getInstitutionalOwnership",
        "summary": "Get the equity holdings of an investment manager",
        "description": "Get institutional ownership by investor or ticker. Requires either investor or ticker parameter, but not both.",
        "parameters": [
          {
            "name": "investor",
            "in": "query",
            "description": "The name of the investment manager",
            "schema": {
              "type": "string"
            },
            "x-doc": {
              "desc_en": "Name of the investment manager whose holdings to retrieve.",
              "title_zh": "要查询其持仓的投资管理人名称。",
              "source": "ai",
              "src_hash": "sha256:c43dcdd14204",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "ticker",
            "in": "query",
            "description": "The ticker symbol, if queried by investor.",
            "schema": {
              "type": "string"
            },
            "x-doc": {
              "desc_en": "Ticker symbol whose institutional holders to retrieve.",
              "title_zh": "要查询其机构持有人的股票代码。",
              "source": "ai",
              "src_hash": "sha256:9ca2a4c77099",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of holdings to return (default: 10).",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            },
            "x-doc": {
              "desc_en": "Upper bound on the number of records returned in one response.",
              "title_zh": "单次响应返回记录数的上限。",
              "source": "ai",
              "src_hash": "sha256:f579b2385f0e",
              "doc_version": "2.0.0"
            }
          },
          {
            "$ref": "#/components/parameters/ReportPeriod"
          },
          {
            "$ref": "#/components/parameters/ReportPeriodGte"
          },
          {
            "$ref": "#/components/parameters/ReportPeriodLte"
          },
          {
            "$ref": "#/components/parameters/ReportPeriodGt"
          },
          {
            "$ref": "#/components/parameters/ReportPeriodLt"
          }
        ],
        "responses": {
          "200": {
            "description": "Institutional ownership response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstitutionalOwnershipResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "x-doc": {
          "heading_zh": "获取机构持仓 (Get Institutional Ownership)",
          "desc_en": "Retrieve institutional equity holdings, queried either by investment manager or by ticker (supply exactly one of the two).",
          "description_zh": "按投资管理人或股票代码查询机构持有的股权头寸（二者须且仅须提供其一）。",
          "source": "ai",
          "src_hash": "sha256:89cbc9f9e1ad",
          "doc_version": "2.0.0"
        }
      }
    },
    "/company/facts": {
      "get": {
        "tags": [
          "Company Information"
        ],
        "operationId": "getCompanyFacts",
        "summary": "Get company facts",
        "description": "Get company facts for a ticker.",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "description": "The ticker symbol.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-doc": {
              "desc_en": "Stock ticker symbol identifying the company to query.",
              "title_zh": "标识目标公司的股票代码。",
              "source": "ai",
              "src_hash": "sha256:7f362e73cb92",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "cik",
            "in": "query",
            "description": "The CIK of the company.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-doc": {
              "desc_en": "SEC Central Index Key identifying the company; an alternative lookup key to the ticker.",
              "title_zh": "公司在 SEC 的中央索引号（CIK），可作为股票代码之外的查询键。",
              "source": "ai",
              "src_hash": "sha256:721c63304adb",
              "doc_version": "2.0.0"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Company facts response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyFactsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "x-doc": {
          "heading_zh": "获取公司概况 (Get Company Facts)",
          "desc_en": "Retrieve descriptive company facts and identifiers for the given ticker.",
          "description_zh": "获取指定股票代码下公司的概况信息与标识。",
          "source": "ai",
          "src_hash": "sha256:e115878bf3d0",
          "doc_version": "2.0.0"
        }
      }
    },
    "/filings": {
      "get": {
        "tags": [
          "SEC Filings"
        ],
        "operationId": "getFilings",
        "summary": "Get SEC filings",
        "description": "Get SEC filings for a company.",
        "parameters": [
          {
            "name": "cik",
            "in": "query",
            "description": "The Central Index Key (CIK) of the company.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-doc": {
              "desc_en": "SEC Central Index Key identifying the company; an alternative lookup key to the ticker.",
              "title_zh": "公司在 SEC 的中央索引号（CIK），可作为股票代码之外的查询键。",
              "source": "ai",
              "src_hash": "sha256:0b34fa99db76",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "ticker",
            "in": "query",
            "description": "The ticker symbol.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-doc": {
              "desc_en": "Stock ticker symbol identifying the company to query.",
              "title_zh": "标识目标公司的股票代码。",
              "source": "ai",
              "src_hash": "sha256:7f362e73cb92",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "filing_type",
            "in": "query",
            "description": "Filter by one or more filing types. Repeat the query parameter to pass multiple values (e.g. filing_type=10-Q&filing_type=10-K).",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "10-K",
                  "10-Q",
                  "8-K",
                  "20-F",
                  "6-K"
                ]
              }
            },
            "style": "form",
            "explode": true,
            "x-doc": {
              "desc_en": "Filter by one or more SEC filing types; repeat the parameter to pass multiple values.",
              "title_zh": "按一种或多种 SEC 备案类型筛选；重复该参数可传入多个值。",
              "source": "ai",
              "src_hash": "sha256:2b76bd39bb7e",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of filings to return (default: 10).",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 10
            },
            "x-doc": {
              "desc_en": "Upper bound on the number of records returned in one response.",
              "title_zh": "单次响应返回记录数的上限。",
              "source": "ai",
              "src_hash": "sha256:1ae07fddd9cc",
              "doc_version": "2.0.0"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SEC filings response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilingsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "x-doc": {
          "heading_zh": "获取 SEC 备案 (Get Filings)",
          "desc_en": "Retrieve the list of SEC filings submitted by a company.",
          "description_zh": "获取公司向 SEC 提交的备案文件列表。",
          "source": "ai",
          "src_hash": "sha256:d5f5f0b59f56",
          "doc_version": "2.0.0"
        }
      }
    },
    "/filings/items": {
      "get": {
        "tags": [
          "SEC Filings"
        ],
        "operationId": "getFilingItems",
        "summary": "Get SEC filing items",
        "description": "Get the raw text Items from an SEC filing.",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "description": "The ticker symbol.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-doc": {
              "desc_en": "Stock ticker symbol identifying the company to query.",
              "title_zh": "标识目标公司的股票代码。",
              "source": "ai",
              "src_hash": "sha256:291028e64dc7",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "filing_type",
            "in": "query",
            "description": "The type of filing.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "10-K",
                "10-Q",
                "8-K"
              ]
            },
            "x-doc": {
              "desc_en": "SEC form type of the filing to read items from.",
              "title_zh": "要读取条目的备案 SEC 表格类型。",
              "source": "ai",
              "src_hash": "sha256:1a9cbcf776e6",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "year",
            "in": "query",
            "description": "The year of the filing.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "x-doc": {
              "desc_en": "Filing year to select.",
              "title_zh": "要选取的备案年份。",
              "source": "ai",
              "src_hash": "sha256:d7c988f4d06c",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "quarter",
            "in": "query",
            "description": "The quarter of the filing if 10-Q.",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "x-doc": {
              "desc_en": "Filing quarter, used for 10-Q filings.",
              "title_zh": "备案季度，用于 10-Q 季报。",
              "source": "ai",
              "src_hash": "sha256:9cb88e14b777",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "item",
            "in": "query",
            "description": "The item to get.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "Item-1",
                "Item-1A",
                "Item-1B",
                "Item-2",
                "Item-3",
                "Item-4",
                "Item-5",
                "Item-6",
                "Item-7",
                "Item-7A",
                "Item-8",
                "Item-9",
                "Item-9A",
                "Item-9B",
                "Item-10",
                "Item-11",
                "Item-12",
                "Item-13",
                "Item-14",
                "Item-15",
                "Item-16",
                "Item-1.01",
                "Item-1.02",
                "Item-1.03",
                "Item-1.04",
                "Item-2.01",
                "Item-2.02",
                "Item-2.03",
                "Item-2.04",
                "Item-2.05",
                "Item-2.06",
                "Item-3.01",
                "Item-3.02",
                "Item-3.03",
                "Item-4.01",
                "Item-4.02",
                "Item-5.01",
                "Item-5.02",
                "Item-5.03",
                "Item-5.04",
                "Item-5.05",
                "Item-5.06",
                "Item-5.07",
                "Item-5.08",
                "Item-6.01",
                "Item-6.02",
                "Item-6.03",
                "Item-6.04",
                "Item-6.05",
                "Item-7.01",
                "Item-8.01",
                "Item-9.01"
              ]
            },
            "x-doc": {
              "desc_en": "Specific filing Item to retrieve.",
              "title_zh": "要获取的具体备案条目（Item）。",
              "source": "ai",
              "src_hash": "sha256:0631a68c802c",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "accession_number",
            "in": "query",
            "description": "The accession number of the filing if 8-K.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-doc": {
              "desc_en": "Accession number identifying the filing, used for 8-K filings.",
              "title_zh": "标识该备案的受理编号，用于 8-K 文件。",
              "source": "ai",
              "src_hash": "sha256:2371917fd818",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "include_exhibits",
            "in": "query",
            "description": "Whether to include the raw text from linked exhibits. Only applicable for 8-K filings. When true, exhibit objects will include the 'text' field containing the full exhibit content.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-doc": {
              "desc_en": "Whether to include the raw text of linked exhibits; applies only to 8-K filings, and when enabled each exhibit object carries its full text.",
              "title_zh": "是否包含所链接附件的原始正文；仅对 8-K 文件生效，启用后每个附件对象将携带其完整正文。",
              "source": "ai",
              "src_hash": "sha256:84007df901da",
              "doc_version": "2.0.0"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SEC filing items response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilingItemsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "x-doc": {
          "heading_zh": "获取 SEC 备案条目正文 (Get Filing Items)",
          "desc_en": "Retrieve the raw text of individual Items within a specific SEC filing.",
          "description_zh": "获取某份 SEC 备案文件中各独立条目（Item）的原始正文。",
          "source": "ai",
          "src_hash": "sha256:bc452c98d24c",
          "doc_version": "2.0.0"
        }
      }
    },
    "/financials/segmented-revenues": {
      "get": {
        "tags": [
          "Financial Statements"
        ],
        "operationId": "getSegmentedRevenues",
        "summary": "Get segmented revenue data (deprecated)",
        "description": "Deprecated. Use /financials/income-statements/segments instead.",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "description": "The ticker symbol. Required if cik is not provided.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-doc": {
              "desc_en": "Stock ticker symbol of the company; required when `cik` is not provided.",
              "title_zh": "目标公司的股票代码；未提供 `cik` 时必填。",
              "source": "ai",
              "src_hash": "sha256:b9367de3e540",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "The date or time period to which the reported revenue data relates in ISO 8601 format (YYYY-MM-DD).",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "annual",
                "quarterly"
              ]
            },
            "x-doc": {
              "desc_en": "Date or time period the reported revenue relates to, in ISO 8601 format.",
              "title_zh": "所报告营收对应的日期或时间区间，采用 ISO 8601 格式。",
              "source": "ai",
              "src_hash": "sha256:0bd3b727b7bc",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of revenue statements to return.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-doc": {
              "desc_en": "Upper bound on the number of records returned in one response.",
              "title_zh": "单次响应返回记录数的上限。",
              "source": "ai",
              "src_hash": "sha256:13b1435ec920",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "cik",
            "in": "query",
            "description": "The Central Index Key (CIK) of the company.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-doc": {
              "desc_en": "SEC Central Index Key identifying the company; an alternative lookup key to the ticker.",
              "title_zh": "公司在 SEC 的中央索引号（CIK），可作为股票代码之外的查询键。",
              "source": "ai",
              "src_hash": "sha256:0b34fa99db76",
              "doc_version": "2.0.0"
            }
          },
          {
            "$ref": "#/components/parameters/ReportPeriod"
          },
          {
            "$ref": "#/components/parameters/ReportPeriodGte"
          },
          {
            "$ref": "#/components/parameters/ReportPeriodLte"
          },
          {
            "$ref": "#/components/parameters/ReportPeriodGt"
          },
          {
            "$ref": "#/components/parameters/ReportPeriodLt"
          }
        ],
        "responses": {
          "200": {
            "description": "Segmented revenue response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SegmentedRevenuesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "deprecated": true,
        "x-doc": {
          "heading_zh": "获取分部营收（已废弃）(Get Segmented Revenues)",
          "desc_en": "Deprecated. Retrieve revenue broken down by reporting segment; use the income-statement segments endpoint instead.",
          "description_zh": "已废弃。按报告分部拆分获取营业收入，建议改用利润表分部接口。",
          "source": "ai",
          "src_hash": "sha256:35fee9c539be",
          "doc_version": "2.0.0"
        }
      }
    },
    "/financials/income-statements": {
      "get": {
        "tags": [
          "Financial Statements"
        ],
        "operationId": "getIncomeStatements",
        "summary": "Get income statements",
        "description": "Get income statements for a ticker.",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "description": "The ticker symbol. Required if cik is not provided.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-doc": {
              "desc_en": "Stock ticker symbol of the company; required when `cik` is not provided.",
              "title_zh": "目标公司的股票代码；未提供 `cik` 时必填。",
              "source": "ai",
              "src_hash": "sha256:b9367de3e540",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "The time period of the income statements.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "annual",
                "quarterly",
                "ttm"
              ]
            },
            "x-doc": {
              "desc_en": "Reporting cadence of the financial data to return.",
              "title_zh": "返回财务数据所采用的报告周期。",
              "source": "ai",
              "src_hash": "sha256:76c90814c4db",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of income statements to return.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-doc": {
              "desc_en": "Upper bound on the number of records returned in one response.",
              "title_zh": "单次响应返回记录数的上限。",
              "source": "ai",
              "src_hash": "sha256:1a99a185ff77",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "cik",
            "in": "query",
            "description": "The Central Index Key (CIK) of the company.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-doc": {
              "desc_en": "SEC Central Index Key identifying the company; an alternative lookup key to the ticker.",
              "title_zh": "公司在 SEC 的中央索引号（CIK），可作为股票代码之外的查询键。",
              "source": "ai",
              "src_hash": "sha256:0b34fa99db76",
              "doc_version": "2.0.0"
            }
          },
          {
            "$ref": "#/components/parameters/ReportPeriod"
          },
          {
            "$ref": "#/components/parameters/ReportPeriodGte"
          },
          {
            "$ref": "#/components/parameters/ReportPeriodLte"
          },
          {
            "$ref": "#/components/parameters/ReportPeriodGt"
          },
          {
            "$ref": "#/components/parameters/ReportPeriodLt"
          }
        ],
        "responses": {
          "200": {
            "description": "Income statements response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncomeStatementResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "x-doc": {
          "heading_zh": "获取利润表 (Get Income Statements)",
          "desc_en": "Retrieve income statements for the given ticker.",
          "description_zh": "获取指定股票代码的利润表。",
          "source": "ai",
          "src_hash": "sha256:2af10501c7af",
          "doc_version": "2.0.0"
        }
      }
    },
    "/financials/balance-sheets": {
      "get": {
        "tags": [
          "Financial Statements"
        ],
        "operationId": "getBalanceSheets",
        "summary": "Get balance sheets",
        "description": "Get balance sheets for a ticker.",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "description": "The ticker symbol. Required if cik is not provided.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-doc": {
              "desc_en": "Stock ticker symbol of the company; required when `cik` is not provided.",
              "title_zh": "目标公司的股票代码；未提供 `cik` 时必填。",
              "source": "ai",
              "src_hash": "sha256:b9367de3e540",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "The time period of the balance sheets.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "annual",
                "quarterly",
                "ttm"
              ]
            },
            "x-doc": {
              "desc_en": "Reporting cadence of the financial data to return.",
              "title_zh": "返回财务数据所采用的报告周期。",
              "source": "ai",
              "src_hash": "sha256:2ae0eeb8d040",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of balance sheets to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-doc": {
              "desc_en": "Upper bound on the number of records returned in one response.",
              "title_zh": "单次响应返回记录数的上限。",
              "source": "ai",
              "src_hash": "sha256:4b03a8442011",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "cik",
            "in": "query",
            "description": "The Central Index Key (CIK) of the company.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-doc": {
              "desc_en": "SEC Central Index Key identifying the company; an alternative lookup key to the ticker.",
              "title_zh": "公司在 SEC 的中央索引号（CIK），可作为股票代码之外的查询键。",
              "source": "ai",
              "src_hash": "sha256:0b34fa99db76",
              "doc_version": "2.0.0"
            }
          },
          {
            "$ref": "#/components/parameters/ReportPeriod"
          },
          {
            "$ref": "#/components/parameters/ReportPeriodGte"
          },
          {
            "$ref": "#/components/parameters/ReportPeriodLte"
          },
          {
            "$ref": "#/components/parameters/ReportPeriodGt"
          },
          {
            "$ref": "#/components/parameters/ReportPeriodLt"
          }
        ],
        "responses": {
          "200": {
            "description": "Balance sheets response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceSheetResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "x-doc": {
          "heading_zh": "获取资产负债表 (Get Balance Sheets)",
          "desc_en": "Retrieve balance sheets for the given ticker.",
          "description_zh": "获取指定股票代码的资产负债表。",
          "source": "ai",
          "src_hash": "sha256:ab4081cd662d",
          "doc_version": "2.0.0"
        }
      }
    },
    "/financials/cash-flow-statements": {
      "get": {
        "tags": [
          "Financial Statements"
        ],
        "operationId": "getCashFlowStatements",
        "summary": "Get cash flow statements",
        "description": "Get cash flow statements for a ticker.",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "description": "The ticker symbol. Required if cik is not provided.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-doc": {
              "desc_en": "Stock ticker symbol of the company; required when `cik` is not provided.",
              "title_zh": "目标公司的股票代码；未提供 `cik` 时必填。",
              "source": "ai",
              "src_hash": "sha256:b9367de3e540",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "The time period of the cash flow statements.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "annual",
                "quarterly",
                "ttm"
              ]
            },
            "x-doc": {
              "desc_en": "Reporting cadence of the financial data to return.",
              "title_zh": "返回财务数据所采用的报告周期。",
              "source": "ai",
              "src_hash": "sha256:6b7498856f56",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of cash flow statements to return.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-doc": {
              "desc_en": "Upper bound on the number of records returned in one response.",
              "title_zh": "单次响应返回记录数的上限。",
              "source": "ai",
              "src_hash": "sha256:7b07435a304c",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "cik",
            "in": "query",
            "description": "The Central Index Key (CIK) of the company.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-doc": {
              "desc_en": "SEC Central Index Key identifying the company; an alternative lookup key to the ticker.",
              "title_zh": "公司在 SEC 的中央索引号（CIK），可作为股票代码之外的查询键。",
              "source": "ai",
              "src_hash": "sha256:0b34fa99db76",
              "doc_version": "2.0.0"
            }
          },
          {
            "$ref": "#/components/parameters/ReportPeriod"
          },
          {
            "$ref": "#/components/parameters/ReportPeriodGte"
          },
          {
            "$ref": "#/components/parameters/ReportPeriodLte"
          },
          {
            "$ref": "#/components/parameters/ReportPeriodGt"
          },
          {
            "$ref": "#/components/parameters/ReportPeriodLt"
          }
        ],
        "responses": {
          "200": {
            "description": "Cash flow statements response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CashFlowStatementResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "x-doc": {
          "heading_zh": "获取现金流量表 (Get Cash Flow Statements)",
          "desc_en": "Retrieve cash flow statements for the given ticker.",
          "description_zh": "获取指定股票代码的现金流量表。",
          "source": "ai",
          "src_hash": "sha256:4bb9158bc7fc",
          "doc_version": "2.0.0"
        }
      }
    },
    "/earnings/press-releases": {
      "get": {
        "tags": [
          "Earnings"
        ],
        "operationId": "getEarningsPressReleases",
        "summary": "Get earnings press releases",
        "description": "Get earnings press releases for a ticker.",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "description": "The ticker symbol.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-doc": {
              "desc_en": "Stock ticker symbol identifying the company to query.",
              "title_zh": "标识目标公司的股票代码。",
              "source": "ai",
              "src_hash": "sha256:291028e64dc7",
              "doc_version": "2.0.0"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Earnings press releases response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PressReleasesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "x-doc": {
          "heading_zh": "获取财报新闻稿 (Get Earnings Press Releases)",
          "desc_en": "Retrieve earnings-related press releases for the given ticker.",
          "description_zh": "获取指定股票代码的财报相关新闻稿。",
          "source": "ai",
          "src_hash": "sha256:6a7fb817471d",
          "doc_version": "2.0.0"
        }
      }
    },
    "/prices/snapshot": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "operationId": "getPriceSnapshot",
        "summary": "Price Snapshot (Real-Time)",
        "description": "Get the real-time price snapshot for a stock, including the current price, day change, and day change percent.",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "description": "The stock ticker symbol (e.g. AAPL, MSFT).",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-doc": {
              "desc_en": "Stock ticker symbol identifying the company to query.",
              "title_zh": "标识目标公司的股票代码。",
              "source": "ai",
              "src_hash": "sha256:9ebaad5bcbac",
              "doc_version": "2.0.0"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Price snapshot response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PriceSnapshotResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "x-doc": {
          "heading_zh": "获取实时价格快照 (Get Price Snapshot)",
          "desc_en": "Retrieve a real-time price snapshot for a stock, including current price, day change, and day change percent.",
          "description_zh": "获取股票的实时价格快照，含当前价格、当日涨跌额与当日涨跌幅。",
          "source": "ai",
          "src_hash": "sha256:3fca6691ff3e",
          "doc_version": "2.0.0"
        }
      }
    },
    "/financials": {
      "get": {
        "tags": [
          "Financial Statements"
        ],
        "operationId": "getAllFinancialStatements",
        "summary": "Get all financial statements",
        "description": "Get all financial statements for a ticker.",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "description": "The ticker symbol. Required if cik is not provided.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-doc": {
              "desc_en": "Stock ticker symbol of the company; required when `cik` is not provided.",
              "title_zh": "目标公司的股票代码；未提供 `cik` 时必填。",
              "source": "ai",
              "src_hash": "sha256:b9367de3e540",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "The time period of the financial statements.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "annual",
                "quarterly",
                "ttm"
              ]
            },
            "x-doc": {
              "desc_en": "Reporting cadence of the financial data to return.",
              "title_zh": "返回财务数据所采用的报告周期。",
              "source": "ai",
              "src_hash": "sha256:cd8d0c65079f",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of financial statements to return.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-doc": {
              "desc_en": "Upper bound on the number of records returned in one response.",
              "title_zh": "单次响应返回记录数的上限。",
              "source": "ai",
              "src_hash": "sha256:59473717cc4f",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "cik",
            "in": "query",
            "description": "The Central Index Key (CIK) of the company.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-doc": {
              "desc_en": "SEC Central Index Key identifying the company; an alternative lookup key to the ticker.",
              "title_zh": "公司在 SEC 的中央索引号（CIK），可作为股票代码之外的查询键。",
              "source": "ai",
              "src_hash": "sha256:0b34fa99db76",
              "doc_version": "2.0.0"
            }
          },
          {
            "$ref": "#/components/parameters/ReportPeriod"
          },
          {
            "$ref": "#/components/parameters/ReportPeriodGte"
          },
          {
            "$ref": "#/components/parameters/ReportPeriodLte"
          },
          {
            "$ref": "#/components/parameters/ReportPeriodGt"
          },
          {
            "$ref": "#/components/parameters/ReportPeriodLt"
          }
        ],
        "responses": {
          "200": {
            "description": "Financial statements response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinancialsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "x-doc": {
          "heading_zh": "获取全部财务报表 (Get All Financial Statements)",
          "desc_en": "Retrieve income statements, balance sheets, and cash flow statements for the given ticker in a single response.",
          "description_zh": "一次性获取指定股票代码的利润表、资产负债表与现金流量表。",
          "source": "ai",
          "src_hash": "sha256:2cc76a85cd65",
          "doc_version": "2.0.0"
        }
      }
    },
    "/news": {
      "get": {
        "tags": [
          "News"
        ],
        "operationId": "getNews",
        "summary": "Get news articles",
        "description": "Get recent news articles for a specific company or the broad market. Pass a ticker for company-specific news, or omit the ticker for general market news. Articles are sourced from RSS feeds of publishers like The Motley Fool, Investing.com, Reuters, and more.",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "description": "The ticker symbol of the company. Omit for broad market news.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-doc": {
              "desc_en": "Ticker symbol for company-specific news; omit to receive broad-market news.",
              "title_zh": "用于获取特定公司新闻的股票代码；省略则返回大盘新闻。",
              "source": "ai",
              "src_hash": "sha256:5c9628bd6b4b",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of news articles to return (default: 5, max: 10).",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 5,
              "maximum": 10
            },
            "x-doc": {
              "desc_en": "Upper bound on the number of records returned in one response.",
              "title_zh": "单次响应返回记录数的上限。",
              "source": "ai",
              "src_hash": "sha256:07cf0c451b1b",
              "doc_version": "2.0.0"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "News articles response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "x-doc": {
          "heading_zh": "获取新闻资讯 (Get News)",
          "desc_en": "Retrieve recent news articles for a specific company, or broad-market news when the ticker is omitted.",
          "description_zh": "获取指定公司的近期新闻；省略股票代码时返回大盘新闻。",
          "source": "ai",
          "src_hash": "sha256:bc280fb53e7d",
          "doc_version": "2.0.0"
        }
      }
    },
    "/prices": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "operationId": "getPrices",
        "summary": "Get historical stock price data",
        "description": "Get end-of-day (EOD) historical price data for stocks.",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "description": "The stock ticker symbol (e.g. AAPL, MSFT).",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-doc": {
              "desc_en": "Stock ticker symbol identifying the company to query.",
              "title_zh": "标识目标公司的股票代码。",
              "source": "ai",
              "src_hash": "sha256:9ebaad5bcbac",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "The time interval for the price data.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week",
                "month",
                "year"
              ]
            },
            "x-doc": {
              "desc_en": "Aggregation interval of each returned price bar.",
              "title_zh": "每条返回价格数据的聚合时间粒度。",
              "source": "ai",
              "src_hash": "sha256:19680386a7b1",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "The start date for the price data (format: YYYY-MM-DD).",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "x-doc": {
              "desc_en": "Earliest date to include in the returned price series.",
              "title_zh": "返回价格序列纳入的最早日期。",
              "source": "ai",
              "src_hash": "sha256:94223b837f3d",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "The end date for the price data (format: YYYY-MM-DD).",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "x-doc": {
              "desc_en": "Latest date to include in the returned price series.",
              "title_zh": "返回价格序列纳入的最晚日期。",
              "source": "ai",
              "src_hash": "sha256:a3125e206690",
              "doc_version": "2.0.0"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Price data response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PricesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "x-doc": {
          "heading_zh": "获取历史价格 (Get Prices)",
          "desc_en": "Retrieve end-of-day historical price data for a stock over a date range.",
          "description_zh": "按日期区间获取股票的日终历史价格数据。",
          "source": "ai",
          "src_hash": "sha256:c59e1b516c98",
          "doc_version": "2.0.0"
        }
      }
    },
    "/financial-metrics": {
      "get": {
        "tags": [
          "Financial Metrics"
        ],
        "operationId": "getFinancialMetrics",
        "summary": "Get financial metrics",
        "description": "Get financial metrics for a ticker, including valuation, profitability, efficiency, liquidity, leverage, growth, and per share metrics.",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "description": "The ticker symbol of the company. Required if cik is not provided.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-doc": {
              "desc_en": "Stock ticker symbol of the company; required when `cik` is not provided.",
              "title_zh": "目标公司的股票代码；未提供 `cik` 时必填。",
              "source": "ai",
              "src_hash": "sha256:7e8aad8e4e8e",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "cik",
            "in": "query",
            "description": "The Central Index Key (CIK) of the company. Can be used instead of ticker.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-doc": {
              "desc_en": "SEC Central Index Key of the company; an alternative to the ticker.",
              "title_zh": "公司的 SEC 中央索引号（CIK），可替代股票代码使用。",
              "source": "ai",
              "src_hash": "sha256:2b93c621bf84",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "The time period for the financial data.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "annual",
                "quarterly",
                "ttm"
              ]
            },
            "x-doc": {
              "desc_en": "Reporting cadence of the financial data to return.",
              "title_zh": "返回财务数据所采用的报告周期。",
              "source": "ai",
              "src_hash": "sha256:92cbf33345f1",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return.",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "x-doc": {
              "desc_en": "Upper bound on the number of records returned in one response.",
              "title_zh": "单次响应返回记录数的上限。",
              "source": "ai",
              "src_hash": "sha256:589ea8511447",
              "doc_version": "2.0.0"
            }
          },
          {
            "$ref": "#/components/parameters/ReportPeriod"
          },
          {
            "$ref": "#/components/parameters/ReportPeriodGte"
          },
          {
            "$ref": "#/components/parameters/ReportPeriodLte"
          },
          {
            "$ref": "#/components/parameters/ReportPeriodGt"
          },
          {
            "$ref": "#/components/parameters/ReportPeriodLt"
          }
        ],
        "responses": {
          "200": {
            "description": "The historical financial metrics and ratios for a ticker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinancialMetricsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "x-doc": {
          "heading_zh": "获取财务指标 (Get Financial Metrics)",
          "desc_en": "Retrieve financial metrics for a ticker across valuation, profitability, efficiency, liquidity, leverage, growth, and per-share categories.",
          "description_zh": "获取指定股票代码的财务指标，涵盖估值、盈利能力、运营效率、流动性、杠杆、成长性与每股指标。",
          "source": "ai",
          "src_hash": "sha256:4daaee5f71cf",
          "doc_version": "2.0.0"
        }
      }
    },
    "/financial-metrics/snapshot": {
      "get": {
        "tags": [
          "Financial Metrics"
        ],
        "operationId": "getFinancialMetricsSnapshot",
        "summary": "Financial Metrics Snapshot (Real-Time)",
        "description": "Get the real-time financial metrics snapshot for a stock, including valuation ratios, profitability, efficiency, liquidity, leverage, growth, and per share metrics.",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "description": "The ticker symbol of the company.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-doc": {
              "desc_en": "Stock ticker symbol identifying the company to query.",
              "title_zh": "标识目标公司的股票代码。",
              "source": "ai",
              "src_hash": "sha256:0bf095a4f136",
              "doc_version": "2.0.0"
            }
          },
          {
            "name": "cik",
            "in": "query",
            "description": "The Central Index Key (CIK) of the company. Can be used instead of ticker.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-doc": {
              "desc_en": "SEC Central Index Key of the company; an alternative to the ticker.",
              "title_zh": "公司的 SEC 中央索引号（CIK），可替代股票代码使用。",
              "source": "ai",
              "src_hash": "sha256:2b93c621bf84",
              "doc_version": "2.0.0"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Financial metrics snapshot response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinancialMetricSnapshotResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "x-doc": {
          "heading_zh": "获取实时财务指标快照 (Get Financial Metrics Snapshot)",
          "desc_en": "Retrieve a real-time snapshot of a stock's financial metrics across valuation, profitability, efficiency, liquidity, leverage, growth, and per-share categories.",
          "description_zh": "获取股票财务指标的实时快照，涵盖估值、盈利能力、运营效率、流动性、杠杆、成长性与每股指标。",
          "source": "ai",
          "src_hash": "sha256:4d318efb34ae",
          "doc_version": "2.0.0"
        }
      }
    },
    "/financials/search/screener": {
      "post": {
        "summary": "Search financial statements",
        "description": "Search for stocks by filtering across financial metrics from income statements, balance sheets, and cash flow statements.",
        "operationId": "stockScreener",
        "tags": [
          "Financials",
          "Search"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFiltersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful search response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinancialsSearchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-doc": {
          "heading_zh": "股票筛选 (Stock Screener)",
          "desc_en": "Screen for stocks by applying filters across financial metrics drawn from income statements, balance sheets, and cash flow statements.",
          "description_zh": "通过对取自利润表、资产负债表与现金流量表的财务指标设定筛选条件来检索股票。",
          "source": "ai",
          "src_hash": "sha256:cc5c3cba4442",
          "doc_version": "2.0.0"
        }
      }
    },
    "/earnings": {
      "get": {
        "tags": [
          "Earnings"
        ],
        "operationId": "getEarnings",
        "summary": "Get earnings snapshot",
        "description": "Get the most recent earnings snapshot for a ticker. Optional estimate/surprise and change fields are returned only when available.",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "description": "The ticker symbol.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-doc": {
              "desc_en": "Stock ticker symbol identifying the company to query.",
              "title_zh": "标识目标公司的股票代码。",
              "source": "ai",
              "src_hash": "sha256:291028e64dc7",
              "doc_version": "2.0.0"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Earnings response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EarningsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "x-doc": {
          "heading_zh": "获取财报快照 (Get Earnings)",
          "desc_en": "Retrieve the most recent earnings snapshot for a ticker; optional estimate, surprise, and change fields are returned only when available.",
          "description_zh": "获取指定股票代码的最新财报快照；可选的预期、超预期及变动字段仅在可获取时返回。",
          "source": "ai",
          "src_hash": "sha256:17cfc2a82a1b",
          "doc_version": "2.0.0"
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "SearchFiltersRequest": {
        "type": "object",
        "required": [
          "filters"
        ],
        "properties": {
          "period": {
            "type": "string",
            "enum": [
              "annual",
              "quarterly",
              "ttm"
            ],
            "default": "ttm",
            "description": "The time period for the financial data.",
            "x-doc": {
              "desc_en": "Reporting cadence of the financial data to return.",
              "title_zh": "返回财务数据所采用的报告周期。",
              "source": "ai",
              "src_hash": "sha256:a3b1cfa2771c",
              "doc_version": "2.0.0"
            }
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 100,
            "description": "The maximum number of results to return.",
            "x-doc": {
              "desc_en": "Upper bound on the number of records returned in one response.",
              "title_zh": "单次响应返回记录数的上限。",
              "source": "ai",
              "src_hash": "sha256:c860d0acf1ab",
              "doc_version": "2.0.0"
            }
          },
          "order_by": {
            "type": "string",
            "enum": [
              "ticker",
              "-ticker",
              "report_period",
              "-report_period"
            ],
            "default": "ticker",
            "description": "The field to order the results by.  Use -field to order in descending order.",
            "x-doc": {
              "desc_en": "Field used to sort the results; prefix with a minus sign to sort in descending order.",
              "title_zh": "用于结果排序的字段；前缀加减号表示降序排列。",
              "source": "ai",
              "src_hash": "sha256:ecf9c311c407",
              "doc_version": "2.0.0"
            }
          },
          "currency": {
            "type": "string",
            "enum": [
              "USD",
              "EUR",
              "GBP",
              "JPY",
              "CHF",
              "AUD",
              "CAD",
              "SEK"
            ],
            "description": "The currency of the financial data.",
            "x-doc": {
              "desc_en": "Currency in which the screened financial figures are expressed.",
              "title_zh": "筛选所依据的财务数值采用的计价货币。",
              "source": "ai",
              "src_hash": "sha256:7bfb6fc59b17",
              "doc_version": "2.0.0"
            }
          },
          "historical": {
            "type": "boolean",
            "default": false,
            "description": "Whether to return historical financial data.",
            "x-doc": {
              "desc_en": "Whether to evaluate filters against historical financial data rather than the latest only.",
              "title_zh": "是否对历史财务数据（而非仅最新数据）应用筛选条件。",
              "source": "ai",
              "src_hash": "sha256:0a09d6060264",
              "doc_version": "2.0.0"
            }
          },
          "filters": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "field",
                "operator",
                "value"
              ],
              "properties": {
                "field": {
                  "type": "string",
                  "description": "The criteria to filter on.  For financial metric fields, use 'gt', 'lt', 'gte', 'lte', 'eq' operators.  For 'ticker' and 'cik' fields, use the 'in' operator to filter against multiple values.",
                  "x-doc": {
                    "desc_en": "Financial metric or identifier the condition is evaluated on; use comparison operators for metric fields and the 'in' operator for ticker or cik.",
                    "title_zh": "该条件所作用的财务指标或标识；指标字段使用比较运算符，ticker 或 cik 使用 'in' 运算符。",
                    "source": "ai",
                    "src_hash": "sha256:4552b8ca3fc0",
                    "doc_version": "2.0.0"
                  }
                },
                "operator": {
                  "type": "string",
                  "enum": [
                    "gt",
                    "lt",
                    "gte",
                    "lte",
                    "eq",
                    "in"
                  ],
                  "description": "The comparison operator. The 'in' operator can only be used with a field value of 'ticker' or 'cik' and lets you filter against multiple values.",
                  "x-doc": {
                    "desc_en": "Comparison operator applied between the field and the value; the 'in' operator works only with the ticker or cik field for multi-value matching.",
                    "title_zh": "在字段与取值之间施加的比较运算符；'in' 运算符仅可与 ticker 或 cik 字段配合用于多值匹配。",
                    "source": "ai",
                    "src_hash": "sha256:e51e80a18ee1",
                    "doc_version": "2.0.0"
                  }
                },
                "value": {
                  "oneOf": [
                    {
                      "type": "number",
                      "description": "The value to compare against for single-value operators (gt, lt, gte, lte, eq)"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Array of ticker or cik values to compare against when using the 'in' operator"
                    }
                  ],
                  "x-doc": {
                    "desc_en": "Value to compare against: a single number for comparison operators, or a list of ticker/cik strings for the 'in' operator.",
                    "title_zh": "用于比较的取值：比较运算符对应单个数值，'in' 运算符对应 ticker/cik 字符串列表。",
                    "source": "ai",
                    "src_hash": "sha256:545144b2253f",
                    "doc_version": "2.0.0"
                  }
                }
              }
            },
            "minItems": 1,
            "description": "An array of filter objects to apply to the search.",
            "x-doc": {
              "desc_en": "List of filter conditions combined to screen the stock universe.",
              "title_zh": "用于组合筛选股票池的过滤条件列表。",
              "source": "ai",
              "src_hash": "sha256:73cf930d7cfd",
              "doc_version": "2.0.0"
            }
          }
        }
      },
      "SearchLineItemsRequest": {
        "type": "object",
        "required": [
          "line_items",
          "tickers"
        ],
        "properties": {
          "line_items": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "The financial metric to search for."
            },
            "minItems": 1,
            "description": "An array of line items to apply to the search.",
            "x-doc": {
              "desc_en": "List of financial line-item names to retrieve across the supported statements.",
              "title_zh": "要在各支持报表中检索的财务行项目名称列表。",
              "source": "ai",
              "src_hash": "sha256:71312405f1fa",
              "doc_version": "2.0.0"
            }
          },
          "tickers": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "The tickers to search for."
            },
            "minItems": 1,
            "description": "An array of tickers to apply to the search.",
            "x-doc": {
              "desc_en": "List of ticker symbols whose financials are searched.",
              "title_zh": "要检索其财务数据的股票代码列表。",
              "source": "ai",
              "src_hash": "sha256:f6e508acd3b0",
              "doc_version": "2.0.0"
            }
          },
          "period": {
            "type": "string",
            "enum": [
              "annual",
              "quarterly",
              "ttm"
            ],
            "default": "ttm",
            "description": "The time period for the financial data.",
            "x-doc": {
              "desc_en": "Reporting cadence of the financial data to return.",
              "title_zh": "返回财务数据所采用的报告周期。",
              "source": "ai",
              "src_hash": "sha256:a3b1cfa2771c",
              "doc_version": "2.0.0"
            }
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "default": 1,
            "description": "The maximum number of results to return.",
            "x-doc": {
              "desc_en": "Upper bound on the number of records returned in one response.",
              "title_zh": "单次响应返回记录数的上限。",
              "source": "ai",
              "src_hash": "sha256:d6d019d0c4ce",
              "doc_version": "2.0.0"
            }
          }
        }
      },
      "FinancialsSearchResponse": {
        "type": "object",
        "properties": {
          "search_results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "ticker": {
                  "type": "string",
                  "description": "The ticker symbol of the company.",
                  "x-doc": {
                    "desc_en": "Stock ticker symbol identifying the company to query.",
                    "title_zh": "标识目标公司的股票代码。",
                    "source": "ai",
                    "src_hash": "sha256:99674e4abfe0",
                    "doc_version": "2.0.0"
                  }
                },
                "report_period": {
                  "type": "string",
                  "format": "date",
                  "description": "The reporting period of the financial data.",
                  "x-doc": {
                    "desc_en": "Date the underlying report covers, marking which fiscal point the figures belong to.",
                    "title_zh": "本条数据所属报告的覆盖日期，标明各数值对应的财报时点。",
                    "source": "ai",
                    "src_hash": "sha256:9ab9f300c36d",
                    "doc_version": "2.0.0"
                  }
                },
                "period": {
                  "type": "string",
                  "enum": [
                    "annual",
                    "quarterly",
                    "ttm"
                  ],
                  "description": "The time period of the financial data.",
                  "x-doc": {
                    "desc_en": "Reporting cadence to which this record's figures correspond.",
                    "title_zh": "本条记录数值所对应的报告周期。",
                    "source": "ai",
                    "src_hash": "sha256:06d9d0687c5f",
                    "doc_version": "2.0.0"
                  }
                },
                "currency": {
                  "type": "string",
                  "description": "The currency of the financial data.",
                  "x-doc": {
                    "desc_en": "Currency in which the returned financial figures are reported.",
                    "title_zh": "所返回财务数值采用的计价货币。",
                    "source": "ai",
                    "src_hash": "sha256:df96ef5abfc0",
                    "doc_version": "2.0.0"
                  }
                }
              },
              "additionalProperties": {
                "type": "string",
                "description": "Additional financial metrics based on the search criteria."
              }
            },
            "x-doc": {
              "desc_en": "List of stocks matching all supplied filters.",
              "title_zh": "满足全部筛选条件的股票列表。",
              "source": "ai",
              "src_hash": "sha256:9f15d926c17d",
              "doc_version": "2.0.0"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "A short error message."
          },
          "message": {
            "type": "string",
            "description": "A more detailed error message."
          }
        }
      },
      "InsiderTradesResponse": {
        "type": "object",
        "properties": {
          "insider_trades": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InsiderTrade"
            },
            "x-doc": {
              "desc_en": "List of insider transaction records matching the query.",
              "title_zh": "符合查询条件的内部人交易记录列表。",
              "source": "ai",
              "src_hash": "sha256:ce3bed819f6c",
              "doc_version": "2.0.0"
            }
          }
        }
      },
      "InstitutionalOwnershipResponse": {
        "type": "object",
        "properties": {
          "institutional-ownership": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InstitutionalOwnership"
            },
            "x-doc": {
              "desc_en": "List of institutional holding records matching the query.",
              "title_zh": "符合查询条件的机构持仓记录列表。",
              "source": "ai",
              "src_hash": "sha256:52483bcf9421",
              "doc_version": "2.0.0"
            }
          }
        }
      },
      "FinancialsResponse": {
        "type": "object",
        "properties": {
          "financials": {
            "type": "object",
            "properties": {
              "income_statements": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IncomeStatement"
                },
                "x-doc": {
                  "desc_en": "List of income statement records for the ticker.",
                  "title_zh": "该股票代码的利润表记录列表。",
                  "source": "ai",
                  "src_hash": "sha256:f60dcb305512",
                  "doc_version": "2.0.0"
                }
              },
              "balance_sheets": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BalanceSheet"
                },
                "x-doc": {
                  "desc_en": "List of balance sheet records for the ticker.",
                  "title_zh": "该股票代码的资产负债表记录列表。",
                  "source": "ai",
                  "src_hash": "sha256:c06160577798",
                  "doc_version": "2.0.0"
                }
              },
              "cash_flow_statements": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CashFlowStatement"
                },
                "x-doc": {
                  "desc_en": "List of cash flow statement records for the ticker.",
                  "title_zh": "该股票代码的现金流量表记录列表。",
                  "source": "ai",
                  "src_hash": "sha256:27937562b6b4",
                  "doc_version": "2.0.0"
                }
              }
            },
            "x-doc": {
              "desc_en": "Container bundling the income statements, balance sheets, and cash flow statements.",
              "title_zh": "汇总利润表、资产负债表与现金流量表的容器。",
              "source": "ai",
              "src_hash": "sha256:c5d8ba5f8654",
              "doc_version": "2.0.0"
            }
          }
        }
      },
      "SegmentedRevenuesResponse": {
        "type": "object",
        "properties": {
          "segmented_revenues": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SegmentedRevenues"
            },
            "x-doc": {
              "desc_en": "List of segmented-revenue records for the company.",
              "title_zh": "公司分部营收记录列表。",
              "source": "ai",
              "src_hash": "sha256:8227ad8c5493",
              "doc_version": "2.0.0"
            }
          }
        }
      },
      "IncomeStatementResponse": {
        "type": "object",
        "properties": {
          "income_statements": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IncomeStatement"
            },
            "x-doc": {
              "desc_en": "List of income statement records for the ticker.",
              "title_zh": "该股票代码的利润表记录列表。",
              "source": "ai",
              "src_hash": "sha256:f60dcb305512",
              "doc_version": "2.0.0"
            }
          }
        }
      },
      "BalanceSheetResponse": {
        "type": "object",
        "properties": {
          "balance_sheets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BalanceSheet"
            },
            "x-doc": {
              "desc_en": "List of balance sheet records for the ticker.",
              "title_zh": "该股票代码的资产负债表记录列表。",
              "source": "ai",
              "src_hash": "sha256:c06160577798",
              "doc_version": "2.0.0"
            }
          }
        }
      },
      "CashFlowStatementResponse": {
        "type": "object",
        "properties": {
          "cash_flow_statements": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CashFlowStatement"
            },
            "x-doc": {
              "desc_en": "List of cash flow statement records for the ticker.",
              "title_zh": "该股票代码的现金流量表记录列表。",
              "source": "ai",
              "src_hash": "sha256:27937562b6b4",
              "doc_version": "2.0.0"
            }
          }
        }
      },
      "CompanyFactsResponse": {
        "type": "object",
        "properties": {
          "company_facts": {
            "$ref": "#/components/schemas/CompanyFacts",
            "x-doc": {
              "desc_en": "Descriptive facts and identifiers for the company.",
              "title_zh": "公司的概况信息与标识。",
              "source": "ai",
              "src_hash": "sha256:9c1c781a43f2",
              "doc_version": "2.0.0"
            }
          }
        }
      },
      "FilingsResponse": {
        "type": "object",
        "properties": {
          "filings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Filing"
            },
            "x-doc": {
              "desc_en": "List of SEC filings matching the query.",
              "title_zh": "符合查询条件的 SEC 备案文件列表。",
              "source": "ai",
              "src_hash": "sha256:f4b7b09441bb",
              "doc_version": "2.0.0"
            }
          }
        }
      },
      "FilingItemsResponse": {
        "type": "object",
        "properties": {
          "ticker": {
            "type": "string",
            "description": "The ticker symbol of the company.",
            "x-doc": {
              "desc_en": "Stock ticker symbol identifying the company to query.",
              "title_zh": "标识目标公司的股票代码。",
              "source": "ai",
              "src_hash": "sha256:99674e4abfe0",
              "doc_version": "2.0.0"
            }
          },
          "cik": {
            "type": "string",
            "description": "The Central Index Key (CIK) of the company.",
            "x-doc": {
              "desc_en": "SEC Central Index Key of the filing company.",
              "title_zh": "备案公司的 SEC 中央索引号（CIK）。",
              "source": "ai",
              "src_hash": "sha256:adbd97886831",
              "doc_version": "2.0.0"
            }
          },
          "filing_type": {
            "type": "string",
            "description": "The type of filing.",
            "x-doc": {
              "desc_en": "SEC form type of the filing.",
              "title_zh": "该备案的 SEC 表格类型。",
              "source": "ai",
              "src_hash": "sha256:b340998d7175",
              "doc_version": "2.0.0"
            }
          },
          "accession_number": {
            "type": "string",
            "description": "The accession number of the filing.",
            "x-doc": {
              "desc_en": "SEC accession number identifying the filing.",
              "title_zh": "标识该备案的 SEC 受理编号。",
              "source": "ai",
              "src_hash": "sha256:8e5bec682131",
              "doc_version": "2.0.0"
            }
          },
          "year": {
            "type": "integer",
            "description": "The year of the filing.",
            "x-doc": {
              "desc_en": "Year of the filing.",
              "title_zh": "备案所属年份。",
              "source": "ai",
              "src_hash": "sha256:ba455584c717",
              "doc_version": "2.0.0"
            }
          },
          "quarter": {
            "type": "integer",
            "description": "The quarter of the filing.",
            "x-doc": {
              "desc_en": "Quarter of the filing.",
              "title_zh": "备案所属季度。",
              "source": "ai",
              "src_hash": "sha256:331913a5d93f",
              "doc_version": "2.0.0"
            }
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FilingItem"
            },
            "x-doc": {
              "desc_en": "List of Item sections extracted from the filing.",
              "title_zh": "从该备案中抽取的条目（Item）小节列表。",
              "source": "ai",
              "src_hash": "sha256:7d9983c850b9",
              "doc_version": "2.0.0"
            }
          }
        }
      },
      "PressReleasesResponse": {
        "type": "object",
        "properties": {
          "press_releases": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PressRelease"
            },
            "x-doc": {
              "desc_en": "List of earnings press releases for the ticker.",
              "title_zh": "该股票代码的财报新闻稿列表。",
              "source": "ai",
              "src_hash": "sha256:f2b529abacb5",
              "doc_version": "2.0.0"
            }
          }
        }
      },
      "PriceSnapshotResponse": {
        "type": "object",
        "properties": {
          "snapshot": {
            "$ref": "#/components/schemas/PriceSnapshot",
            "x-doc": {
              "desc_en": "Real-time price snapshot for the stock.",
              "title_zh": "该股票的实时价格快照。",
              "source": "ai",
              "src_hash": "sha256:4547719de643",
              "doc_version": "2.0.0"
            }
          }
        }
      },
      "CryptoPriceSnapshotResponse": {
        "type": "object",
        "properties": {
          "snapshot": {
            "$ref": "#/components/schemas/CryptoPriceSnapshot"
          }
        }
      },
      "NewsResponse": {
        "type": "object",
        "properties": {
          "news": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/News"
            },
            "x-doc": {
              "desc_en": "List of news articles matching the query.",
              "title_zh": "符合查询条件的新闻文章列表。",
              "source": "ai",
              "src_hash": "sha256:b38426cb4440",
              "doc_version": "2.0.0"
            }
          }
        }
      },
      "PricesResponse": {
        "type": "object",
        "properties": {
          "prices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Price"
            },
            "x-doc": {
              "desc_en": "List of historical price bars for the ticker.",
              "title_zh": "该股票代码的历史价格数据列表。",
              "source": "ai",
              "src_hash": "sha256:bb926c3a84c5",
              "doc_version": "2.0.0"
            }
          },
          "next_page_url": {
            "type": "string",
            "description": "The URL to the next page of results.",
            "x-doc": {
              "desc_en": "URL to fetch the next page of price results, when more data is available.",
              "title_zh": "当存在更多数据时，用于获取下一页价格结果的链接。",
              "source": "ai",
              "src_hash": "sha256:eebca08cfc0d",
              "doc_version": "2.0.0"
            }
          }
        }
      },
      "CryptoPricesResponse": {
        "type": "object",
        "properties": {
          "prices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Price"
            }
          }
        }
      },
      "InsiderTrade": {
        "type": "object",
        "properties": {
          "ticker": {
            "type": "string",
            "description": "The ticker symbol of the company.",
            "x-doc": {
              "desc_en": "Stock ticker symbol identifying the company to query.",
              "title_zh": "标识目标公司的股票代码。",
              "source": "ai",
              "src_hash": "sha256:99674e4abfe0",
              "doc_version": "2.0.0"
            }
          },
          "issuer": {
            "type": "string",
            "description": "The name of the issuing company.",
            "x-doc": {
              "desc_en": "Name of the company that issued the traded security.",
              "title_zh": "发行所交易证券的公司名称。",
              "source": "ai",
              "src_hash": "sha256:edee29814f96",
              "doc_version": "2.0.0"
            }
          },
          "name": {
            "type": "string",
            "description": "The name of the insider.",
            "x-doc": {
              "desc_en": "Name of the insider who carried out the transaction.",
              "title_zh": "实施该交易的内部人姓名。",
              "source": "ai",
              "src_hash": "sha256:d369ed10af7b",
              "doc_version": "2.0.0"
            }
          },
          "title": {
            "type": "string",
            "description": "The title of the insider.",
            "x-doc": {
              "desc_en": "Role or title the insider holds at the company.",
              "title_zh": "内部人在公司担任的职务或头衔。",
              "source": "ai",
              "src_hash": "sha256:721fba8a4791",
              "doc_version": "2.0.0"
            }
          },
          "is_board_director": {
            "type": "boolean",
            "description": "Whether the insider is a board director.",
            "x-doc": {
              "desc_en": "Whether the insider serves on the company's board of directors.",
              "title_zh": "该内部人是否为公司董事会成员。",
              "source": "ai",
              "src_hash": "sha256:bf2e0177373d",
              "doc_version": "2.0.0"
            }
          },
          "transaction_date": {
            "type": "string",
            "format": "date",
            "description": "The date of the transaction.",
            "x-doc": {
              "desc_en": "Date on which the transaction took place.",
              "title_zh": "交易发生的日期。",
              "source": "ai",
              "src_hash": "sha256:074d99ec0979",
              "doc_version": "2.0.0"
            }
          },
          "transaction_shares": {
            "type": "number",
            "description": "The number of shares involved in the transaction.",
            "x-doc": {
              "desc_en": "Number of shares bought or sold in the transaction.",
              "title_zh": "本次交易买入或卖出的股数。",
              "source": "ai",
              "src_hash": "sha256:204c5a5c4ade",
              "doc_version": "2.0.0"
            }
          },
          "transaction_price_per_share": {
            "type": "number",
            "description": "The price per share in the transaction.",
            "x-doc": {
              "desc_en": "Price per share at which the transaction was executed.",
              "title_zh": "本次交易成交的每股价格。",
              "source": "ai",
              "src_hash": "sha256:486dbfca482d",
              "doc_version": "2.0.0"
            }
          },
          "transaction_value": {
            "type": "number",
            "description": "The total value of the transaction.",
            "x-doc": {
              "desc_en": "Total monetary value of the transaction.",
              "title_zh": "本次交易的总金额。",
              "source": "ai",
              "src_hash": "sha256:82038afb56b6",
              "doc_version": "2.0.0"
            }
          },
          "shares_owned_before_transaction": {
            "type": "number",
            "description": "The number of shares owned before the transaction.",
            "x-doc": {
              "desc_en": "Shares the insider held before the transaction.",
              "title_zh": "交易发生前该内部人持有的股数。",
              "source": "ai",
              "src_hash": "sha256:f61bc802c062",
              "doc_version": "2.0.0"
            }
          },
          "shares_owned_after_transaction": {
            "type": "number",
            "description": "The number of shares owned after the transaction.",
            "x-doc": {
              "desc_en": "Shares the insider held after the transaction.",
              "title_zh": "交易发生后该内部人持有的股数。",
              "source": "ai",
              "src_hash": "sha256:d948f22a6563",
              "doc_version": "2.0.0"
            }
          },
          "security_title": {
            "type": "string",
            "description": "The title of the security involved in the transaction.",
            "x-doc": {
              "desc_en": "Title of the security involved in the transaction.",
              "title_zh": "本次交易所涉证券的名称。",
              "source": "ai",
              "src_hash": "sha256:9ecbd75e6990",
              "doc_version": "2.0.0"
            }
          },
          "filing_date": {
            "type": "string",
            "format": "date",
            "description": "The date the transaction was filed.",
            "x-doc": {
              "desc_en": "Date the transaction was filed with the regulator.",
              "title_zh": "该交易向监管机构申报的日期。",
              "source": "ai",
              "src_hash": "sha256:d317089f0f5e",
              "doc_version": "2.0.0"
            }
          }
        }
      },
      "InstitutionalOwnership": {
        "type": "object",
        "properties": {
          "ticker": {
            "type": "string",
            "description": "The ticker symbol, if queried by investor.",
            "x-doc": {
              "desc_en": "Ticker symbol of the held security; populated when querying by investor.",
              "title_zh": "所持证券的股票代码；按投资管理人查询时返回。",
              "source": "ai",
              "src_hash": "sha256:ad3cbd264ed6",
[...]
