{
  "openapi": "3.0.3",
  "info": {
    "title": "AIsa Video Generation API (async)",
    "version": "1.0.0",
    "description": "Asynchronous video generation. Submit a task via `POST /apis/v1/services/aigc/video-generation/video-synthesis`, then poll `GET /apis/v1/services/aigc/tasks/{task_id}` until the status is `SUCCEEDED` or `FAILED`."
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "AISA API Key"
      }
    }
  },
  "paths": {
    "/services/aigc/video-generation/video-synthesis": {
      "post": {
        "summary": "Create a video generation task",
        "description": "Submit an asynchronous video generation task. Returns a `task_id` you then poll via `GET /apis/v1/services/aigc/tasks/{task_id}`.\n\n**Models.** Four Wan variants are accepted on this single endpoint:\n\n| Model | Kind | Image input field |\n| --- | --- | --- |\n| `wan2.6-t2v` | text-to-video | _n/a_ |\n| `wan2.6-i2v` | image-to-video | `input.img_url` |\n| `wan2.7-t2v` | text-to-video | _n/a_ |\n| `wan2.7-i2v` | image-to-video | `input.media` ⚠️ *not* `input.img_url` |\n\n**Header.** `X-DashScope-Async: enable` is required.\n\n**Body.** `model` and `input.prompt` are always required. For i2v, provide a reference image using the field indicated in the table above — `wan2.6-i2v` uses `input.img_url` (string URL), while `wan2.7-i2v` uses `input.media` (array of URLs).\n\nFailed tasks (e.g., invalid prompt, missing required field) are **not billed** — the task-status response returns `task_status: \"FAILED\"` with a `code` and `message`.",
        "operationId": "createVideoSynthesisTask",
        "tags": [
          "Video Generation"
        ],
        "parameters": [
          {
            "name": "X-DashScope-Async",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "enable"
              ]
            },
            "description": "Must be `enable` to run asynchronously (the only mode currently supported)."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "input"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "wan2.6-t2v",
                      "wan2.6-i2v",
                      "wan2.7-t2v",
                      "wan2.7-i2v"
                    ],
                    "description": "Video generation model. Use `-t2v` suffix for text-to-video, `-i2v` for image-to-video. **Note the i2v schema difference:** `wan2.6-i2v` takes a reference image via `input.img_url` (string), while `wan2.7-i2v` takes it via `input.media` (array).",
                    "example": "wan2.6-t2v"
                  },
                  "input": {
                    "type": "object",
                    "required": [
                      "prompt"
                    ],
                    "description": "Required body container. `prompt` is always required; image inputs depend on the model (see field descriptions).",
                    "properties": {
                      "prompt": {
                        "type": "string",
                        "description": "Text prompt describing the video. Must contain words — empty or whitespace-only prompts fail upstream with `prompt must contain words`."
                      },
                      "negative_prompt": {
                        "type": "string",
                        "description": "Optional negative prompt."
                      },
                      "img_url": {
                        "type": "string",
                        "format": "uri",
                        "description": "Reference image URL. **Required** for `wan2.6-i2v`. Ignored by t2v models. **Do NOT use for `wan2.7-i2v`** — that model uses `media` instead."
                      },
                      "media": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "uri"
                        },
                        "description": "Reference image URLs as an array. **Required** for `wan2.7-i2v`. Do NOT use `img_url` with `wan2.7-i2v` — the upstream validator rejects submissions without `input.media`."
                      },
                      "audio_url": {
                        "type": "string",
                        "format": "uri",
                        "description": "Optional reference audio URL."
                      }
                    }
                  },
                  "parameters": {
                    "type": "object",
                    "properties": {
                      "resolution": {
                        "type": "string",
                        "enum": [
                          "720P",
                          "1080P"
                        ],
                        "default": "720P"
                      },
                      "duration": {
                        "type": "integer",
                        "enum": [
                          5,
                          10
                        ],
                        "default": 5,
                        "description": "Video length in seconds."
                      },
                      "shot_type": {
                        "type": "string",
                        "enum": [
                          "single",
                          "multi"
                        ],
                        "default": "single"
                      },
                      "watermark": {
                        "type": "boolean",
                        "default": false
                      },
                      "seed": {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 2147483647
                      }
                    }
                  }
                }
              },
              "examples": {
                "wan26_t2v": {
                  "summary": "wan2.6-t2v — text-to-video, 5 s, 720P",
                  "value": {
                    "model": "wan2.6-t2v",
                    "input": {
                      "prompt": "cinematic close-up, slow push-in, shallow depth of field"
                    },
                    "parameters": {
                      "resolution": "720P",
                      "duration": 5
                    }
                  }
                },
                "wan26_i2v": {
                  "summary": "wan2.6-i2v — image-to-video (uses img_url)",
                  "value": {
                    "model": "wan2.6-i2v",
                    "input": {
                      "prompt": "gentle camera orbit, golden hour lighting",
                      "img_url": "https://example.com/reference.jpg"
                    },
                    "parameters": {
                      "resolution": "1080P",
                      "duration": 10
                    }
                  }
                },
                "wan27_t2v": {
                  "summary": "wan2.7-t2v — text-to-video, newer model",
                  "value": {
                    "model": "wan2.7-t2v",
                    "input": {
                      "prompt": "wide sweeping shot of a neon cyberpunk skyline at dusk"
                    },
                    "parameters": {
                      "resolution": "720P",
                      "duration": 5
                    }
                  }
                },
                "wan27_i2v": {
                  "summary": "wan2.7-i2v — image-to-video (uses media ARRAY, not img_url)",
                  "value": {
                    "model": "wan2.7-i2v",
                    "input": {
                      "prompt": "gentle zoom with parallax, cinematic color grading",
                      "media": [
                        "https://example.com/reference.jpg"
                      ]
                    },
                    "parameters": {
                      "resolution": "720P",
                      "duration": 5
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created — poll `/services/aigc/tasks/{task_id}` for progress.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "output": {
                      "type": "object",
                      "properties": {
                        "task_id": {
                          "type": "string",
                          "description": "Pass this to `GET /services/aigc/tasks/{task_id}`."
                        },
                        "task_status": {
                          "type": "string",
                          "enum": [
                            "PENDING"
                          ]
                        }
                      }
                    },
                    "request_id": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "output": {
                    "task_id": "b3be072e-cc82-4033-8fb7-0b089846544f",
                    "task_status": "PENDING"
                  },
                  "request_id": "8a931b13-c44f-9230-a76b-83487d840060"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body."
          },
          "401": {
            "description": "Missing or invalid AIsa API key."
          },
          "429": {
            "description": "Rate limit hit."
          },
          "500": {
            "description": "`model not supported` (the model isn't routed through this endpoint) or `input param is required` (body missing `input`).\n\nNote: for `wan2.7-i2v`, submission **succeeds with HTTP 200** even without the image input — the task later lands in `FAILED` status with `code: \"InvalidParameter\"` and `message: \"Field required: input.media\"`."
          }
        }
      }
    },
    "/services/aigc/tasks/{task_id}": {
      "get": {
        "summary": "Get video generation task result",
        "description": "Poll the status and result of a task created by `POST /apis/v1/services/aigc/video-generation/video-synthesis`. The `task_id` is a **path parameter**, not a query string.\n\nSuggested polling: every 3–5 seconds, with a hard timeout around 5 minutes.",
        "operationId": "getVideoSynthesisTask",
        "tags": [
          "Video Generation"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Task ID returned by the video-synthesis create call. Unknown IDs return `task_status: \"UNKNOWN\"` (HTTP 200)."
          }
        ],
        "responses": {
          "200": {
            "description": "Task status response. Always HTTP 200 — inspect `output.task_status` to tell lifecycle states apart.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "output": {
                      "type": "object",
                      "properties": {
                        "task_id": {
                          "type": "string"
                        },
                        "task_status": {
                          "type": "string",
                          "enum": [
                            "PENDING",
                            "RUNNING",
                            "SUCCEEDED",
                            "FAILED",
                            "CANCELED",
                            "UNKNOWN"
                          ]
                        },
                        "video_url": {
                          "type": "string",
                          "format": "uri",
                          "description": "Present on `SUCCEEDED`. Short-lived URL — download and persist the video before it expires."
                        },
                        "orig_prompt": {
                          "type": "string",
                          "description": "The original prompt as stored by the upstream provider."
                        },
                        "submit_time": {
                          "type": "string",
                          "description": "When the task was accepted."
                        },
                        "scheduled_time": {
                          "type": "string",
                          "description": "When the task was scheduled for execution."
                        },
                        "end_time": {
                          "type": "string",
                          "description": "When the task reached a terminal state."
                        },
                        "code": {
                          "type": "string",
                          "description": "Present on `FAILED`. Example: `InvalidParameter`."
                        },
                        "message": {
                          "type": "string",
                          "description": "Present on `FAILED`. Human-readable failure reason."
                        }
                      }
                    },
                    "usage": {
                      "type": "object",
                      "description": "Present on `SUCCEEDED`.",
                      "properties": {
                        "input_video_duration": {
                          "type": "integer",
                          "description": "Duration of any input video reference (0 when none)."
                        },
                        "output_video_duration": {
                          "type": "integer",
                          "description": "Duration of the generated video in seconds."
                        },
                        "duration": {
                          "type": "number",
                          "description": "Total duration used for billing."
                        },
                        "video_count": {
                          "type": "integer",
                          "description": "Number of videos produced (always 1 today)."
                        },
                        "size": {
                          "type": "string",
                          "description": "Actual dimensions of the generated video, formatted as `WIDTH*HEIGHT` (e.g., `1920*1080`). Note the `*` separator. Present on `wan2.6-*` outputs.",
                          "example": "1920*1080"
                        },
                        "ratio": {
                          "type": "string",
                          "description": "Aspect ratio of the output (e.g., `16:9`). Present on `wan2.7-t2v` outputs.",
                          "example": "16:9"
                        },
                        "SR": {
                          "type": "integer",
                          "description": "Super-resolution output height. `wan2.6-t2v` upscales 720P input to 1080. `wan2.6-i2v`, `wan2.7-t2v`, `wan2.7-i2v` return 720.",
                          "example": 1080
                        }
                      }
                    },
                    "request_id": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "succeeded": {
                    "summary": "SUCCEEDED — video_url is populated",
                    "value": {
                      "output": {
                        "task_id": "b3be072e-cc82-4033-8fb7-0b089846544f",
                        "task_status": "SUCCEEDED",
                        "video_url": "https://cdn.aisa.one/videos/wan2.6/20260418-abc.mp4",
                        "orig_prompt": "cinematic close-up, slow push-in, shallow depth of field",
                        "submit_time": "2026-04-18 15:16:01.841",
                        "scheduled_time": "2026-04-18 15:16:01.867",
                        "end_time": "2026-04-18 15:16:42.512"
                      },
                      "usage": {
                        "output_video_duration": 5,
                        "video_count": 1,
                        "SR": 720
                      },
                      "request_id": "8a931b13-c44f-9230-a76b-83487d840060"
                    }
                  },
                  "failed": {
                    "summary": "FAILED (invalid prompt — not billed)",
                    "value": {
                      "output": {
                        "task_id": "b3be072e-cc82-4033-8fb7-0b089846544f",
                        "task_status": "FAILED",
                        "code": "InvalidParameter",
                        "message": "prompt must contain words",
                        "submit_time": "2026-04-18 15:16:01.841",
                        "scheduled_time": "2026-04-18 15:16:01.867",
                        "end_time": "2026-04-18 15:16:01.941"
                      },
                      "request_id": "8a931b13-c44f-9230-a76b-83487d840060"
                    }
                  },
                  "running": {
                    "summary": "RUNNING (still processing)",
                    "value": {
                      "output": {
                        "task_id": "b3be072e-cc82-4033-8fb7-0b089846544f",
                        "task_status": "RUNNING"
                      },
                      "request_id": "8a931b13-c44f-9230-a76b-83487d840060"
                    }
                  },
                  "unknown": {
                    "summary": "UNKNOWN task_id (still returns HTTP 200)",
                    "value": {
                      "output": {
                        "task_id": "bogus-task-id",
                        "task_status": "UNKNOWN"
                      },
                      "request_id": "71b2b0ad-cb6f-9de4-a8bc-a88e4fb72f0e"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid AIsa API key."
          },
          "500": {
            "description": "`unsupported uri` — check the path. The correct pattern is `/services/aigc/tasks/{task_id}`, not `/services/aigc/tasks?task_id=`."
          }
        }
      }
    }
  }
}