{
  "openapi": "3.0.3",
  "info": {
    "title": "Apollo API",
    "version": "1.0.0",
    "description": "Apollo API endpoints exposed through the AIsa unified gateway."
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "paths": {
    "/apollo/people/match": {
      "post": {
        "summary": "People Enrichment",
        "description": "Use the People Enrichment endpoint to enrich data for 1 person. To enrich data for up to 10 people with a single API call, use the Bulk People Enrichment endpoint instead. Apollo relies on the information you pass via the endpoint's parameters to identify the correct person to enrich. If you provide more information about a person, Apollo is more likely to find a match within its database. If you only provide general information, such as a name without a domain or email address, you might receive a 200 response, but the response will indicate that no records have been enriched. By default, this endpoint does not return personal emails or phone numbers. Use the reveal_personal_emails and reveal_phone_number parameters to retrieve emails and phone numbers. You can also use the run_waterfall_email and run_waterfall_phone parameters to run waterfall enrichment via this endpoint. gives you broader data coverage by checking connected third-party data sources for contact emails and phone numbers. When you call this endpoint and include at least one waterfall parameter, Apollo returns an immediate synchronous response with demographic and firmographic data, along with a waterfall enrichment request status. Apollo delivers enriched emails and/or phone numbers asynchronously to a configured webhook. **Webhook Response Details:** - When using native enrichment for phone number enrichment, the webhook response follows: - When passing Waterfall flags, the webhook response follows: **Webhook Requirements:** - **HTTPS Required:** Your endpoint must be publicly accessible over HTTPS. - **Rate Limiting:** Ensure your webhook endpoint can handle the volume of webhook traffic sent by Apollo. - **Idempotency:** Apollo may retry webhook calls; your endpoint should be idempotent to handle duplicate payloads safely. Using this endpoint will consume credits based on your account's pricing plan. If you run waterfall enrichment parameters, your depends on the type of data you request (emails and/or phone numbers) and which data source returns enriched data. To view a summary of Apollo's pricing, visit the public pricing page ↗ For detailed information regarding API credit usage, see the API enrichment ↗ section on the *About Credits* page (login required).",
        "operationId": "post_apollo_people_match",
        "parameters": [
          {
            "name": "first_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The first name of the person. This is typically used in combination with the last_name parameter. Example: tim"
          },
          {
            "name": "last_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The last name of the person. This is typically used in combination with the first_name parameter. Example: zheng"
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The full name of the person. This will typically be a first name and last name separated by a space. If you use this parameter, you do not need to use the first_name and last_name parameters. Example: tim zheng"
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The email address of the person. Example: example@email.com"
          },
          {
            "name": "hashed_email",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The hashed email of the person. The email should adhere to either the MD5 or SHA-256 hash format. Example: 8d935115b9ff4489f2d1f9249503cadf (MD5) or 97817c0c49994eb500ad0a5e7e2d8aed51977b26424d508f66e4e8887746a152 (SHA-256)"
          },
          {
            "name": "organization_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The name of the person's employer. This can be the current employer or a previous employer. Example: apollo"
          },
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The domain name for the person's employer. This can be the current employer or a previous employer. Do not include www., the @ symbol, or similar. Example: apollo.io or microsoft.com"
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The Apollo ID for the person. Each person in the Apollo database is assigned a unique ID. To find IDs, call the People API Search endpoint and identify the values for person_id. Example: 587cf802f65125cad923a266"
          },
          {
            "name": "linkedin_url",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The URL for the person's LinkedIn profile. Example: http://www.linkedin.com/in/tim-zheng-677ba010"
          },
          {
            "name": "run_waterfall_email",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Set to true to enable email waterfall enrichment"
          },
          {
            "name": "run_waterfall_phone",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Set to true to enable phone waterfall enrichment"
          },
          {
            "name": "reveal_personal_emails",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Set to true if you want to enrich the person's data with personal emails. This potentially consumes credits as part of your Apollo pricing plan . The default value is false. If a person resides in a GDPR -compliant region, Apollo will not reveal their personal email."
          },
          {
            "name": "reveal_phone_number",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Set to true if you want to enrich the person's data with all available phone numbers, including mobile phone numbers. This potentially consumes credits as part of your Apollo pricing plan . The default value is false. If this parameter is set to true, you must enter a webhook URL for the webhook_url parameter. Apollo will asynchronously verify phone numbers for you, then send a JSON response that includes only details about the person's phone numbers to the webhook URL you provide. It can take several minutes for the phone numbers to be delivered."
          },
          {
            "name": "webhook_url",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "If you set the reveal_phone_number parameter to true, this parameter becomes mandatory. Otherwise, do not use this parameter. Enter the webhook URL that specifies where Apollo should send a JSON response that includes the phone number you requested. Apollo suggests testing this flow to ensure you receive the separate response with the phone number. If phone numbers are not revealed delivered to the webhook URL, try applying UTF-8 encoding to the webhook URL. Example: https://webhook.site/cc4cf44e-e047-4774-8dac-473d28474e40; https%3A%2F%2Fwebhook.site%2Fcc4cf44e-e047-4774-8dac-473d28474e40"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "person": {
                      "type": "object",
                      "description": "Response object"
                    },
                    "waterfall": {
                      "type": "object",
                      "description": "Response object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/apollo/people/bulk_match": {
      "post": {
        "summary": "Bulk People Enrichment",
        "description": "Use the Bulk People Enrichment endpoint to enrich data for up to 10 people with a single API call. To enrich data for only 1 person, use the People Enrichment endpoint instead. Apollo relies on the information you pass via the endpoint's parameters to identify the correct people to enrich. When you provide more information, Apollo is more likely to find matches within its database. If you only provide general information, such as a name without a domain or email address, you might receive a 200 response, but the response will indicate that no records have been enriched. The details for each person should be passed as an object with the details[] array. By default, this endpoint does not return personal emails or phone numbers. Use the reveal_personal_emails and reveal_phone_number parameters to retrieve emails and phone numbers. If you set either of these parameters to true, Apollo will attempt to provide emails or phone numbers for all matches. You can use also use the run_waterfall_email and run_waterfall_phone parameters to run waterfall enrichment via this endpoint. gives you broader data coverage by checking connected third-party data sources for contact emails and phone numbers. When you call this endpoint and include at least one waterfall parameter, Apollo returns an immediate synchronous response with demographic and firmographic data, along with a waterfall enrichment request status. Apollo delivers enriched emails and/or phone numbers asynchronously to a configured webhook. **Webhook Response Details:** - When using native enrichment for phone number enrichment, the webhook response follows: - When passing Waterfall flags, the webhook response follows: **Webhook Requirements:** - **HTTPS Required:** Your endpoint must be publicly accessible over HTTPS. - **Rate Limiting:** Ensure your webhook endpoint can handle the volume of webhook traffic sent by Apollo. - **Idempotency:** Apollo may retry webhook calls. Your endpoint should be idempotent to handle duplicate payloads safely. Using this endpoint will consume credits based on your account's pricing plan. If you run waterfall enrichment parameters, your depends on the type of data you request (emails and/or phone numbers) and which data source returns enriched data. To view a summary of Apollo's pricing, visit the public pricing page ↗ For detailed information regarding API credit usage, see the API enrichment ↗ section on the *About Credits* page (login required). This endpoint's rate limit is throttled to 50% of the People Enrichment endpoint's per-minute rate limit, and is 100% of the hourly and daily rate limits for the same individual endpoint.",
        "operationId": "post_apollo_people_bulk_match",
        "parameters": [
          {
            "name": "run_waterfall_email",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Set to true to enable email waterfall enrichment"
          },
          {
            "name": "run_waterfall_phone",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Set to true to enable phone waterfall enrichment"
          },
          {
            "name": "reveal_personal_emails",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Set to true if you want to enrich all matched people with personal emails. This potentially consumes credits as part of your Apollo pricing plan . The default value is false. If a person resides in a GDPR -compliant region, Apollo will not reveal their personal email."
          },
          {
            "name": "reveal_phone_number",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Set to true if you want to enrich the data of all matched people with all available phone numbers, including mobile phone numbers. This potentially consumes credits as part of your Apollo pricing plan . The default value is false. If this parameter is set to true, you must enter a webhook URL for the webhook_url parameter. Apollo will asynchronously verify phone numbers for you, then send a JSON response that includes only details about the phone numbers to the webhook URL you provide. It can take several minutes for the phone numbers to be delivered."
          },
          {
            "name": "webhook_url",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "If you set the reveal_phone_number parameter to true, this parameter becomes mandatory. Otherwise, do not use this parameter. Enter the webhook URL that specifies where Apollo should send a JSON response that includes the phone number you requested. Apollo suggests testing this flow to ensure you receive the separate response with the phone number. If phone numbers are not revealed delivered to the webhook URL, try applying UTF-8 encoding to the webhook URL. Example: https://webhook.site/cc4cf44e-e047-4774-8dac-473d28474e40; https%3A%2F%2Fwebhook.site%2Fcc4cf44e-e047-4774-8dac-473d28474e40"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Response field"
                    },
                    "error_code": {
                      "type": "string",
                      "description": "Response field"
                    },
                    "error_message": {
                      "type": "string",
                      "description": "Response field"
                    },
                    "total_requested_enrichments": {
                      "type": "integer",
                      "description": "Response field"
                    },
                    "unique_enriched_records": {
                      "type": "integer",
                      "description": "Response field"
                    },
                    "missing_records": {
                      "type": "integer",
                      "description": "Response field"
                    },
                    "credits_consumed": {
                      "type": "integer",
                      "description": "Response field"
                    },
                    "matches": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Response array"
                    },
                    "waterfall": {
                      "type": "object",
                      "description": "Response object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "details": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Provide info for each person you want to enrich as an object within this array. Add up to 10 people."
                  }
                },
                "required": [
                  "details"
                ]
              }
            }
          }
        }
      }
    },
    "/apollo/organizations/enrich": {
      "get": {
        "summary": "Organization Enrichment",
        "description": "Use the Oganization Enrichment endpoint to enrich data for 1 company. To enrich data for up to 10 companies with a single API call, use the Bulk Organization Enrichment endpoint instead. Calling this endpoint does consume credits as part of your Apollo pricing plan . Enriched data potentially includes industry information, revenue, employee counts, funding round details, and corporate phone numbers and locations. Calling this endpoint does consume credits as part of your Apollo pricing plan .",
        "operationId": "get_apollo_organizations_enrich",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The domain of the company that you want to enrich. Do not include www., the @ symbol, or similar. Example: apollo.io or microsoft.com"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "organization": {
                      "type": "object",
                      "description": "Response object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/apollo/organizations/bulk_enrich": {
      "post": {
        "summary": "Bulk Organization Enrichment",
        "description": "Use the Bulk Organization Enrichment endpoint to enrich data for up to 10 companies with a single API call. To enrich data for only 1 company, use the Organization Enrichment endpoint instead. Enriched data potentially includes industry information, revenue, employee counts, funding round details, and corporate phone numbers and locations. Calling this endpoint does consume credits as part of your Apollo pricing plan . This endpoint's rate limit is throttled to 50% of the Organization Enrichment endpoint's per-minute rate limit, and is 100% of the hourly and daily rate limits for the same individual endpoint.",
        "operationId": "post_apollo_organizations_bulk_enrich",
        "parameters": [
          {
            "name": "domains[]",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The domain of each company that you want to enrich. Do not include www., the @ symbol, or similar. Example: apollo.io and microsoft.com"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Response field"
                    },
                    "error_code": {
                      "type": "string",
                      "description": "Response field"
                    },
                    "error_message": {
                      "type": "string",
                      "description": "Response field"
                    },
                    "total_requested_domains": {
                      "type": "integer",
                      "description": "Response field"
                    },
                    "unique_domains": {
                      "type": "integer",
                      "description": "Response field"
                    },
                    "unique_enriched_records": {
                      "type": "integer",
                      "description": "Response field"
                    },
                    "missing_records": {
                      "type": "integer",
                      "description": "Response field"
                    },
                    "organizations": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Response array"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/apollo/mixed_people/api_search": {
      "post": {
        "summary": "People API Search",
        "description": "Use the People API Search endpoint to find net new people in the Apollo database. Several filters are available to help narrow your search. This endpoint is optimized for API usage and does not consume credits. This endpoint is primarily designed for prospecting net new people. This endpoint does not return email addresses or phone numbers. Use the People Enrichment or Bulk People Enrichment endpoints to enrich data. This endpoint requires a master API key. Refer to Create API Keys to learn how to create a master API key. To protect Apollo's performance for all users, this endpoint has a display limit of 50,000 records (100 records per page, up to 500 pages). Add more filters to narrow your search results as much as possible. This limitation does not restrict your access to Apollo's database; you just need to access the data in batches.",
        "operationId": "post_apollo_mixed_people_api_search",
        "parameters": [
          {
            "name": "person_titles[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Job titles held by the people you want to find. For a person to be included in search results, they only need to match 1 of the job titles you add. Adding more job titles expands your search results. Results also include job titles with the same terms, even if they are not exact matches. For example, searching for marketing manager might return people with the job title content marketing manager. Use this parameter in combination with the person_seniorities[] parameter to find people based on specific job functions and seniority levels. Examples: sales development representative; marketing manager; research analyst"
          },
          {
            "name": "include_similar_titles",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "This parameter determines whether people with job titles similar to the titles you define in the person_titles[] parameter are returned in the response. Set this parameter to false when using person_titles[] to return only strict matches for job titles."
          },
          {
            "name": "q_keywords",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "A string of words over which we want to filter the results."
          },
          {
            "name": "person_locations[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The location where people live. You can search across cities, US states, and countries. To find people based on the headquarters locations of their current employer, use the organization_locations parameter. Examples: california; ireland; chicago"
          },
          {
            "name": "person_seniorities[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The job seniority that people hold within their current employer. This enables you to find people that currently hold positions at certain reporting levels, such as Director level or senior IC level. For a person to be included in search results, they only need to match 1 of the seniorities you add. Adding more seniorities expands your search results. Searches only return results based on their current job title, so searching for Director-level employees only returns people that currently hold a Director-level title. If someone was previously a Director, but is currently a VP, they would not be included in your search results. Use this parameter in combination with the person_titles[] parameter to find people based on specific job functions and seniority levels. The following options can be used for this parameter: owner founder c_suite partner vp head director manager senior entry intern"
          },
          {
            "name": "organization_locations[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The location of the company headquarters for a person's current employer. You can search across cities, US states, and countries. If a company has several office locations, results are still based on the headquarters location. For example, if you search chicago but a company's HQ location is in boston, people that work for the Boston-based company will not appear in your results, even if they match other parameters. To find people based on their personal location, use the person_locations parameter. Examples: texas; tokyo; spain"
          },
          {
            "name": "q_organization_domains_list[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The domain name for the person's employer. This can be the current employer or a previous employer. Do not include www., the @ symbol, or similar. This parameter accepts up to 1,000 domains in a single request. Examples: apollo.io; microsoft.com"
          },
          {
            "name": "contact_email_status[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The email statuses for the people you want to find. You can add multiple statuses to expand your search. The statuses you can search include: verified unverified likely to engage unavailable"
          },
          {
            "name": "organization_ids[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The Apollo IDs for the companies (employers) you want to include in your search results. Each company in the Apollo database is assigned a unique ID. To find IDs, call the Organization Search endpoint and identify the values for organization_id. Example: 5e66b6381e05b4008c8331b8"
          },
          {
            "name": "organization_num_employees_ranges[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The number range of employees working for the person's current company. This enables you to find people based on the headcount of their employer. You can add multiple ranges to expand your search results. Each range you add needs to be a string, with the upper and lower numbers of the range separated only by a comma. Examples: 1,10; 250,500; 10000,20000"
          },
          {
            "name": "revenue_range[min]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "The minimum revenue the person's current employer generates. Use this parameter in combination with revenue_range[max] to set a revenue range. Do not enter currency symbols, commas, or decimal points in the figure. Examples: 500000; 1500000"
          },
          {
            "name": "revenue_range[max]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "The maximum revenue the person's current employer generates. Use this parameter in combination with revenue_range[min] to set a revenue range. Do not enter currency symbols, commas, or decimal points in the figure. Examples: 500000; 1500000"
          },
          {
            "name": "currently_using_all_of_technology_uids[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Find people based on all of the technologies their current employer uses. Apollo supports filtering by 1,500+ technologies. Apollo calculates technologies data from multiple sources. This data is updated regularly. Check out the full list of supported technologies by downloading this CSV file . Use underscores (_) to replace spaces and periods for the technologies listed in the CSV file. Examples: salesforce; google_analytics; wordpress_org"
          },
          {
            "name": "currently_using_any_of_technology_uids[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Find people based on any of the technologies their current employer uses. Apollo supports filtering by 1,500+ technologies. Apollo calculates technologies data from multiple sources. This data is updated regularly. Check out the full list of supported technologies by downloading this CSV file . Use underscores (_) to replace spaces and periods for the technologies listed in the CSV file. Examples: salesforce; google_analytics; wordpress_org"
          },
          {
            "name": "currently_not_using_any_of_technology_uids[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Exclude people from your search based on any of the technologies their current employer uses. Apollo supports filtering by 1,500+ technologies. Apollo calculates technologies data from multiple sources. This data is updated regularly. Check out the full list of supported technologies by downloading this CSV file . Use underscores (_) to replace spaces and periods for the technologies listed in the CSV file. Examples: salesforce; google_analytics; wordpress_org"
          },
          {
            "name": "q_organization_job_titles[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The job titles that are listed in active job postings at the person's current employer. Examples: sales manager; research analyst"
          },
          {
            "name": "organization_job_locations[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The locations of the jobs being actively recruited by the person's employer. Examples: atlanta; japan"
          },
          {
            "name": "organization_num_jobs_range[min]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "The minimum number of job postings active at the person's current employer. Use this parameter in combination with organization_num_jobs_range[max] to set a job postings range. Examples: 50; 500"
          },
          {
            "name": "organization_num_jobs_range[max]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "The maximum number of job postings active at the person's current employer. Use this parameter in combination with organization_num_jobs_range[min] to set a job postings range. Examples: 50; 500"
          },
          {
            "name": "organization_job_posted_at_range[min]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The earliest date when jobs were posted by the person's current employer. Use this parameter in combination with organization_job_posted_at_range[max] to set a date range for when jobs posted. Example: 2025-07-25"
          },
          {
            "name": "organization_job_posted_at_range[max]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The latest date when jobs were posted by the person's current employer. Use this parameter in combination with organization_job_posted_at_range[min] to set a date range for when jobs posted. Example: 2025-09-25"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "The page number of the Apollo data that you want to retrieve. Use this parameter in combination with the per_page parameter to make search results for navigable and improve the performance of the endpoint. Example: 4"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "The number of search results that should be returned for each page. Limiting the number of results per page improves the endpoint's performance. Use the page parameter to search the different pages of data. Example: 10"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_entries": {
                      "type": "integer",
                      "description": "Response field"
                    },
                    "people": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Response array"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/apollo/mixed_companies/search": {
      "post": {
        "summary": "Organization Search",
        "description": "Use the Organization Search endpoint to find companies in the Apollo database. Several filters are available to help narrow your search. Calling this endpoint does consume credits as part of your Apollo pricing plan . To protect Apollo's performance for all users, this endpoint has a display limit of 50,000 records (100 records per page, up to 500 pages). Add more filters to narrow your search results as much as possible. This limitation does not restrict your access to Apollo's database; you just need to access the data in batches.",
        "operationId": "post_apollo_mixed_companies_search",
        "parameters": [
          {
            "name": "q_organization_domains_list[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The domain name for the person's employer. This can be the current employer or a previous employer. Do not include www., the @ symbol, or similar. This parameter accepts up to 1,000 domains in a single request. Examples: apollo.io; microsoft.com"
          },
          {
            "name": "organization_num_employees_ranges[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The number range of employees working for the company. This enables you to find companies based on headcount. You can add multiple ranges to expand your search results. Each range you add needs to be a string, with the upper and lower numbers of the range separated only by a comma. Examples: 1,10; 250,500; 10000,20000"
          },
          {
            "name": "organization_locations[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The location of the company headquarters. You can search across cities, US states, and countries. If a company has several office locations, results are still based on the headquarters location. For example, if you search chicago but a company's HQ location is in boston, any Boston-based companies will not appearch in your search results, even if they match other parameters.. To exclude companies based on location, use the organization_not_locations parameter. Examples: texas; tokyo; spain"
          },
          {
            "name": "organization_not_locations[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Exclude companies from search results based on the location of the company headquarters. You can use cities, US states, and countries as locations to exclude. This parameter is useful for ensuring you do not prospect in an undesirable territory. For example, if you use ireland as a value, no Ireland-based companies will appear in your search results. Examples: minnesota; ireland; seoul"
          },
          {
            "name": "revenue_range[min]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Search for organizations based on their revenue. Use this parameter to set the lower range of organization revenue. Use the revenue_range[max] parameter to set the upper range of revenue. Do not enter currency symbols, commas, or decimal points in the figure. Example: 300000"
          },
          {
            "name": "revenue_range[max]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Search for organizations based on their revenue. Use this parameter to set the upper range of organization revenue. Use the revenue_range[min] parameter to set the lower range of revenue. Do not enter currency symbols, commas, or decimal points in the figure. Example: 50000000"
          },
          {
            "name": "currently_using_any_of_technology_uids[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Find organizations based on the technologies they currently use. Apollo supports filtering by 1,500+ technologies. Apollo calculates technologies data from multiple sources. This data is updated regularly. Check out the full list of supported technologies by downloading this CSV file . Use underscores (_) to replace spaces and periods for the technologies listed in the CSV file. Examples: salesforce; google_analytics; wordpress_org"
          },
          {
            "name": "q_organization_keyword_tags[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Filter search results based on keywords associated with companies. For example, you can enter mining as a value to return only companies that have an association with the mining industry. Examples: mining; sales strategy; consulting"
          },
          {
            "name": "q_organization_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter search results to include a specific company name. If the value you enter for this parameter does not match with a company's name, the company will not appear in search results, even if it matches other parameters. Partial matches are accepted. For example, if you filter by the value marketing, a company called NY Marketing Unlimited would still be eligible as a search result, but NY Market Analysis would not be eligible. Example: apollo or mining"
          },
          {
            "name": "organization_ids[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The Apollo IDs for the companies you want to include in your search results. Each company in the Apollo database is assigned a unique ID. To find IDs, identify the values for organization_id when you call this endpoint. Example: 5e66b6381e05b4008c8331b8"
          },
          {
            "name": "latest_funding_amount_range[min]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "The minimum amount the company received with its most recent funding round. Use this parameter in combination with latest_funding_amount_range[max] to set a monetary range for the company's most recent funding round. Do not enter currency symbols, commas, or decimal points in the figure. Examples: 5000000; 15000000"
          },
          {
            "name": "latest_funding_amount_range[max]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "The maximium amount the company received with its most recent funding round. Use this parameter in combination with latest_funding_amount_range[min] to set a monetary range for the company's most recent funding round. Do not enter currency symbols, commas, or decimal points in the figure. Examples: 5000000; 15000000"
          },
          {
            "name": "total_funding_range[min]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "The minimum amount the company received during all of its funding rounds combined. Use this parameter in combination with total_funding_range[max] to set a monetary range for all of the company's funding rounds. Do not enter currency symbols, commas, or decimal points in the figure. Examples: 50000000; 350000000"
          },
          {
            "name": "total_funding_range[max]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "The maximum amount the company received during all of its funding rounds combined. Use this parameter in combination with total_funding_range[min] to set a monetary range for all of the company's funding rounds. Do not enter currency symbols, commas, or decimal points in the figure. Examples: 50000000; 350000000"
          },
          {
            "name": "latest_funding_date_range[min]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The earliest date when the company received its most recent funding round. Use this parameter in combination with latest_funding_date_range[max] to set a date range for when the company received its most recent funding round. Example: 2025-07-25"
          },
          {
            "name": "latest_funding_date_range[max]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The latest date when the company received its most recent funding round. Use this parameter in combination with latest_funding_date_range[min] to set a date range for when the company received its most recent funding round. Example: 2025-09-25"
          },
          {
            "name": "q_organization_job_titles[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The job titles that are listed in active job postings at the company. Examples: sales manager; research analyst"
          },
          {
            "name": "organization_job_locations[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The locations of the jobs being actively recruited by the company. Examples: atlanta; japan"
          },
          {
            "name": "organization_num_jobs_range[min]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "The minimum number of job postings active at the company. Use this parameter in combination with organization_num_jobs_range[max] to set a job postings range. Examples: 50; 500"
          },
          {
            "name": "organization_num_jobs_range[max]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "The maximum number of job postings active at the company. Use this parameter in combination with organization_num_jobs_range[min] to set a job postings range. Examples: 50; 500"
          },
          {
            "name": "organization_job_posted_at_range[min]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The earliest date when jobs were posted by the company. Use this parameter in combination with organization_job_posted_at_range[max] to set a date range for when jobs posted. Example: 2025-07-25"
          },
          {
            "name": "organization_job_posted_at_range[max]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The latest date when jobs were posted by the company. Use this parameter in combination with organization_job_posted_at_range[min] to set a date range for when jobs posted. Example: 2025-09-25"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "The page number of the Apollo data that you want to retrieve. Use this parameter in combination with the per_page parameter to make search results for navigable and improve the performance of the endpoint. Example: 4"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "The number of search results that should be returned for each page. Limiting the number of results per page improves the endpoint's performance. Use the page parameter to search the different pages of data. Example: 10"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "breadcrumbs": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Response array"
                    },
                    "partial_results_only": {
                      "type": "boolean",
                      "description": "Response field"
                    },
                    "has_join": {
                      "type": "boolean",
                      "description": "Response field"
                    },
                    "disable_eu_prospecting": {
                      "type": "boolean",
                      "description": "Response field"
                    },
                    "partial_results_limit": {
                      "type": "integer",
                      "description": "Response field"
                    },
                    "pagination": {
                      "type": "object",
                      "description": "Response object"
                    },
                    "accounts": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Response array"
                    },
                    "organizations": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Response array"
                    },
                    "model_ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Response array"
                    },
                    "num_fetch_result": {
                      "type": "string",
                      "description": "Response field"
                    },
                    "derived_params": {
                      "type": "string",
                      "description": "Response field"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/apollo/organizations/{organization_id}/job_postings": {
      "get": {
        "summary": "Organization Job Postings",
        "description": "Use the Organization Job Postings endpoint to retrieve the current job postings for companies. This can help you identify companies that are growing headcount in areas that are strategically important for you. Calling this endpoint does consume credits as part of your Apollo pricing plan . To protect Apollo's performance for all users, this endpoint has a display limit of 10,000 records. This limitation does not restrict your access to Apollo's database; you just need to access the data in batches.",
        "operationId": "get_apollo_organizations_organization_id_job_postings",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The organization ID of the company for which you want to find job postings. Each company in the Apollo database is assigned a unique ID. To find IDs, call the Organization Search endpoint and identify the values for organization_id. Example: 5e66b6381e05b4008c8331b8"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "The page number of the Apollo data that you want to retrieve. Use this parameter in combination with the per_page parameter to make search results for navigable and improve the performance of the endpoint. Example: 4"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "The number of search results that should be returned for each page. Limiting the number of results per page improves the endpoint's performance. Use the page parameter to search the different pages of data. Example: 10"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "organization_job_postings": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Response array"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/apollo/organizations/{id}": {
      "get": {
        "summary": "Get Complete Organization Info",
        "description": "Use the Get Complete Organization Info endpoint to retrieve complete details about an organization in the Apollo database. This endpoint requires a master API key. If you attempt to call the endpoint without a master key, you will receive a 403 response. Refer to Create API Keys to learn how to create a master API key. u003e ? Credits u003e u003e Using this endpoint potentially consumes your account’s credits. Refer to Apollo’s for more details.",
        "operationId": "get_apollo_organizations_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The Apollo ID for the organization that you want to research. To find organization IDs, call the Organization Search endpoint and identify the organizaton_id value for the organization. Example: 5e66b6381e05b4008c8331b8"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "organization": {
                      "type": "object",
                      "description": "Response object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/apollo/news_articles/search": {
      "post": {
        "summary": "News Articles Search",
        "description": "Use the News Articles Search endpoint to find news articles related to companies in the Apollo database. Several filters are available to help narrow your search. Calling this endpoint does consume credits as part of your Apollo pricing plan .",
        "operationId": "post_apollo_news_articles_search",
        "parameters": [
          {
            "name": "organization_ids[]",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The Apollo IDs for the companies you want to include in your search results. Each company in the Apollo database is assigned a unique ID. To find IDs, call the Organization Search endpoint and identify the values for organization_id. Example: 5e66b6381e05b4008c8331b8"
          },
          {
            "name": "categories[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Filter your search to include only certain categories or sub-categories of news. Use the News search filter for companies within Apollo to uncover all possible categories and sub-categories. Examples: hires; investment; contract"
          },
          {
            "name": "published_at[min]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Set the lower bound of the date range you want to search. Use this parameter in combination with the published_at[max] parameter. This date should fall before the published_at[max] date. The date should be formatted as YYYY-MM-DD. Example: 2025-02-15"
          },
          {
            "name": "published_at[max]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Set the upper bound of the date range you want to search. Use this parameter in combination with the published_at[min] parameter. This date should fall after the published_at[min] date. The date should be formatted as YYYY-MM-DD. Example: 2025-05-15"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "The page number of the Apollo data that you want to retrieve. Use this parameter in combination with the per_page parameter to make search results for navigable and improve the performance of the endpoint. Example: 4"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "The number of search results that should be returned for each page. Limiting the number of results per page improves the endpoint's performance. Use the page parameter to search the different pages of data. Example: 10"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "type": "object",
                      "description": "Response object"
                    },
                    "news_articles": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Response array"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/apollo/accounts": {
      "post": {
        "summary": "Create an Account",
        "description": "Create a new account. Duplicate domains are not allowed. Requires a master API key.",
        "operationId": "post_apollo_accounts",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Account name"
                  },
                  "domain": {
                    "type": "string",
                    "description": "Account domain"
                  },
                  "owner_id": {
                    "type": "string",
                    "description": "Owner ID"
                  },
                  "account_stage_id": {
                    "type": "string",
                    "description": "Account stage ID"
                  }
                },
                "required": [
                  "name",
                  "domain"
                ]
              }
            }
          }
        }
      }
    },
    "/apollo/accounts/{account_id}": {
      "patch": {
        "summary": "Update an Account",
        "description": "Update fields on an existing account. Requires a master API key.",
        "operationId": "patch_apollo_accounts_account_id",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Account ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Account name"
                  },
                  "domain": {
                    "type": "string",
                    "description": "Account domain"
                  },
                  "owner_id": {
                    "type": "string",
                    "description": "Owner ID"
                  },
                  "account_stage_id": {
                    "type": "string",
                    "description": "Account stage ID"
                  },
                  "raw_address": {
                    "type": "string",
                    "description": "Raw address"
                  },
                  "phone": {
                    "type": "string",
                    "description": "Phone number"
                  },
                  "typed_custom_fields": {
                    "type": "object",
                    "description": "Typed custom fields object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/apollo/accounts/bulk_create": {
      "post": {
        "summary": "Bulk Create Accounts",
        "description": "Bulk create accounts. Requires a master API key.",
        "operationId": "post_apollo_accounts_bulk_create",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "created_accounts": {
                      "type": "string",
                      "description": "Accounts created in this request"
                    },
                    "created_accounts[].id": {
                      "type": "string",
                      "description": "Account ID"
                    },
                    "created_accounts[].name": {
                      "type": "string",
                      "description": "Account name"
                    },
                    "created_accounts[].domain": {
                      "type": "string",
                      "description": "Account domain"
                    },
                    "created_accounts[].team_id": {
                      "type": "string",
                      "description": "Team ID"
                    },
                    "created_accounts[].owner_id": {
                      "type": "string",
                      "description": "Owner ID"
                    },
                    "created_accounts[].account_stage_id": {
                      "type": "string",
                      "description": "Account stage ID"
                    },
                    "created_accounts[].phone": {
                      "type": "string",
                      "description": "Phone number"
                    },
                    "created_accounts[].created_at": {
                      "type": "string",
                      "description": "Created timestamp"
                    },
                    "created_accounts[].updated_at": {
                      "type": "string",
                      "description": "Updated timestamp"
                    },
                    "existing_accounts": {
                      "type": "string",
                      "description": "Accounts that already existed (dedupe matches)"
                    },
                    "existing_accounts[].id": {
                      "type": "string",
                      "description": "Account ID"
                    },
                    "existing_accounts[].name": {
                      "type": "string",
                      "description": "Account name"
                    },
                    "existing_accounts[].domain": {
                      "type": "string",
                      "description": "Account domain"
                    },
                    "existing_accounts[].team_id": {
                      "type": "string",
                      "description": "Team ID"
                    },
                    "existing_accounts[].owner_id": {
                      "type": "string",
                      "description": "Owner ID"
                    },
                    "existing_accounts[].account_stage_id": {
                      "type": "string",
                      "description": "Account stage ID"
                    },
                    "existing_accounts[].phone": {
                      "type": "string",
                      "description": "Phone number"
                    },
                    "existing_accounts[].created_at": {
                      "type": "string",
                      "description": "Created timestamp"
                    },
                    "existing_accounts[].updated_at": {
                      "type": "string",
                      "description": "Updated timestamp"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accounts": {
                    "type": "string",
                    "description": "Array of accounts to create"
                  },
                  "append_label_names": {
                    "type": "string",
                    "description": "Label names to append to each created account"
                  },
                  "run_dedupe": {
                    "type": "boolean",
                    "description": "Enable deduplication. Default false."
                  }
                },
                "required": [
                  "accounts"
                ]
              }
            }
          }
        }
      }
    },
    "/apollo/accounts/bulk_update": {
      "post": {
        "summary": "Bulk Update Accounts",
        "description": "Bulk update accounts. Requires a master API key.",
        "operationId": "post_apollo_accounts_bulk_update",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accounts": {
                      "type": "string",
                      "description": "Updated accounts"
                    },
                    "accounts[].id": {
                      "type": "string",
                      "description": "Account ID"
                    },
                    "accounts[].account_stage_id": {
                      "type": "string",
                      "description": "Account stage ID"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "account_ids": {
                    "type": "string",
                    "description": "IDs of accounts to update"
                  },
                  "account_attributes": {
                    "type": "string",
                    "description": "List of account attribute update objects"
                  },
                  "account_attributes[].name": {
                    "type": "string",
                    "description": "Account name"
                  },
                  "account_attributes[].owner_id": {
                    "type": "string",
                    "description": "Owner ID"
                  },
                  "account_attributes[].account_stage_id": {
                    "type": "string",
                    "description": "Account stage ID"
                  },
                  "async": {
                    "type": "boolean",
                    "description": "Run asynchronously. Default false."
                  }
                },
                "required": [
                  "account_ids",
                  "account_attributes"
                ]
              }
            }
          }
        }
      }
    },
    "/apollo/accounts/search": {
      "post": {
        "summary": "Search for Accounts",
        "description": "Search for accounts. Requires a master API key.",
        "operationId": "post_apollo_accounts_search",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "q_organization_name": {
                    "type": "string",
                    "description": "Organization name query"
                  },
                  "account_stage_ids": {
                    "type": "string",
                    "description": "Filter by account stage IDs"
                  },
                  "account_label_ids": {
                    "type": "string",
                    "description": "Filter by account label IDs"
                  },
                  "sort_by_field": {
                    "type": "string",
                    "description": "Sort field (e.g. account_last_activity_date, account_created_at, account_updated_at)"
                  },
                  "sort_ascending": {
                    "type": "boolean",
                    "description": "Sort ascending"
                  },
                  "page": {
                    "type": "integer",
                    "description": "Page number"
                  },
                  "per_page": {
                    "type": "integer",
                    "description": "Items per page"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/apollo/accounts/{id}": {
      "get": {
        "summary": "View an Account",
        "description": "View an account by ID. Requires a master API key.",
        "operationId": "get_apollo_accounts_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Account ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/apollo/accounts/update_owners": {
      "post": {
        "summary": "Update Account Owner for Multiple Accounts",
        "description": "Update account owner for multiple accounts. Requires a master API key.",
        "operationId": "post_apollo_accounts_update_owners",
        "parameters": [
          {
            "name": "account_ids[]",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Account IDs"
          },
          {
            "name": "owner_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "New owner ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accounts": {
                      "type": "string",
                      "description": "Updated accounts"
                    },
                    "accounts[].id": {
                      "type": "string",
                      "description": "Account ID"
                    },
                    "accounts[].owner_id": {
                      "type": "string",
                      "description": "Owner ID"
                    },
                    "accounts[].crm_owner_id": {
                      "type": "string",
                      "description": "CRM owner ID"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/apollo/account_stages": {
      "get": {
        "summary": "List Account Stages",
        "description": "List account stages. Requires a master API key.",
        "operationId": "get_apollo_account_stages",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "account_stages": {
                      "type": "string",
                      "description": "Account stages list"
                    },
                    "account_stages[].id": {
                      "type": "string",
                      "description": "Stage ID"
                    },
                    "account_stages[].team_id": {
                      "type": "string",
                      "description": "Team ID"
                    },
                    "account_stages[].display_name": {
                      "type": "string",
                      "description": "Display name"
                    },
                    "account_stages[].name": {
                      "type": "string",
                      "description": "Name"
                    },
                    "account_stages[].display_order": {
                      "type": "integer",
                      "description": "Display order"
                    },
                    "account_stages[].default_exclude_for_leadgen": {
                      "type": "boolean",
                      "description": "Default exclude for leadgen"
                    },
                    "account_stages[].category": {
                      "type": "string",
                      "description": "Category"
                    },
                    "account_stages[].is_meeting_set": {
                      "type": "boolean",
                      "description": "Is meeting set"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/apollo/contacts": {
      "post": {
        "summary": "Create a Contact",
        "description": "Create a new contact. Requires a master API key.",
        "operationId": "post_apollo_contacts",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string",
                    "description": "First name"
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Last name"
                  },
                  "organization_name": {
                    "type": "string",
                    "description": "Organization name"
                  },
                  "title": {
                    "type": "string",
                    "description": "Title"
                  },
                  "account_id": {
                    "type": "string",
                    "description": "Account ID"
                  },
                  "email": {
                    "type": "string",
                    "description": "Email"
                  },
                  "website_url": {
                    "type": "string",
                    "description": "Website URL"
                  },
                  "label_names": {
                    "type": "string",
                    "description": "Labels to set on the contact"
                  },
                  "contact_stage_id": {
                    "type": "string",
                    "description": "Contact stage ID"
                  },
                  "present_raw_address": {
                    "type": "string",
                    "description": "Raw address"
                  },
                  "direct_phone": {
                    "type": "string",
                    "description": "Direct phone"
                  },
                  "corporate_phone": {
                    "type": "string",
                    "description": "Corporate phone"
                  },
                  "mobile_phone": {
                    "type": "string",
                    "description": "Mobile phone"
                  },
                  "home_phone": {
                    "type": "string",
                    "description": "Home phone"
                  },
                  "other_phone": {
                    "type": "string",
                    "description": "Other phone"
                  },
                  "typed_custom_fields": {
                    "type": "object",
                    "description": "Typed custom fields object"
                  },
                  "run_dedupe": {
                    "type": "boolean",
                    "description": "Enable deduplication. Default false."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/apollo/contacts/{contact_id}": {
      "get": {
        "summary": "Update or View Contact",
        "description": "View a contact by ID. Requires a master API key.",
        "operationId": "get_apollo_contacts_contact_id",
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Contact ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contact": {
                      "type": "object",
                      "description": "Contact object"
                    },
                    "contact.id": {
                      "type": "string",
                      "description": "Contact ID"
                    },
                    "contact.first_name": {
                      "type": "string",
                      "description": "First name"
                    },
                    "contact.last_name": {
                      "type": "string",
                      "description": "Last name"
                    },
                    "contact.organization_name": {
                      "type": "string",
                      "description": "Organization name"
                    },
                    "contact.title": {
                      "type": "string",
                      "description": "Title"
                    },
                    "contact.email": {
                      "type": "string",
                      "description": "Email"
                    },
                    "contact.phone_numbers": {
                      "type": "string",
                      "description": "Phone numbers"
                    },
                    "contact.phone_numbers[].raw_number": {
                      "type": "string",
                      "description": "Raw number"
                    },
                    "contact.phone_numbers[].sanitized_number": {
                      "type": "string",
                      "description": "Sanitized number"
                    },
                    "contact.owner_id": {
                      "type": "string",
                      "description": "Owner ID"
                    },
                    "contact.account_id": {
                      "type": "string",
                      "description": "Account ID"
                    },
                    "contact.present_raw_address": {
                      "type": "string",
                      "description": "Raw address"
                    },
                    "contact.linkedin_url": {
                      "type": "string",
                      "description": "LinkedIn URL"
                    },
                    "contact.updated_at": {
                      "type": "string",
                      "description": "Updated timestamp"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "patch": {
        "summary": "Update or View Contact",
        "description": "Update fields on an existing contact. Requires a master API key.",
        "operationId": "patch_apollo_contacts_contact_id",
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Contact ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contact": {
                      "type": "object",
                      "description": "Updated contact"
                    },
                    "contact.id": {
                      "type": "string",
                      "description": "Contact ID"
                    },
                    "contact.first_name": {
                      "type": "string",
                      "description": "First name"
                    },
                    "contact.last_name": {
                      "type": "string",
                      "description": "Last name"
                    },
                    "contact.email": {
                      "type": "string",
                      "description": "Email"
                    },
                    "contact.title": {
                      "type": "string",
                      "description": "Title"
                    },
                    "contact.organization_name": {
                      "type": "string",
                      "description": "Organization name"
                    },
                    "contact.owner_id": {
                      "type": "string",
                      "description": "Owner ID"
                    },
                    "contact.account_id": {
                      "type": "string",
                      "description": "Account ID"
                    },
                    "contact.present_raw_address": {
                      "type": "string",
                      "description": "Raw address"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string",
                    "description": "First name"
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Last name"
                  },
                  "organization_name": {
                    "type": "string",
                    "description": "Organization name"
                  },
                  "title": {
                    "type": "string",
                    "description": "Title"
                  },
                  "account_id": {
                    "type": "string",
                    "description": "Account ID"
                  },
                  "email": {
                    "type": "string",
                    "description": "Email"
                  },
                  "website_url": {
                    "type": "string",
                    "description": "Website URL"
                  },
                  "label_names": {
                    "type": "string",
                    "description": "Labels to set on the contact"
                  },
                  "contact_stage_id": {
                    "type": "string",
                    "description": "Contact stage ID"
                  },
                  "present_raw_address": {
                    "type": "string",
                    "description": "Raw address"
                  },
                  "direct_phone": {
                    "type": "string",
                    "description": "Direct phone"
                  },
                  "corporate_phone": {
                    "type": "string",
                    "description": "Corporate phone"
                  },
                  "mobile_phone": {
                    "type": "string",
                    "description": "Mobile phone"
                  },
                  "home_phone": {
                    "type": "string",
                    "description": "Home phone"
                  },
                  "other_phone": {
                    "type": "string",
                    "description": "Other phone"
                  },
                  "typed_custom_fields": {
                    "type": "object",
                    "description": "Typed custom fields object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/apollo/contacts/bulk_create": {
      "post": {
        "summary": "Bulk Create Contacts",
        "description": "Bulk create contacts. Requires a master API key.",
        "operationId": "post_apollo_contacts_bulk_create",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "created_contacts": {
                      "type": "string",
                      "description": "Contacts created in this request"
                    },
                    "created_contacts[].id": {
                      "type": "string",
                      "description": "Contact ID"
                    },
                    "created_contacts[].first_name": {
                      "type": "string",
                      "description": "First name"
                    },
                    "created_contacts[].last_name": {
                      "type": "string",
                      "description": "Last name"
                    },
                    "created_contacts[].organization_name": {
                      "type": "string",
                      "description": "Organization name"
                    },
                    "created_contacts[].title": {
                      "type": "string",
                      "description": "Title"
                    },
                    "created_contacts[].owner_id": {
                      "type": "string",
                      "description": "Owner ID"
                    },
                    "created_contacts[].account_id": {
                      "type": "string",
                      "description": "Account ID"
                    },
                    "created_contacts[].email": {
                      "type": "string",
                      "description": "Email"
                    },
                    "created_contacts[].phone_numbers": {
                      "type": "string",
                      "description": "Phone numbers"
                    },
                    "created_contacts[].typed_custom_fields": {
                      "type": "object",
                      "description": "Typed custom fields object"
                    },
                    "created_contacts[].updated_at": {
                      "type": "string",
                      "description": "Updated timestamp"
                    },
                    "existing_contacts": {
                      "type": "string",
                      "description": "Contacts that already existed (dedupe matches)"
                    },
                    "existing_contacts[].id": {
                      "type": "string",
                      "description": "Contact ID"
                    },
                    "existing_contacts[].first_name": {
                      "type": "string",
                      "description": "First name"
                    },
                    "existing_contacts[].last_name": {
                      "type": "string",
[...]
