{
  "openapi": "3.0.3",
  "info": {
    "title": "AIsa API proxy",
    "description": "APIs for prediction markets.",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/kalshi/markets": {
      "get": {
        "summary": "Get Kalshi Markets",
        "description": "List Kalshi prediction markets with their pricing, volume and status, optionally filtered by market ticker, event ticker, keyword search, status or minimum volume. Results are cursor-paginated.",
        "operationId": "get_kalshi-markets",
        "parameters": [
          {
            "name": "market_ticker",
            "in": "query",
            "required": false,
            "description": "Restrict results to one or more specific Kalshi markets by their market ticker.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "KXMAYORNYCPARTY-25-D"
              ]
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "event_ticker",
            "in": "query",
            "required": false,
            "description": "Restrict results to markets belonging to one or more events, identified by event ticker.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "KXMAYORNYCPARTY-25"
              ]
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Keyword query matched against market title and description; the value must be URL-encoded.",
            "schema": {
              "type": "string",
              "example": "bitcoin"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter by trading state: `open` markets still accept trades, `closed` markets no longer do.",
            "schema": {
              "type": "string",
              "enum": [
                "open",
                "closed"
              ],
              "example": "open"
            }
          },
          {
            "name": "min_volume",
            "in": "query",
            "required": false,
            "description": "Keep only markets whose total trading volume is at least this amount, in dollars.",
            "schema": {
              "type": "number",
              "example": 10000000
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of markets to return per page.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10,
              "example": 20
            }
          },
          {
            "name": "pagination_key",
            "in": "query",
            "required": false,
            "description": "Opaque cursor for fetching the next page; take it from the pagination object of the previous response.",
            "schema": {
              "type": "string",
              "example": "eyJvcGVuX3RpbWUiOiIyMDI1LTAxLTE5VDEyOjAwOjAwLjAwMFoiLCJtYXJrZXRfdGlja2VyIjoiS1hNQVlPUk5ZQ1BBUlRZLTI1LUQiLCJ0b3RhbCI6MTUwfQ=="
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Kalshi markets response with pagination",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "markets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "event_ticker": {
                            "type": "string",
                            "description": "Ticker of the event this market belongs to.",
                            "example": "KXMAYORNYCPARTY-25"
                          },
                          "market_ticker": {
                            "type": "string",
                            "description": "Ticker uniquely identifying this market; use it to query price, trades or order book.",
                            "example": "KXMAYORNYCPARTY-25-D"
                          },
                          "title": {
                            "type": "string",
                            "description": "Human-readable question the market resolves.",
                            "example": "Will a representative of the Democratic party win the NYC Mayor race in 2025?"
                          },
                          "start_time": {
                            "type": "integer",
                            "description": "When trading on the market opens.",
                            "example": 1731150000
                          },
                          "end_time": {
                            "type": "integer",
                            "description": "Scheduled time at which the market is expected to end.",
                            "example": 1793775600
                          },
                          "close_time": {
                            "type": "integer",
                            "nullable": true,
                            "description": "When the market actually resolved and closed; may precede end_time if it finished early, and is null while still open.",
                            "example": 1793775600
                          },
                          "status": {
                            "type": "string",
                            "description": "Current trading state: `open` still accepts trades, `closed` no longer does.",
                            "enum": [
                              "open",
                              "closed"
                            ],
                            "example": "open"
                          },
                          "last_price": {
                            "type": "number",
                            "description": "Price of the most recent trade.",
                            "example": 89
                          },
                          "volume": {
                            "type": "number",
                            "description": "Cumulative trading volume since the market opened.",
                            "example": 18261146
                          },
                          "volume_24h": {
                            "type": "number",
                            "description": "Trading volume over the trailing 24 hours.",
                            "example": 931138
                          },
                          "result": {
                            "type": "string",
                            "nullable": true,
                            "description": "Final outcome of the market once resolved; null while unresolved.\n[⚠️Note:已裁决时 result 的具体取值集合源码未说明，待研发确认。]",
                            "example": null
                          }
                        }
                      },
                      "description": "List of matching Kalshi markets."
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "limit": {
                          "type": "integer",
                          "example": 20,
                          "description": "Page size that was applied to this response."
                        },
                        "total": {
                          "type": "integer",
                          "description": "Total number of markets matching the filters across all pages.",
                          "example": 150
                        },
                        "has_more": {
                          "type": "boolean",
                          "description": "Whether further pages of results remain.",
                          "example": true
                        },
                        "pagination_key": {
                          "type": "string",
                          "description": "Cursor to pass as pagination_key on the next request; present only when more results remain.",
                          "example": "eyJvcGVuX3RpbWUiOiIyMDI1LTAxLTE5VDEyOjAwOjAwLjAwMFoiLCJtYXJrZXRfdGlja2VyIjoiS1hNQVlPUk5ZQ1BBUlRZLTI1LUQiLCJ0b3RhbCI6MTUwfQ=="
                        }
                      },
                      "description": "Pagination metadata for the result set."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid limit parameter",
                      "description": "Short machine-readable error code for the failed request."
                    },
                    "message": {
                      "type": "string",
                      "example": "limit must be a number between 1 and 100",
                      "description": "Human-readable explanation of why the request was rejected."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/kalshi/trades": {
      "get": {
        "summary": "Get Kalshi Trades",
        "description": "List historical executed trades for Kalshi markets, optionally filtered by market ticker and a time window, returning per-trade price, contract count and taker side. Results are cursor-paginated.",
        "operationId": "get_kalshi-trades",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": false,
            "description": "Restrict trades to a single Kalshi market by its ticker.",
            "schema": {
              "type": "string",
              "example": "KXNFLGAME-25NOV09PITLAC-PIT"
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "description": "Lower bound of the trade time window; only trades at or after this moment are returned.",
            "schema": {
              "type": "integer",
              "example": 1762716000
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "description": "Upper bound of the trade time window; only trades at or before this moment are returned.",
            "schema": {
              "type": "integer",
              "example": 1762720600
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of trades to return per page.",
            "schema": {
              "type": "integer",
              "default": 100,
              "example": 10
            }
          },
          {
            "name": "pagination_key",
            "in": "query",
            "required": false,
            "description": "Opaque cursor for fetching the next page; take it from the pagination object of the previous response.",
            "schema": {
              "type": "string",
              "example": "eyJjcmVhdGVkX3RpbWUiOiIyMDI1LTAxLTE5VDEyOjAwOjAwLjAwMFoiLCJ0cmFkZV9pZCI6IjEyMzQ1Njc4OTAiLCJ0b3RhbCI6NTAwMDB9"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Kalshi trades response with pagination",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "trades": {
                      "type": "array",
                      "description": "List of executed trades matching the filters.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "trade_id": {
                            "type": "string",
                            "description": "Identifier uniquely referencing this individual trade.",
                            "example": "587f9eb0-1ae1-7b53-9536-fcf3fc503630"
                          },
                          "market_ticker": {
                            "type": "string",
                            "description": "Ticker of the market on which the trade executed.",
                            "example": "KXNFLGAME-25NOV09PITLAC-PIT"
                          },
                          "count": {
                            "type": "integer",
                            "description": "Number of contracts exchanged in this trade.",
                            "example": 93
                          },
                          "yes_price": {
                            "type": "integer",
                            "description": "Execution price of the yes side, expressed in cents.",
                            "example": 1
                          },
                          "no_price": {
                            "type": "integer",
                            "description": "Execution price of the no side, expressed in cents.",
                            "example": 99
                          },
                          "yes_price_dollars": {
                            "type": "number",
                            "description": "Execution price of the yes side, expressed in dollars.",
                            "example": 0.01
                          },
                          "no_price_dollars": {
                            "type": "number",
                            "description": "Execution price of the no side, expressed in dollars.",
                            "example": 0.99
                          },
                          "taker_side": {
                            "type": "string",
                            "description": "Which side initiated the trade by crossing the spread: `yes` or `no`.",
                            "enum": [
                              "yes",
                              "no"
                            ],
                            "example": "yes"
                          },
                          "created_time": {
                            "type": "integer",
                            "description": "Moment at which the trade was executed.",
                            "example": 1762718746
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "limit": {
                          "type": "integer",
                          "example": 50,
                          "description": "Page size that was applied to this response."
                        },
                        "total": {
                          "type": "integer",
                          "description": "Total number of trades matching the filters across all pages.",
                          "example": 43154
                        },
                        "has_more": {
                          "type": "boolean",
                          "description": "Whether further pages of results remain.",
                          "example": true
                        },
                        "pagination_key": {
                          "type": "string",
                          "description": "Cursor to pass as pagination_key on the next request; present only when more results remain.",
                          "example": "eyJjcmVhdGVkX3RpbWUiOiIyMDI1LTAxLTE5VDEyOjAwOjAwLjAwMFoiLCJ0cmFkZV9pZCI6IjEyMzQ1Njc4OTAiLCJ0b3RhbCI6NTAwMDB9"
                        }
                      },
                      "description": "Pagination metadata for the result set."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid parameters",
                      "description": "Short machine-readable error code for the failed request."
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid time range or parameters",
                      "description": "Human-readable explanation of why the request was rejected."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/kalshi/market-price/{market_ticker}": {
      "parameters": [
        {
          "name": "market_ticker",
          "in": "path",
          "required": true,
          "description": "The market ticker for the Kalshi market",
          "schema": {
            "type": "string",
            "example": "KXNFLGAME-25AUG16ARIDEN-ARI"
          }
        }
      ],
      "get": {
        "summary": "Get Kalshi Market Price",
        "description": "Get the price of a single Kalshi market identified by its market ticker, for both the yes and no sides. Returns the latest available price by default, or the historical price at a given timestamp when at_time is supplied.",
        "operationId": "get_kalshi-market-price",
        "parameters": [
          {
            "name": "at_time",
            "in": "query",
            "required": false,
            "description": "Fetch the historical price as of this moment; omit to get the latest available price.",
            "schema": {
              "type": "integer",
              "example": 1762164600
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Market price response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "yes": {
                      "type": "object",
                      "description": "Price information for the yes side of the market.",
                      "properties": {
                        "price": {
                          "type": "number",
                          "description": "Yes-side price, expressed in dollars as a probability-like value between 0 and 1.",
                          "example": 0.75
                        },
                        "at_time": {
                          "type": "integer",
                          "description": "Moment the returned yes-side price corresponds to.",
                          "example": 1762164600
                        }
                      },
                      "required": [
                        "price",
                        "at_time"
                      ]
                    },
                    "no": {
                      "type": "object",
                      "description": "Price information for the no side of the market.",
                      "properties": {
                        "price": {
                          "type": "number",
                          "description": "No-side price, expressed in dollars as a probability-like value between 0 and 1.",
                          "example": 0.25
                        },
                        "at_time": {
                          "type": "integer",
                          "description": "Moment the returned no-side price corresponds to.",
                          "example": 1762164600
                        }
                      },
                      "required": [
                        "price",
                        "at_time"
                      ]
                    }
                  },
                  "required": [
                    "yes",
                    "no"
                  ]
                },
                "examples": {
                  "with_at_time": {
                    "summary": "Historical price lookup",
                    "description": "Response when `at_time` parameter is provided",
                    "value": {
                      "yes": {
                        "price": 0.75,
                        "at_time": 1762164600
                      },
                      "no": {
                        "price": 0.25,
                        "at_time": 1762164600
                      }
                    }
                  },
                  "real_time": {
                    "summary": "Real-time price lookup",
                    "description": "Response when `at_time` parameter is omitted (most recent price)",
                    "value": {
                      "yes": {
                        "price": 0.82,
                        "at_time": 1757008834
                      },
                      "no": {
                        "price": 0.18,
                        "at_time": 1757008834
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid at_time parameter",
                      "description": "Short machine-readable error code for the failed request."
                    },
                    "message": {
                      "type": "string",
                      "example": "at_time must be a valid Unix timestamp in seconds",
                      "description": "Human-readable explanation of why the request was rejected."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Market not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Not Found",
                      "description": "Short machine-readable error code indicating the market was not found."
                    },
                    "message": {
                      "type": "string",
                      "example": "No price data found for market_ticker KXNFLGAME-25AUG16ARIDEN-ARI",
                      "description": "Human-readable explanation that no price data exists for the requested market."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/kalshi/orderbooks": {
      "get": {
        "summary": "Get Kalshi Orderbook History",
        "description": "Get historical order book snapshots for a single Kalshi market over a time window, returning yes/no bid levels in both cents and dollars. When no time window is given, returns only the latest snapshot. Results are cursor-paginated.",
        "operationId": "get_kalshi-orderbooks",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": true,
            "description": "Kalshi market ticker whose order book history is requested.",
            "schema": {
              "type": "string",
              "example": "KXNFLGAME-25AUG16ARIDEN-ARI"
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "description": "Lower bound of the snapshot time window; omit together with end_time to get only the latest snapshot.",
            "schema": {
              "type": "integer",
              "example": 1760470000000
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "description": "Upper bound of the snapshot time window; omit together with start_time to get only the latest snapshot.",
            "schema": {
              "type": "integer",
              "example": 1760480000000
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of snapshots to return per page; ignored when fetching only the latest snapshot.",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 200,
              "example": 100
            }
          },
          {
            "name": "paginationKey",
            "in": "query",
            "required": false,
            "description": "Opaque cursor for fetching the next page; take it from the pagination object of the previous response.",
            "schema": {
              "type": "string",
              "example": "eyJ0aW1lc3RhbXAiOjE3NjA0NzAwMDAwMDAsInRpY2tlciI6IktYTkZMR0FNRS0yNUFVRzE2QVJJREVOLUFSSSIsInRvdGFsIjoxMDB9"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Kalshi orderbook history response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "snapshots": {
                      "type": "array",
                      "description": "Order book snapshots ordered through the requested time window.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "orderbook": {
                            "type": "object",
                            "properties": {
                              "yes": {
                                "type": "array",
                                "description": "Resting yes-side orders, each as a [price, contract count] pair with price in cents.",
                                "items": {
                                  "type": "array",
                                  "description": "[price_in_cents, contract_count]",
                                  "items": {
                                    "type": "number"
                                  },
                                  "minItems": 2,
                                  "maxItems": 2,
                                  "example": [
                                    75,
                                    100
                                  ]
                                }
                              },
                              "no": {
                                "type": "array",
                                "description": "Resting no-side orders, each as a [price, contract count] pair with price in cents.",
                                "items": {
                                  "type": "array",
                                  "description": "[price_in_cents, contract_count]",
                                  "items": {
                                    "type": "number"
                                  },
                                  "minItems": 2,
                                  "maxItems": 2,
                                  "example": [
                                    25,
                                    100
                                  ]
                                }
                              },
                              "yes_dollars": {
                                "type": "array",
                                "description": "Resting yes-side orders, each as a [price, contract count] pair with price in dollars.",
                                "items": {
                                  "type": "array",
                                  "description": "[price_as_dollar_string, contract_count]",
                                  "minItems": 2,
                                  "maxItems": 2,
                                  "items": {
                                    "oneOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "number"
                                      }
                                    ]
                                  },
                                  "example": [
                                    "0.75",
                                    100
                                  ]
                                }
                              },
                              "no_dollars": {
                                "type": "array",
                                "description": "Resting no-side orders, each as a [price, contract count] pair with price in dollars.",
                                "items": {
                                  "type": "array",
                                  "description": "[price_as_dollar_string, contract_count]",
                                  "minItems": 2,
                                  "maxItems": 2,
                                  "items": {
                                    "oneOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "number"
                                      }
                                    ]
                                  },
                                  "example": [
                                    "0.25",
                                    100
                                  ]
                                }
                              }
                            },
                            "description": "The bid levels of the order book at this snapshot, split by side and price unit."
                          },
                          "timestamp": {
                            "type": "integer",
                            "description": "Moment this order book snapshot was captured.",
                            "example": 1760471849407
                          },
                          "ticker": {
                            "type": "string",
                            "description": "Ticker of the market this snapshot belongs to.",
                            "example": "KXNFLGAME-25AUG16ARIDEN-ARI"
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "limit": {
                          "type": "integer",
                          "example": 100,
                          "description": "Page size that was applied to this response."
                        },
                        "count": {
                          "type": "integer",
                          "description": "Number of snapshots returned in this page.",
                          "example": 4
                        },
                        "paginationKey": {
                          "type": "string",
                          "description": "Cursor to pass as paginationKey on the next request; present only when more results remain.",
                          "example": "eyJ0aW1lc3RhbXAiOjE3NjA0NzAwMDAwMDAsInRpY2tlciI6IktYTkZMR0FNRS0yNUFVRzE2QVJJREVOLUFSSSIsInRvdGFsIjoxMDB9"
                        },
                        "has_more": {
                          "type": "boolean",
                          "description": "Whether further pages of snapshots remain.",
                          "example": false
                        }
                      },
                      "description": "Pagination metadata for the result set."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid parameters",
                      "description": "Short machine-readable error code for the failed request."
                    },
                    "message": {
                      "type": "string",
                      "example": "ticker, start_time, and end_time are required",
                      "description": "Human-readable explanation of why the request was rejected."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "AISA API Key",
        "description": "Your AIsa API key as a Bearer token."
      }
    }
  }
}
