{
  "openapi": "3.0.0",
  "info": {
    "title": "Perplexity Sonar API",
    "version": "1.0.0",
    "description": "Perplexity Sonar API — LLM with built-in web search. Returns AI-generated answers with citations from web sources."
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "ChatCompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "Selects which Sonar model handles the request, trading off speed, depth, and cost. Should match the model implied by the endpoint path.",
            "enum": [
              "sonar",
              "sonar-pro",
              "sonar-reasoning-pro",
              "sonar-deep-research"
            ]
          },
          "messages": {
            "type": "array",
            "description": "Ordered conversation history sent to the model; the last user message is the query to answer, while earlier turns provide context.",
            "items": {
              "type": "object",
              "required": [
                "role",
                "content"
              ],
              "properties": {
                "role": {
                  "type": "string",
                  "enum": [
                    "system",
                    "user",
                    "assistant"
                  ],
                  "description": "Identifies who authored the message: `system` sets behavior, `user` is the asker, `assistant` is a prior model reply."
                },
                "content": {
                  "type": "string",
                  "description": "The text body of this message turn."
                }
              }
            }
          },
          "max_tokens": {
            "type": "integer",
            "description": "Upper bound on tokens generated in the answer; the model stops once this limit is reached. Leave unset to use the model default."
          },
          "temperature": {
            "type": "number",
            "description": "Sampling randomness: lower values yield more focused, deterministic answers; higher values increase diversity.",
            "default": 0.2,
            "minimum": 0,
            "maximum": 2
          },
          "top_p": {
            "type": "number",
            "description": "Nucleus sampling: the model only samples from the smallest set of tokens whose cumulative probability reaches this threshold. Usually tune either this or temperature, not both.",
            "default": 0.9,
            "minimum": 0,
            "maximum": 1
          },
          "top_k": {
            "type": "integer",
            "description": "Restricts sampling to the K highest-probability tokens at each step; a value of 0 disables this filter.",
            "default": 0,
            "minimum": 0,
            "maximum": 2048
          },
          "stream": {
            "type": "boolean",
            "description": "When enabled, the answer is pushed incrementally as server-sent events instead of returned in a single response.",
            "default": false
          },
          "search_context": {
            "type": "string",
            "description": "How much web search context the model pulls in before answering; more context can improve thoroughness but raises per-request cost.",
            "enum": [
              "low",
              "medium",
              "high"
            ],
            "default": "low"
          },
          "frequency_penalty": {
            "type": "number",
            "description": "Discourages reusing tokens in proportion to how often they already appeared, reducing verbatim repetition.",
            "default": 1,
            "minimum": 0,
            "maximum": 2
          },
          "presence_penalty": {
            "type": "number",
            "description": "Discourages tokens that have appeared at all, nudging the model toward introducing new topics.",
            "default": 0,
            "minimum": -2,
            "maximum": 2
          },
          "return_citations": {
            "type": "boolean",
            "description": "Whether the response should include the source citations and search results backing the answer.",
            "default": true
          },
          "search_recency_filter": {
            "type": "string",
            "description": "Restricts web search to results published within the given recency window (e.g. past hour/day/week/month), useful for time-sensitive queries.",
            "enum": [
              "month",
              "week",
              "day",
              "hour"
            ]
          },
          "search_domain_filter": {
            "type": "array",
            "description": "Whitelist of domains the web search is confined to; only sources from these domains are considered.",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of this completion, useful for logging and tracing."
          },
          "model": {
            "type": "string",
            "description": "The Sonar model that actually produced this completion."
          },
          "object": {
            "type": "string",
            "example": "chat.completion",
            "description": "Type tag of the returned object, marking it as a chat completion result."
          },
          "created": {
            "type": "integer",
            "description": "When the completion was generated, as a Unix timestamp in seconds."
          },
          "choices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "index": {
                  "type": "integer",
                  "description": "Position of this candidate within the choices list."
                },
                "message": {
                  "type": "object",
                  "properties": {
                    "role": {
                      "type": "string",
                      "description": "Author role of the reply, which is the assistant."
                    },
                    "content": {
                      "type": "string",
                      "description": "The AI-generated answer text, containing inline citation markers such as [1][2] that map to the citations list."
                    }
                  },
                  "description": "The reply message produced by the model for this candidate."
                },
                "finish_reason": {
                  "type": "string",
                  "enum": [
                    "stop",
                    "length"
                  ],
                  "description": "Why generation stopped: `stop` for a natural end, `length` when the token limit was hit."
                }
              }
            },
            "description": "The generated answer candidates; typically contains a single entry holding the model's reply."
          },
          "citations": {
            "type": "array",
            "description": "Source URLs cited in the answer, indexed to match the inline [n] markers in the answer text.",
            "items": {
              "type": "string"
            }
          },
          "search_results": {
            "type": "array",
            "description": "The web search results the answer was grounded in, each with metadata about the source.",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "Title of the search result page."
                },
                "url": {
                  "type": "string",
                  "description": "Link to the search result source."
                },
                "snippet": {
                  "type": "string",
                  "description": "Excerpt of the source text relevant to the query."
                },
                "date": {
                  "type": "string",
                  "description": "Publication date of the source.\n[⚠️Note:源码未声明日期格式，待研发确认。]"
                },
                "source": {
                  "type": "string",
                  "description": "Name of the publisher or site the result came from."
                }
              }
            }
          },
          "usage": {
            "type": "object",
            "properties": {
              "prompt_tokens": {
                "type": "integer",
                "description": "Number of tokens in the input messages."
              },
              "completion_tokens": {
                "type": "integer",
                "description": "Number of tokens in the generated answer."
              },
              "total_tokens": {
                "type": "integer",
                "description": "Sum of prompt and completion tokens for the request."
              },
              "search_context_size": {
                "type": "string",
                "description": "The effective amount of search context applied, reflecting the search_context setting used."
              }
            },
            "description": "Token consumption and search usage accounting for this request."
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/perplexity/sonar": {
      "post": {
        "tags": [
          "Perplexity Sonar"
        ],
        "operationId": "post_perplexity-sonar",
        "summary": "Sonar — lightweight search + answer",
        "description": "Run a single-turn chat completion against the lightweight `sonar` model, which performs a live web search and returns an AI-written answer with source citations. Optimized for quick, low-cost factual lookups.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              },
              "example": {
                "model": "sonar",
                "messages": [
                  {
                    "role": "user",
                    "content": "What are the latest developments in quantum computing?"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with AI answer and citations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/perplexity/sonar-pro": {
      "post": {
        "tags": [
          "Perplexity Sonar Pro"
        ],
        "operationId": "post_perplexity-sonar-pro",
        "summary": "Sonar Pro — advanced search for complex queries",
        "description": "Run a chat completion against the `sonar-pro` model, which handles more complex, multi-step queries and follow-up reasoning while grounding the answer in live web search and citations.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              },
              "example": {
                "model": "sonar-pro",
                "messages": [
                  {
                    "role": "user",
                    "content": "Compare the economic policies of the US and EU regarding AI regulation in 2025-2026"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with AI answer and citations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/perplexity/sonar-reasoning-pro": {
      "post": {
        "tags": [
          "Perplexity Sonar Reasoning"
        ],
        "operationId": "post_perplexity-sonar-reasoning-pro",
        "summary": "Sonar Reasoning Pro — chain-of-thought reasoning with search",
        "description": "Run a chat completion against the `sonar-reasoning-pro` model, which applies chain-of-thought reasoning over live web search results for step-by-step analytical answers.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              },
              "example": {
                "model": "sonar-reasoning-pro",
                "messages": [
                  {
                    "role": "user",
                    "content": "Analyze whether Tesla stock is overvalued based on current P/E ratio compared to industry averages"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with AI answer and citations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/perplexity/sonar-deep-research": {
      "post": {
        "tags": [
          "Perplexity Deep Research"
        ],
        "operationId": "post_perplexity-sonar-deep-research",
        "summary": "Sonar Deep Research — exhaustive research & comprehensive reports",
        "description": "Run a chat completion against the `sonar-deep-research` model, which performs exhaustive multi-step web research and produces a comprehensive report. Requests can take noticeably longer than other Sonar models.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              },
              "example": {
                "model": "sonar-deep-research",
                "messages": [
                  {
                    "role": "user",
                    "content": "Write a comprehensive analysis of the global semiconductor supply chain risks in 2026"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with AI answer and citations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}
