{
  "openapi": "3.0.0",
  "info": {
    "title": "TXYZ Platform API",
    "version": "1.0.0",
    "description": "API documentation for platform.txyz.ai services including academic search functionality",
    "contact": {
      "email": "support@txyz.ai"
    },
    "license": {
      "name": "Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "paths": {
    "/scholar/search/mixed": {
      "post": {
        "summary": "Smart search combining web and academic results",
        "description": "Run a single query that blends general web results with academic-paper results, returning a unified ranked list plus a `search_id` you can later pass to `explainSearch` for an AI explanation.",
        "operationId": "searchSmart",
        "tags": [
          "Search",
          "Smart"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "The search terms to look up.",
            "schema": {
              "type": "string",
              "example": "machine learning"
            }
          },
          {
            "name": "max_num_results",
            "in": "query",
            "description": "Caps how many results come back.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "as_ylo",
            "in": "query",
            "description": "Earliest publication year to include; results published before it are excluded.",
            "schema": {
              "type": "integer",
              "nullable": true,
              "minimum": 1900,
              "maximum": 2030
            }
          },
          {
            "name": "as_yhi",
            "in": "query",
            "description": "Latest publication year to include; results published after it are excluded.",
            "schema": {
              "type": "integer",
              "nullable": true,
              "minimum": 1900,
              "maximum": 2030
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful search response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSearchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/scholar/search/web": {
      "post": {
        "summary": "Search the web",
        "description": "Run a web search and return structured results (title, link, snippet). The response carries a `search_id` reusable with `explainSearch`.",
        "operationId": "searchWeb",
        "tags": [
          "Search",
          "Web"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "The search terms to look up.",
            "schema": {
              "type": "string",
              "example": "machine learning"
            }
          },
          {
            "name": "max_num_results",
            "in": "query",
            "description": "Caps how many results come back.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "as_ylo",
            "in": "query",
            "description": "Earliest publication year to include; results published before it are excluded.",
            "schema": {
              "type": "integer",
              "nullable": true,
              "minimum": 1900,
              "maximum": 2030
            }
          },
          {
            "name": "as_yhi",
            "in": "query",
            "description": "Latest publication year to include; results published after it are excluded.",
            "schema": {
              "type": "integer",
              "nullable": true,
              "minimum": 1900,
              "maximum": 2030
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful search response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebSearchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/scholar/search/scholar": {
      "post": {
        "summary": "Search academic papers",
        "description": "Search academic papers (via Google Scholar or comparable sources) and return per-paper metadata such as authors, citation count, and journal. The response carries a `search_id` reusable with `explainSearch`.",
        "operationId": "searchScholar",
        "tags": [
          "Search",
          "Academic"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "The search terms to look up.",
            "schema": {
              "type": "string",
              "example": "machine learning"
            }
          },
          {
            "name": "max_num_results",
            "in": "query",
            "description": "Caps how many results come back.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "as_ylo",
            "in": "query",
            "description": "Earliest publication year to include; results published before it are excluded.",
            "schema": {
              "type": "integer",
              "nullable": true,
              "minimum": 1900,
              "maximum": 2030
            }
          },
          {
            "name": "as_yhi",
            "in": "query",
            "description": "Latest publication year to include; results published after it are excluded.",
            "schema": {
              "type": "integer",
              "nullable": true,
              "minimum": 1900,
              "maximum": 2030
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful search response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScholarSearchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/scholar/search/explain": {
      "post": {
        "summary": "Explain search results",
        "description": "Generate an AI explanation of a previous search's results, addressed by its `search_id`, with controllable output language, format, and depth.",
        "operationId": "explainSearch",
        "tags": [
          "Search",
          "Explanation"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExplainSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful explanation response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExplainSearchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request - invalid parameters",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - invalid or missing API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "Search ID not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Rate limit exceeded",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "InternalError": {
        "description": "Internal server error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "ScholarSearchResponse": {
        "type": "object",
        "required": [
          "id",
          "results"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Identifier of this search request; pass it to `explainSearch` to get an explanation of these results."
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ScholarResult"
            },
            "description": "The academic paper result list."
          }
        }
      },
      "ScholarResult": {
        "type": "object",
        "required": [
          "title",
          "link",
          "snippet",
          "authors",
          "number_of_citations"
        ],
        "properties": {
          "title": {
            "type": "string",
            "description": "Title of the paper."
          },
          "link": {
            "type": "string",
            "format": "uri",
            "description": "URL to access the full paper."
          },
          "snippet": {
            "type": "string",
            "description": "Short summary or abstract of the paper."
          },
          "authors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Authors of the paper."
          },
          "number_of_citations": {
            "type": "integer",
            "minimum": 0,
            "description": "How many times the paper has been cited."
          },
          "year": {
            "type": "integer",
            "description": "Year the paper was published.",
            "minimum": 1900,
            "maximum": 2030
          },
          "journal": {
            "type": "string",
            "description": "Journal or conference the paper appeared in."
          }
        }
      },
      "WebSearchResponse": {
        "type": "object",
        "required": [
          "id",
          "results"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Identifier of this search request; pass it to `explainSearch` to get an explanation of these results."
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebResult"
            },
            "description": "The web search result list."
          }
        }
      },
      "WebResult": {
        "type": "object",
        "required": [
          "title",
          "link",
          "snippet"
        ],
        "properties": {
          "title": {
            "type": "string",
            "description": "Title of the web page."
          },
          "link": {
            "type": "string",
            "format": "uri",
            "description": "URL where the web page can be opened."
          },
          "snippet": {
            "type": "string",
            "description": "Short preview of the web page content."
          },
          "display_url": {
            "type": "string",
            "description": "Human-readable form of the URL for display."
          },
          "published_date": {
            "type": "string",
            "format": "date-time",
            "description": "When the web page was published."
          }
        }
      },
      "SmartSearchResponse": {
        "type": "object",
        "required": [
          "id",
          "results"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Identifier of this search request; pass it to `explainSearch` to get an explanation of these results."
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SmartResult"
            },
            "description": "The blended web-and-academic result list."
          },
          "search_type": {
            "type": "string",
            "enum": [
              "web",
              "academic",
              "hybrid"
            ],
            "description": "Which mix of sources the returned results actually drew from."
          }
        }
      },
      "SmartResult": {
        "type": "object",
        "required": [
          "title",
          "link",
          "snippet"
        ],
        "properties": {
          "title": {
            "type": "string",
            "description": "Title of the result."
          },
          "link": {
            "type": "string",
            "format": "uri",
            "description": "URL where the result content can be opened."
          },
          "snippet": {
            "type": "string",
            "description": "Short summary or abstract of the result."
          },
          "authors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Authors of the item, populated for academic results."
          },
          "number_of_citations": {
            "type": "integer",
            "minimum": 0,
            "description": "How many times the item has been cited, populated for academic results."
          },
          "type": {
            "type": "string",
            "enum": [
              "web",
              "academic"
            ],
            "description": "Whether this entry originates from the web or from academic sources."
          },
          "relevance_score": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "How relevant the result is to the query, on a 0-to-1 scale where higher is more relevant."
          }
        }
      },
      "ExplainSearchRequest": {
        "type": "object",
        "required": [
          "search_id"
        ],
        "properties": {
          "search_id": {
            "type": "string",
            "description": "Identifier of the earlier search whose results you want explained; obtained from the `id` field of a search response."
          },
          "response_mode": {
            "type": "string",
            "enum": [
              "COMPLETE",
              "SUMMARY",
              "BULLET_POINTS"
            ],
            "default": "COMPLETE",
            "description": "Output format of the explanation: a full write-up, a condensed summary, or bullet points."
          },
          "language": {
            "type": "string",
            "default": "en",
            "description": "Language the explanation should be written in, given as a language code (e.g. `en`, `zh`, `ar`).",
            "example": "ar"
          },
          "detail_level": {
            "type": "string",
            "enum": [
              "BRIEF",
              "MODERATE",
              "DETAILED"
            ],
            "default": "MODERATE",
            "description": "How much depth the explanation should go into."
          }
        }
      },
      "ExplainSearchResponse": {
        "type": "object",
        "required": [
          "search_id",
          "explanation"
        ],
        "properties": {
          "search_id": {
            "type": "string",
            "description": "Identifier of the search this explanation refers to."
          },
          "explanation": {
            "type": "string",
            "description": "The generated explanation of the search results."
          },
          "language": {
            "type": "string",
            "description": "Language the explanation was written in."
          },
          "response_mode": {
            "type": "string",
            "description": "Output format the explanation was rendered in."
          },
          "summary": {
            "type": "string",
            "description": "A brief summary of the explanation."
          },
          "key_insights": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Key takeaways distilled from the search results."
          },
          "confidence_score": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "How confident the model is in the explanation, on a 0-to-1 scale where higher is more confident."
          },
          "generated_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the explanation was generated."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message describing what went wrong"
          },
          "code": {
            "type": "integer",
            "description": "HTTP status code"
          },
          "details": {
            "type": "string",
            "description": "Additional error details"
          }
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ]
}
